/* helping adds*/

.clear{clear:both;font-size:1px;line-height:1px;height:0;overflow:hidden;}
.cfix:after{content: '';display: block;height: 0;font-size: 1px;line-height: 1px;overflow: hidden;clear: both;}
.juster{display:inline-block;width:100%;height:0;overflow:hidden;}
.jfix-after:after{content: '';display: inline-block;width: 100%;height: 0;overflow: hidden;}
.vfix{height:100%;width:0px;display:inline-block;vertical-align:middle;}
.vfix-before:before{content: '';height: 100%;width: 0;display: inline-block;vertical-align: middle;}

.hidden-block{position:absolute;left:-99999em;top:-99999em;}

/* /helping adds*/

/* ctext */

    .ctext{
        h1, h2, h3, h4, h5, h6{line-height: 1.25;margin-bottom: 15px;font-weight: 700;}
        h1{font-size: 36px;}
        h2{font-size: 32px;}
        h3{font-size: 28px;}
        h4{font-size: 24px;}
        h5{font-size: 20px;}
        h6{font-size: 16px;}
        p{margin-bottom: 10px;font-size: 14px;}
    }

/* /ctext */

/* base styles*/
*,*:before, *:after{box-sizing:border-box;outline:none;}
*,body,html{-webkit-text-size-adjust: none;-webkit-appearance: none;max-height: 9001em;}
html{height:100%;}
body{min-height:100%;width:100%;min-width:320px;font-family:'HelveticaNeueCyr',arial,sans-serif;background:#fff;color:#222221;position:relative;font-size: 15px;line-height: 1;

    /* styles for wp-admin panel */

    &.customize-support{
        .wp-panel-show{top:32px;} //fixed elements (if their has top:0) must has class .wp-panel-show
    }

    /* /styles for wp-admin panel */

}

body.hider {overflow: hidden;}
img{vertical-align:bottom;border:0;max-width:100%;}

/* adapted styles for wp-admin panel */

@media screen and (max-width: 782px){

    body{
        &.customize-support{
            .wp-panel-show{top:46px;}
        }
    }

    #wpadminbar{position: fixed!important;}

}
/* /adapted styles for wp-admin panel */

/* /base styles */

/* wraps styling*/

.mbox{max-width:1414px;width:100%;margin:0 auto;position:relative;z-index:5; padding: 0 15px;}
.mbox:after{content:"";clear:both;font-size:1px;line-height:1px;height:0;overflow:hidden;display:block;}

/* /wraps styling*/


.footer_placeholder{height: 200px;}
.footer{position:absolute;bottom:0;left:0;width:100%;z-index:2;overflow:hidden;}

input, textarea{
    &::-webkit-input-placeholder {color:#222221;}
    &:-moz-placeholder {color:#222221;opacity:1;}
    &::-moz-placeholder {color:#222221;opacity:1;}
    &:-ms-input-placeholder {color:#222221;}
}

/*End Layout*/

/*fonts*/
@mixin font-face($style-name, $file:$style-name, $weight:normal, $style:normal) {
    $filepath: "/fonts/" + $file;
    @font-face {
        font-family: quote($style-name);
        src: url($filepath + ".eot");
        src: url($filepath + ".eot?#iefix") format('embedded-opentype'),
        url($filepath + ".woff") format('woff'),
        url($filepath + ".ttf")  format('truetype'),
        url($filepath + ".svg#" + $style-name + "") format('svg');
        font-weight: $weight;
        font-style: $style;
    }
}

//  example -> @include font-face('PFDinTextPro', 'PFDinTextPro-Bold', 700, italic);


@include font-face('HelveticaNeueCyr', 'HelveticaNeueCyr-UltraLight', 100);
@include font-face('HelveticaNeueCyr', 'HelveticaNeueCyr-Light', 300);
@include font-face('HelveticaNeueCyr', 'HelveticaNeueCyr-Bold', 600);

/*/fonts*/
h1, h2 {font-size: 90px; color: #fff; text-transform: uppercase; margin: 15px 0; line-height: 95px;}
h3 {font-size: 50px; color: #fff; text-transform: uppercase; margin: 15px 0;line-height: 54px; letter-spacing: 1.5px;}
h4 {font-size: 41px; color: #fff; text-transform: uppercase; margin: 15px 0; line-height: 43px; }
.btn {background-color: #1e359b; color: #ffffff; text-transform: uppercase; padding: 9px 17px; border: none; transition: all 200ms; text-decoration: none; display: block; white-space: nowrap;
    &--big {padding: 46px 50px; font-size: 27px;}
    &:hover {opacity: 0.8;}
    &.dsb {pointer-events: none; opacity: 0.8;}
}
ul {list-style-type: none; padding: 0;}

.main {
    &.fixer {padding-top: 124px;}
}

header {position: relative;}
.header {background-color: #1e359c; display: flex; align-items: stretch; justify-content:center; height: 123px; top: -100px; z-index: 1000; width: 100%; transition: all 400ms;
    &.fixer {position: fixed; top: 0; transition: all 400ms;}
    &__main {position: relative; display: flex; align-items: stretch; height: 100%;}
    &__name {font-size: 50px; color: #fff; font-weight: 600; margin-top: 10px; margin-left: 56px;letter-spacing: 0.9px; text-transform: uppercase;}
    &__button {display: flex; flex-direction: column; align-items: center; justify-content: flex-end; text-transform: uppercase; text-decoration: none;  background-color: #ffffff; cursor: pointer; color: #203998; font-weight: 600; font-size: 26px; position: absolute; height: 100%; right: 100%; width: 188px; padding-left: 7px;
        &:after {position: absolute; right: 100%; width: 300%; display: block; height:100%; content: ''; background-color:#ffffff;}
    }
    &__triangle {  flex-direction: column; align-items: center; justify-content: flex-end; display: none;
        span {margin-top: 7px; margin-bottom: 17px;}
        &.active {display: flex;}
    }
    &__mid {display: flex; align-items: center; justify-content: space-between; height: 100%; width: 100%;
        &.active {position: relative;}
    }
    &__list {display: flex; margin: 0 126px 0 15px; height: 100%; align-items: stretch; text-transform: uppercase; font-weight: 300;
        li {display: flex; align-items: center; justify-content: center; position: relative;
            &:before {position: absolute; content: ''; width: 1px; height: 20px; background-color: #ffffff; left: 0; display: block; top: 50%; transform: translateY(-50%);}
            &:last-child {
                &:after {position: absolute; content: ''; width: 1px; height: 20px; background-color: #ffffff; right: 0; display: block; top: 50%; transform: translateY(-50%);}
            }
            &:hover {
                &+li {
                    &:before {display: none;}
                }
            }
        }
        a {height: 100%;  display: flex; align-items: center; justify-content: center; transition: all 200ms; color: #fff; text-decoration: none; padding: 0 15px; position: relative; letter-spacing: 0.5px;
            &:hover {background-color: #fff; color: #203998; }
        }
    }
    &__call {left: calc(50% + 600px); z-index: 10; transform: translateZ(0px) ;
        display: flex; align-items: center; justify-content: center; width: 132px; height: 132px; border: 4px solid #ffffff; padding: 7px; border-radius: 50%; position: absolute; top: 7px;
        a {font-weight: 600; color: #ffffff; text-align: center; text-decoration: none; text-transform: uppercase; background-color: #9c9c9c; width: 100%; height: 100%;border-radius: 50%; display: flex; align-items: center; justify-content: center; line-height: 19px; z-index: 3; }
        &:hover {
            .header__form{transform: scaleY(1);}
        }
    }
    &__form {width: 310px; background-color: #fff; position: absolute; top: 91px; right: 31px; z-index: 1; transform: scaleY(0); transition: all 200ms; transform-origin: 0 0;}
    &__buter { background-color: transparent; border: none; display: none; position: relative; height: 30px; width: 40px;
        span {display: block; width: 30px; height: 4px; background-color: #fff; transform-origin: 50% 50%; position: absolute; left: 0; transition: all 200ms;
            &:nth-child(1) {top: 0;}
            &:nth-child(2) {top: 50%; transform: translateY(-50%);}
            &:nth-child(3) {top: calc(100% - 4px);}
        }
        &.active {
            span {left: 0%;
                &:nth-child(1) {top: 50%; transform: rotateZ(45deg); height: 6px;}
                &:nth-child(2) {top: 50%; transform: rotateZ(45deg); display: none;}
                &:nth-child(3) {top: 50%; transform: rotateZ(135deg);height: 6px;}
            }
        }
    }
    &__menu {height: 100%;}
    &__cross { position: absolute; top: 50%;  left: 50%; transform: translate(-50%, -50%) rotateZ(45deg);  width: 50px; height: 50px; display: none;
        span { position: absolute; display: block; background-color: #9c9c9c; margin: 0; top: 50%;  left: 50%; transform-origin: 50% 50%; transform: translate(-50%, -50%);
            &:first-child {width: 40px; height: 12px; }
            &:last-child { height: 40px; width: 12px;  }
        }
        &.active {display: block;}
    }
}

.write {
    &__head {font-size: 18px; color: #203998; text-transform: uppercase; font-weight: 600; padding: 15px 22px;}
    &__under {background-color: #9d9d9d; padding: 15px 15px 10px 15px;}
    &__sub-head {font-size: 15px; color: #222221; font-weight: 400; }
    &__form {width: 100%; font-weight: 400; font-size: 15px; margin: 33px 0 0; display: flex; flex-direction: column; align-items: flex-end; justify-content: flex-start;
        textarea {width: 100%; border: none; padding: 5px; resize: none; height: 115px; margin-bottom: 3px;}
        input[type="text"] {width: 100%; border: none; margin: 5px 0; padding: 8px;}
        input[type="email"] {width: 100%; border: none; margin: 5px 0; padding: 8px;}

        label {display: flex; align-items: flex-start; justify-content: flex-start; margin-top: 12px;
            input {display: none;
                &:checked + i{
                    &:after {position: absolute; width: 12px; height: 12px; background-color: #474745; top: 50%; left: 50%; transform: translate(-50%, -50%); display: block; content: '';}
                }
            }
            i {width: 22px; height: 22px; border: 2px solid #474745; min-width: 22px; position: relative;}
            p {font-size: 11px; margin: 5px 0 0 12px;}
            a {color: #283384; font-size: 11px; text-transform: none; text-align: left; display: inline-block; font-weight: 400; line-height: 11px; }
        }
        button {margin-top: 7px;}
    }
}

.slider { margin-bottom: 0;
    &__part {  background-color: rgba(0, 0, 0, 0.7); position: relative; display: flex; align-items: flex-start; flex-direction: column; justify-content: center;}
    &__image {width: 100%; height: 100%; position: absolute;
        img {width: 100%; opacity: 0.5;     height: 100%; object-fit: cover;
            &:first-child {display: block;}
            &:last-child {display: none;}
        }
    }
    &__inner {display: flex; align-items: center; min-height: 737px;}
    &__sub-head {font-weight: 300; font-size: 36px; color: #fff; line-height: 42px; margin-top: 40px;}
    &__content {}
}

.test {
    &__wrapper {background-color: #9c9c9c; display: flex; align-items: stretch; justify-content: center;}
    &__left {width: 45%; display: flex; align-items: center; justify-content: flex-end;}
    &__box {width: 615px; padding: 19px 10px 8px 15px; }
    &__sub-head { font-size: 26px; color: #fff; font-weight: 300; margin-top: 25px;
        p {text-transform: uppercase; margin: 0;}
        span {display: block; line-height: 29px;}
    }
    &__image { margin-top: 66px;
        img {
            &:last-child {display: none;}
        }
    }
    &__line {color: #ffffff; font-weight: 300; text-transform: uppercase; margin-top: 50px; font-size: 14px; letter-spacing: 1.5px;
        p { margin: 0;}
    }
    &__right { width: 55%; background-repeat: no-repeat; background-size: cover; display: flex; position: relative; background-color: #000; overflow: hidden;}
    &__road {width: 100%; position: absolute; height: 68%;
        img {width: 100%; height: 100%; object-fit: cover;}
    }
    &__questions {    width: 786px; height: 100%; display: flex; align-items: flex-start; justify-content: center; padding-top: 50px; z-index: 10; position: relative;}
    &__wheel {width: 100%; height: 100%; top: 0; left:0; z-index: 2;
        img {width: 100%; height: 100%; object-fit: cover;}
    }
    &__progress {height: 36px; background-color: #4a4a4a; overflow: hidden;}
    &__complete {width: 0%; height: 100%; background-color: #1e359c; position: relative;
        &:after { border: 18px solid transparent;	border-left: 18px solid #1e359c; position: absolute; content: ''; display: block; right: -36px; top: 0; }
    }
}

.quest { width: 100%; display: flex; align-items: center; justify-content:center; height: 65%;
    &__rul {position: absolute; bottom: 0; z-index: 100; pointer-events: none;}
    &__question { margin: 0 auto; width: 80%; display: none;
        &.active {display: flex; flex-direction: column; justify-content: space-between;}
        &.hidden {display: flex; flex-direction: column; animation-name: movethis; animation-duration: 300ms; position: absolute; opacity: 1;}
    }
    &__form {width: 100%; display: none; height: 100%;
        &.active {display: flex;}
    }
    &__ask {background-color: #ffffff; width: 100%; font-size: 31px;  padding: 20px; text-align: center; border-radius: 5px;}
    &__buttons {display: flex; justify-content: space-between; margin-top: 20px;
        label { display: flex; align-items: center; border-radius: 5px; width: 148px; padding: 10px 10px; justify-content: center; cursor: pointer; font-size: 30px; text-transform: uppercase;
            &:hover {opacity: 0.9;}
            &:first-child {background-color: #f3d535; margin-left: 20px; }
            &:last-child {background-color: #dc373b; margin-right:20px; }
            input {}
            i {width: 15px; height: 15px; background-color: red;  margin: 15px; display: none;}
        }
    }
    &__advice {background-color: #fff; padding: 0px 20px 20px 20px; border-radius: 5px; display: none; font-size: 20px; margin: 0 15px;
        p {font-weight: 600;}
        span {font-weight: 400; line-height: 25px;}
    }
    &__button {display: flex;  align-self: flex-start;}
}

@keyframes movethis {
    0% {transform: scale(1); opacity: 1;}
    100% {transform: scale(5); opacity: 0;animation-fill-mode: forwards;}
}


.signals {position: relative; background-color: #000; overflow: hidden;
    &__blocks { display: flex; align-items: stretch; justify-content: flex-end;}
    &__box {display: flex; margin-top: 45px; align-items: stretch; justify-content: center;}
    &__man {width: calc(100% - 800px); position: relative;
        img {width: 100%; height: 100%;  object-fit: cover; position: absolute; }
    }
    &__how {width: 800px; padding-top: 122px;
        .test__sub-head {letter-spacing: 1.5px;}
    }
    &__side {position: absolute;right: 0; top: 50%; transform: translateY(-50%);}
    &__left {width: 485px; margin-right: 15px;}
    &__right { margin-bottom: 15px;
        .symptom { height: 100%; position: relative;
            &__img {position: absolute; bottom: 15px; left: 50%; transform: translateX(-50%);}
        }
    }
    &__znaki { position: absolute;  width: 100%; height: 100%; display: flex; align-items: center; right: 0;
        img {animation-name: rotator; animation-duration: 12000ms; animation-iteration-count: infinite; animation-direction: normal; animation-timing-function: linear;
            &:nth-child(1) {opacity: 0; animation-delay: 0ms;}
            &:nth-child(2) {opacity: 0; animation-delay: 3000ms;}
            &:nth-child(3) {opacity: 0; animation-delay: 6000ms;}
            &:nth-child(4) {opacity: 0; animation-delay: 9000ms;}
        }
    }
    &__telo {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
}

@keyframes rotator {
    0% {opacity: 0;}
    4% {opacity: 1;}
    21% {opacity: 1;}
    25% {opacity: 0;}
    30% {opacity: 0;}
    80% {opacity: 0;}
    100% {opacity: 0;}
}

.symptom {background-color: #ffffff; margin-bottom: 15px; padding: 18px 32px;
    &__head { display: flex; align-items: center; justify-content: space-between;}
    &__main {color: #0a020e; font-size: 32px; font-weight: 600; padding-right: 20px; align-self: flex-start; line-height: 29px;}
    &__img {flex-shrink: 0; width: 150px; display: flex; align-items: center; justify-content: center;}
    &__text {margin-top: 24px; font-size: 17px; color: #4a4a4a; line-height: 21px;}
}

.types {background-color: #000000; position: relative; padding-top: 220px;
    &__image {width: 100%; opacity: 0.5; position: absolute; top: 0; left:0; z-index: 2;
        img {width: 100%;}
    }
    &__items {display: flex; margin: 0 -15px; align-items: stretch; justify-content: space-between; margin-top: 134px;  position: relative; }
    &__item {background-color: #9c9c9c; width: 430px; margin: 15px;
        .open {width: calc(100% - 30px); right: auto; left: 15px;}
    }
    .signals__side {top: auto; bottom: 0; transform: none; z-index: 1;}
}

.preparat { padding-bottom: 75px; position: relative;
    &__head {font-weight: 600; font-size: 85px; color: #ffffff; text-transform: uppercase; margin-top: 116px; letter-spacing: 1px;}
    &__sub-head {text-transform: uppercase; color: #ffff; font-size: 46px; font-weight: 100; margin-top: 15px; letter-spacing: 1.5px;}
    &:after {position: absolute; display: block; content: ''; border: 50px solid transparent;
        border-top: 50px solid #000000;
        bottom: -100px;
        left: 27px;}
}

.type {  padding: 41px 20px 32px 46px; text-decoration: none;  display: flex; flex-direction: column; justify-content: space-between; height: 100%;
    &__head {font-size: 35px; font-weight: 600; color: #0a020e; text-transform: uppercase;}
    &__text {font-size: 25px; line-height: 31px; font-weight: 300; color: #ffffff; text-transform: uppercase; padding-right: 35px; margin-top: 66px; position: relative; letter-spacing: 1.12px;
        &:after {position: absolute; content: ''; display: block; right: -17px; top: 50%; transform: translateY(-50%); border: 20px solid transparent;	border-left: 20px solid #ffffff;}
    }
}

.open { background-color: #d9cd56; padding: 20px 40px 20px 20px; display: none; position: absolute; top: 15px; left: 15px; z-index: 30; width: calc(100% - 30px); color: #000;
    &__head {font-size: 20px; text-transform: uppercase;}
    &__subhead {font-weight: 600; font-size: 19px; margin: 25px 0;}
    &__text {column-count: 2; font-size: 19px; line-height: 22px; position: relative; }
    &.active {display: block;}
    .article__button {right: 20px; bottom: 10px;}
}

.more { background-color: #eeeeee; overflow: hidden; position: relative;
    z-index: 1;
    &__two-text {margin-left: 16px;
        p { font-weight: 600; margin: 0; text-transform: uppercase; font-size: 24px; letter-spacing: 0.8px;}
        span {text-transform: uppercase; letter-spacing: 0.5px;}
    }
    &__wrap {display: flex; align-items: stretch; justify-content: center;}
    &__left {width: 71%; padding-top: 64px;}
    &__right {width: 29%; background-color: #1e359b; padding: 42px 14px 10px 75px; position: relative;
        &:after {display: block; content: ''; width: 300%; height: 100%; background-color: #1e359b; top: 0; right: -297%; position: absolute;}
    }
    &__head {font-size: 46px; font-weight: 100; text-transform: uppercase; padding-right: 10px; line-height: 55px;letter-spacing: 7.5px;}
    &__block {color: #fff; font-size: 20px; margin-top: 22px; line-height: 25px; margin-bottom: 92px;
        &:last-child {margin-bottom: 10px;}
    }
    &__file {display: flex; align-items: center; justify-content: flex-start; margin-top: 24px;
        a {border: 1px solid #fff; color: #fff; text-decoration: none; padding: 2px 8px; display: flex; align-items: center;
            justify-content:center;}
        span {margin-left: 20px;}
    }
    &__cols { display: flex; align-items: stretch; justify-content: space-between; }
    &__much { display: flex; align-items: center; justify-content: flex-start; }
    &__words {margin-left: 30px;  padding-left: 80px; transition: all 200ms; width: 100%; padding-right: 50px;
        p { font-weight: 600; margin: 0; text-transform: uppercase; font-size: 24px; letter-spacing: 0.8px;}
        span {text-transform: uppercase;}
    }
    &__items {width: 55%; padding-left: 10px; padding-top: 40px;}
    &__tabs {padding-top: 115px; display: flex; justify-content: flex-end; padding-bottom: 46px; position: relative;align-items: flex-end;}
    &__image {width: 408px;  height: 405px; position: absolute; left: -115px;  top: 114px;
        img { height: 100%; object-fit: cover;}
    }
    &__two-img {
        img:last-child {display: none;}
    }
}

.about {
    &__img {min-width: 91px; height: 91px; transition: all 200ms; position: absolute; width: 91px;
        img {width: 100%; height: 100%;}
    }
    &__item { display: flex; align-items: center; justify-content: flex-start; margin-bottom: 20px; height: 120px; position: relative;
        .more__words {
            span {font-size: 14px;
                b {color: #203998;}
            }
        }
        &:last-child {margin-bottom: 46px;}
        &:hover {
            .about__img {transform: scale(1.7);}
            .more__words {background-color: #9c9c9c;  padding: 12px 40px 12px 120px;
                span {font-size: 18px; letter-spacing: 0.5px;}
            }
        }
    }
}

.components { background-color: #9c9c9c; overflow: hidden;
    h4 {color: #000000;
        span {color: #203998;}
    }
    &__wrap {display: flex;align-items: stretch;}
    &__left {width: 71%; padding: 14px 0 80px; }
    &__right {width: 29%; background-color: #fff; position: relative; padding: 25px 0px 0 75px;
        &:after {display: block; content: ''; position: absolute; right: -299%; width: 300%; height: 100%; background-color: #fff; top: 0; z-index: -1;}
    }
    &__col {width: 45%; padding-right: 20px;
        &--right {width: 55%; padding-left: 15px;}
    }
    &__row {width: 100%; display: flex; align-items: flex-start; justify-content: space-between;
        &:nth-child(2) {align-items: center;padding-top: 10px; padding-bottom: 7px;}
        &:last-child {border-top: 1px solid #dadada;}
    }
    &__subhead {color: #000000; font-weight: 600; text-transform: uppercase; font-size: 24px; margin: 31px 0; line-height: 30px;}
    &__effect {font-size: 20px; text-transform: uppercase; margin: 22px 0; letter-spacing: 0.8px;
        p {text-transform: none; margin: 26px 0;}
    }
    &__image {position: relative; height: 330px; z-index: 2; width: 595px;}
}

.molecula {position: absolute; top: 20px; left: 0px; opacity: 0; animation-name: afirst;animation-duration: 9000ms; animation-iteration-count: infinite; animation-direction: normal;
    &:nth-child(1) {animation-delay: 0ms;}
    &:nth-child(2) {animation-delay: 3000ms;}
    &:nth-child(3) {animation-delay: 6000ms;}
}

.map {background-color: #000; position: relative;
    &__wrap {padding: 95px 0 70px; display: flex;}
    &__box {width: 1000px;background-color: #fff; position: relative;
        overflow-x: hidden;
        height: 552px;
        overflow-y: hidden;
    }
    &__text {width: calc(100% - 1000px); padding-right: 25px; padding-top: 34px; }
    &__head {font-size: 47px; color: #fff; font-weight: 600; margin-bottom: 33px;}
    &__subhead {color: #fff; font-size: 24px; line-height: 31px; padding-right: 30px;}
    &__inn {
        img {max-width: none;
            &:nth-child(1) {display: block;}
            &:nth-child(2) {display: none;}
        }

    }
}

.place { text-align: left; line-height: 32px; background-color: #484848; padding: 15px; max-width: 330px; width: auto;color: #fff; font-size: 28px; font-weight: 600; opacity: 0; text-transform: uppercase; position: absolute; transition: all 200ms; letter-spacing: 1.12px;
    &:nth-child(2) { top: 412px; left: 135px;}
    &:nth-child(3) {top: 152px; left: 416px; width: 245px;}
    &:nth-child(4) {top: 240px; left: 682px;  width: 330px;}
    &:nth-child(5) {top: 165px; left: 1017px; width: 272px;}
    &:nth-child(6) {top: 290px; left: 1230px;  width: 350px; max-width: none;}
    &:nth-child(7) { top: 140px; left: 1463px; max-width: 320px; width: 280px;}
    &:nth-child(8) { top: 372px; left: 1788px; max-width: 480px; width: 480px;}
    &:nth-child(9) { top: 150px; left: 1950px; max-width: 480px; width: 410px;}
    &:nth-child(10){top: 195px; left: 2520px; max-width: 480px; width: 480px; background-color: #0032a0; font-weight: 600;
        p {font-size: 28px; margin: 0 0 10px 0;}
        span {font-size: 28px; line-height: 18px;}
    }
    &.active {opacity: 1;}
}

.drive {padding: 10px 0; background-color: #000; position: relative;
    &__back { position: absolute; top: 0; width: 100%; height: 100%; left: 0; opacity: 0.5;
        img {width: 100%; height: 100%; object-fit: cover;}
    }
    &__row {display: flex; align-items: stretch; justify-content: space-between; margin: 0 -15px; position: relative;}
    &__elements {padding-top: 31px;}
    &__wrap {padding-top: 70px;
        h2 {font-size: 97px;}
    }
}

.happens { background-color: #fff; margin: 15px;  width: 30%; flex-grow: 1; max-width: 442px; display: flex; flex-direction: column; max-height: 670px; text-decoration: none; color: #000; transition: all 200ms; cursor: pointer;
    &--double {width: 60%; max-width: none;}
    &__head {font-weight: 600; font-size: 47px;}
    &__box {padding: 20px 20px 40px 20px; height: 100%;    display: flex; flex-direction: column;}
    &__subhead {font-size: 30px; margin-top: 10px;}
    &__text {font-size: 19px; font-weight: 300; margin-top: 10px; position: relative; }
    &__image {width: 100%; margin-top: 15px; flex-grow: 1; display: flex; overflow: hidden;
        img {width: 100%; object-fit: cover;}
    }
    &__content { position: relative; padding-right: 40px; flex-grow: 1;
        &:after {position: absolute; content: ''; display: block; border: 20px solid transparent;	border-left: 20px solid #000; right: -10px; bottom: 0px; }
    }
    &:hover {background-color: rgb(222, 204, 74);  }
    &__article {display: none; position: absolute; top: 15px; left: 0px; width: 100%;padding: 20px; z-index: 20; background-color: #fff; box-shadow: 0 0 10px rgba(0,0,0,0.5);
        &.active {display: block;}
    }

}

.article {position: relative;
    &__head {background-color: rgb(222, 204, 74); padding: 15px 250px 15px 15px;}
    &__top {position: relative;}
    &__img {position: absolute; right: 50px; top: 0; max-width: 210px; display: flex; align-items: center; justify-content:center; max-height: calc(100% + 10px);
        img {max-width: 100%; object-fit: cover;};
    }
    &__subhead {margin-top: 15px; margin-bottom: 0px; font-size: 24px;}
    &__content {column-count: 3; padding: 20px 0; font-size: 24px;
        p {margin: 20px 0 5px 0; font-weight: 600;
            &:first-child {margin-top: 0;}
        }
        span { display: block; margin-bottom: 20px;}
        ul { list-style-type: disc; padding-left: 25px; }
    }
    &__button {width: 30px; height: 40px; background-color: transparent; position: absolute; bottom: 0; right: 0; border: none; cursor: pointer;
        &:after {position: absolute; content: ''; display: block; border: 20px solid transparent;	border-left: 20px solid #000; right: 0px; bottom: 0px; transform: rotateZ(180deg); }
        &:hover {opacity: 0.7;}
    }
}

.last {
    &__wrap {display: flex; justify-content: flex-end; align-items: center; margin-top: 35px; padding-bottom: 30px; flex-direction: column;}
    &__subhead {text-align: right; color: #fff; font-size: 14px; font-weight: 300; text-transform: uppercase;}
    &__head { text-align: right;  }
    &__socials {display: flex; align-items: center; justify-content: flex-start; margin: 0 -2px; margin-right: 100px;}
    &__bud {width: 100%; display: flex; font-size: 55px; opacity: 0.6; color: #fff; text-align: center; justify-content: center;
        p {margin: 0; }
    }
    &__text {width: 100%;}
}
.social {
    &__item {display: block; margin: 0 3px; transition: all 200ms; width: 48px; height: 48px; min-width: 48px;
        &:hover {opacity: 0.9;}
    }
}

.buy {position: absolute; width: 100%; padding: 40px 0 0; z-index: 7; top: 123px; left: - 120%; transition: all 200ms; background-color: #ededed;
    &__wrap {display: flex; justify-content: center; align-items: stretch; }
    &__head { padding-left: 58px;
        h4 {color: #494949;}
    }
    &__right { width: 770px; padding-left: 18px; }
    &__left {display: flex; justify-content: flex-start; align-items: center; flex-grow: 1;
        img {width: 80%; height: 100%; object-fit: contain;}
    }

    &.active {left: 0; overflow: scroll; max-height: calc(100vh - 123px);
        height: auto;}
}

.apteka { display: flex; align-items: flex-end; justify-content: space-between; border-bottom: 2px solid #9c9c9c; padding: 11px 0 38px 0; margin-bottom: 38px;
    &:last-child {border-bottom: none; }
    &__text {text-transform: uppercase; font-size: 16px; margin-top: 20px;
        p {margin: 5px 0;}
    }
    &__link { margin-left: 10px;
        .btn {font-size: 31px; font-weight: 100; letter-spacing: 2px; padding: 16px 27px;}
    }
    &__about {padding-bottom: 20px;}
}
.rules {max-width: 70%;}
.mobile .map__box {overflow:scroll;}
//.mobile .place {opacity: 1;}

.advice__btn {
    width: 56px;
    height: 56px;
    background-color: #9f9f9f;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -25px;
    right: 50px;
    border: none;
    border-radius: 50%;
    transition: all 200ms;
}
.advice__btn:hover {
    opacity: 0.95;
}
.advice__btn:before {
    display: block;
    position: absolute;
    width: 26px;
    height: 11px;
    background-color: #fff;
    content: '';
    transform-origin: 50% 50%;
    transform: rotateZ(135deg);
}
.advice__btn:after {
    display: block;
    position: absolute;
    width: 26px;
    height: 11px;
    background-color: #fff;
    content: '';
    transform-origin: 50% 50%;
    transform: rotateZ(45deg);
}

.main__slider {
    .slick-dots li {height: 10px; width: 10px;}
    .slick-dots li button {width: 10px;}
    .slick-dots {bottom: 20px; margin-bottom: 0px;}
    .slick-dots li button:before {
        content: '';
        width: 10px;
        height: 10px;
        background-color: #fff;
        border-radius: 50%;
        opacity: 0.2;
    }
    .slick-dots li.slick-active button:before {
        opacity: 0.6;
    }
}

@media screen and (max-width: 1770px){
    .components {
        &__right {padding-left: 15px;}
        &__image {width: auto;}
    }
}

@media screen and (max-width: 1700px){
    .header {
        &__button {position: relative;
            right: inherit;}
        &__name {margin-left: 15px;}
    }
}

@media screen and (max-width: 1470px){
    .header {
        .mbox {padding: 0; max-width: none;}
        &__call {position: fixed; z-index: 100; bottom: 40px; right: 55px; top: auto; left: auto}
        &__list {margin-right: 15px; justify-content: center; width: 100%;
            a {text-align: center;}
        }
        &__name {margin-right: 15px; margin-left: 15px;}
        &__form {top: -444px; transform-origin: 100% 100%;}
        &__menu {width: 100%; display: flex; align-items: center; justify-content: center;}
    }
    .buy { z-index: 1000;
        .mbox {padding: 0 15px;}
    }
}

@media screen and (max-width: 1450px){
    .components {
        &__wrap { flex-wrap: wrap; }
        &__left {width: 100%;}
        &__right {width: 100%;
            &:before {display: block;
                content: '';
                position: absolute;
                left: -100%;
                width: 100%;
                height: 100%;
                background-color: #fff;
                top: 0;
                z-index: -1;}
        }
        h4 {
            br {display: none;}
        }
    }
    .molecula {
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

}

@media screen and (max-width: 1420px){
    .quest__rul {width: 500px;}
    .quest {
        &__buttons  {
            label:first-child { margin-left: 30px; position: relative;
                &:after {position: absolute;
                    content: '';
                    display: block;
                    border: 25px solid transparent;
                    border-left: 25px solid #f3d535;
                    border-top: 25px solid #f3d535;
                    right: -40px;}
            }
            label:last-child { margin-right: 30px; position: relative;
                &:after {
                    position: absolute;
                    content: '';
                    display: block;
                    border: 25px solid transparent;	border-top: 25px solid #dc373b; border-right: 25px solid #dc373b;
                    left: -40px;
                }
            }
        }
    }
}

@media screen and (max-width: 1330px){
    .map {
        &__wrap {flex-wrap: wrap;}
        &__text {width: 100%; padding-top: 0; margin-bottom: 30px; padding-right: 0;}
        &__box {margin: 0 auto;}
    }
    .types {
        &__image  {height: 50%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .more__right {padding-left: 20px;
        h4 {font-size: 35px;}
    }
    .quest {
        &__buttons  {
            label:first-child { margin-left: 10px; }
            label:last-child { margin-right: 10px;}
        }
    }

}

@media screen and (max-width: 1280px){
    .header__name { font-size: 30px;}
    .header {
        &__button { order: 2; position: relative; right: 0;
            &:after {display: none;}
        }
    }
}

@media screen and (max-width: 1240px){
    .quest {
        &__buttons  {
            label:first-child { margin-left: 0px;}
            label:last-child { margin-right: 0px;}
        }
    }
}

@media screen and (max-width: 1200px){
    .quest__buttons label {width: 120px;}
}

@media screen and (max-width: 1150px){
    .quest {
        &__buttons  {
            label:first-child {
                &:after {display: none;}
            }
            label:last-child {
                &:after {display: none;}
            }
        }
    }
}

@media screen and (max-width: 1100px){
    .buy {top: 50px; z-index: 11;
        &.active {z-index: 1000;}
    }
    .header {height: 50px;
        &__menu { order: 1; width: auto; }
        &__buter {display: block; margin-left: 30px; }
        &__list {left: -100%; margin: 0; top: 100%; position: absolute; transition: all 200ms; background-color: #fff; height: auto; padding: 5px 5px 5px 150px ; display: block;
            &.active {left: 0;}
            a {color: #0032a0; font-weight: 600; width: 100%; padding: 15px 0; text-align: left; display: inline-block;}
        }
        &__name {order: 2; width: 100%; text-align: center; font-size: 20px;  margin-top: 0;}
        &__button { width: 90px; display: flex; justify-content: center; padding: 0;
            img {width: 30px;}
            span {font-size: 9px;  margin-top: 5px; margin-bottom: 0;}
        }
        &__buter {
            &.active {
                span {}
            }
        }
        &__cross {width: 25px; height: 25px;
            span { margin: 0;
                &:first-child {width: 16px; height: 5px;}
                &:last-child {width: 5px; height: 16px;}
            }
        }
    }
    .happens {min-width: 320px;}
    .more {
        &__wrap {flex-wrap: wrap;}
        &__left {width: 100%;}
        &__right {width: 100%; padding: 15px; margin-left: -30px;}
        &__cols {flex-wrap: wrap;}
        &__image {position: static;}
        &__tabs {flex-wrap: wrap; justify-content: center; align-items:center; width: 100%;}
        &__much {width: 100%; justify-content: center; align-items: center;}
        &__items {width: 100%; padding-right: 10px;}
    }
    .signals {
        &__blocks {flex-wrap: wrap;}
        &__how {width: 100%;}
        &__side {top: auto; bottom: 0; transform: none;}
        &__man {position: absolute;height: 540px; top: 0; z-index: -1; width: 416px;
            img {object-fit: contain;}
        }
        &__side {height: 50%;}
    }
    .more {
        .mbox {padding-right: 0;}
        &__items {padding-left: 35px; padding-right: 0;}
        &__words {margin: 0; padding-left: 130px;}
    }
    .about__item:hover .more__words {
        padding-left: 145px;
    }
    .last {
        &__wrap {position: relative;}
        &__socials {top: 15px; left: 0; position: absolute;}
    }
    .main.fixer {padding-top: 50px;}
}

@media screen and (max-width: 1024px){
    .types {
        &__items {flex-wrap: wrap;}
        &__item { width: 100%; flex-grow: 1; min-width: 310px;

        }
    }
    .type {
        &:hover {position: relative;
            .open {width: 100%; left: auto; right: 0; top: calc(100% + 5px);}
        }
    }
    .drive__row {flex-wrap: wrap;}
    .happens { min-width: 320px; flex-grow: 1; width: 48%; max-width: none; max-height: none; position: relative;
        &__article {top: 0;}
    }
    h1,h2 {font-size: 60px; line-height: 68px;}
    .open {width: 100%;}
    .happens__image {
        max-height: 350px;
    }
}

@media screen and (max-width: 992px){
   .test {
       &__wrapper {flex-wrap: wrap;}
       &__left {width: 100%;}
       &__box { width: 100%;}
       &__right { width: 100%;height: 380px;}
       &__questions {width: 100%;}
       &__wrapper {position: relative;}
       &__line {position: absolute; left: 10px; bottom: 10px; z-index: 30;}
   }

    .quest {
        &__rul { height: 200px; bottom: 0%;}
        &__buttons { justify-content: center;
            label { font-size: 20px;
                &:first-child {margin-right: 140px;}
                &:last-child {margin-left: 140px;}
            }
        }
    }

    .btn--big {padding: 25px 50px;}
    .quest__ask {font-size: 14px; padding: 10px;}
    .header {
        &__call {  border-width: 2px; width: 68px; height: 68px; right: 24px; bottom: 15px; padding: 4px;
            a {font-size: 9px; line-height: 12px;}
        }
    }
}

@media screen and (max-width: 900px) {
    .buy {
        &__left { display: none; }
        &__head {display: none;}
        &__right {width: 100%; padding: 0;}
        &.active {max-height: calc(100vh - 50px);}
    }
    .apteka { flex-wrap: wrap;
        &__link {width: 100%;  display: flex; justify-content: flex-end;}
    }
}

@media screen and (max-width: 840px){
    .signals {
        &__box {flex-wrap: wrap;}
        &__left {width: 100%; margin-right: 0; }
        &__right { margin-bottom: inherit; width: 100%;
            .symptom { height: 100%; position: static;
                &__img {position: static; transform: none;}
            }
        }

    }
}

@media screen and (max-width: 768px){
    h1,h2 {font-size: 50px;}
    .drive__wrap h2 {font-size: 50px;}
    .header {
        &__list {padding-left: 55px;}
    }
    .slider {
        &__sub-head {font-size: 12px;
            br {display: none;}
        }
        &__inner {min-height: 510px;}
    }
    .test {
        &__box {flex-wrap: wrap; display: flex; justify-content: space-between; align-items: flex-start;}
        &__info {width: 60%;}
        &__image {margin-top: 0;}
    }
    .signals {
        &__how {padding-top: 0;}
        &__box {margin-top: 160px;}
    }
    .components {
        h4 {color: #203998;}
        &__col {width: 100%;
            &--right {padding-left: 50px;}
        }
        &__row {flex-wrap: wrap;
            &:nth-child(1) {
                .components__col--right {padding-left: 0px;}
            }
            &:last-child {border: none;}
        }
        &__effect {color: #fff; margin: 5px 0;
            p {margin: 10px 0;}
        }
        &__subhead { margin: 10px 0 10px 0;}
        &__left {padding-bottom: 30px;
            h4 {color: #000;}
        }
    }
    .article {
        &__content { column-count: 1; }
        &__slice {margin-bottom: 10px;}
    }
    .last__head {
        h3 {font-size: 35px;}
    }
    .place { font-size: 15px; line-height: 18px; padding: 5px 10px; letter-spacing: 1.3px;
        &--first {left: 187px;}
        &--finish {
            span {font-size: 12px; line-height: 15px;}
            p {font-size: 15px;}
        }
    }
}

@media screen and (max-width:666px){
    .test {
        &__info {
            h3 {font-size: 23px; line-height: 25px;}
        }
        &__sub-head {font-size: 14px; margin-bottom: 15px;
            p {line-height: 16px;}
            span {line-height: 16px;}
        }
    }
    .symptom {padding: 15px 15px;
        &__main {font-size: 20px;
            br {display: none;}
        }
        &__img {width: 82px;}
    }
    .types { padding-top: 80px;
        &__image  {height: 30%;}
        &__items {margin-top: 0;}
    }
    .more {
        &__words {margin: 0; padding-left: 110px; border-top-left-radius: 10px; border-bottom-left-radius: 10px;
            p {font-size: 12px;}
        }
        &__two-img {
            img:last-child {display: block;}
            img:first-child {display: none;}
        }
        &__two-text {
            p {font-size: 11px;}
            span {font-size: 11px;}
        }
        &__much {background-color: #decc4a;padding: 10px 0; margin-left: -30px;  width: calc(100% + 30px); margin-top: 45px;}
        &__tabs {padding-top: 40px; padding-bottom: 0px;}
        &__items {padding-top: 20px;}
        &__image {width: 100%;}
    }
    .about__img {
        min-width: 50px; width: 50px; height: 50px;
    }

    .about__item {height: 100px; margin: 0;}
    .more__words {padding-left: 65px;}
    .about__item:hover .more__words {padding-left: 95px; padding-top: 3px; padding-bottom: 3px;}

    .about__item:hover .about__img {transform: scale(2);}
    .about__item:hover .more__words span {font-size: 11px;}
    .about__item .more__words span {
        font-size: 11px;
    }
    .article {
        &__slice {font-size: 12px;}
        &__head {padding-right: 100px;}
        &__img {width: 100px; right: 0;}
    }
    .quest {
        &__advice {font-size: 14px; margin: 0 10px;
            span {line-height: 19px;}
        }
    }
    .happens {
        &__article {padding: 0;}
        &__head {font-size: 20px;
            br {display: none;}
        }
        &__subhead {font-size: 16px;}
    }
    .article {
        &__subhead {display: none;}
        &__content {font-size: 16px; padding: 15px 15px;}
        &__button {bottom: 15px; right: 15px;}
    }


}

@media screen and (max-width: 640px){
    .quest {
        &__rul { height: 190px; bottom: 0%;
            img { width: 100%;
                height: 100%;
                object-fit: contain; }
        }
        &__buttons { justify-content: center;
            label { font-size: 20px;
                &:first-child {margin-right: 110px;}
                &:last-child {margin-left: 110px;}
            }
        }
    }
}


@media screen and (max-width: 610px){
    .last__head {
        h3 {font-size: 14px;}
    }
    .open__text {column-count: 1; font-size: 14px;}
    .apteka { align-items: center; padding: 11px 0 28px 0;  margin-bottom: 17px;
        &__text {font-size: 10px;margin-top: 17px;}
        &__logo {max-width: 170px;}
        &__link { margin-left: 25px;
            .btn {font-size: 15px; padding: 9px 13px;}
        }
        &__about {padding-bottom: 18px;}
    }
    .buy {padding-top: 4px;
        &__wrap {padding: 0 6px;}
    }
    .header {
        &__buter  { height: 19px; margin-left: 15px; width: 30px;
            span {
                width: 22px; height: 3px;
            }
        }
        &__button {width: 120px;}
        &__name { margin-right: 10px;  margin-left: 5px;}
    }
    .slider__inner {min-height: auto;}
    .slider__content {margin: 50px 0;}
}

@media screen and (max-width: 520px){
    .last {
        &__bud {display: block; color: #fff; text-align: center; margin-bottom: 20px;
            p {font-size: 48px; margin: 0; margin-bottom: 7px;}
            span {font-size: 30px; display: block; margin-top: 15px;}
        }
    }
}



@media screen and (max-width: 480px){
    h1,h2 {font-size: 23px; line-height: 27px;}
    h3 {font-size: 23px; line-height: 25px;}
    h4 {font-size: 23px; line-height: 25px;}
    .drive__wrap h2 {font-size: 23px;}
    .test {
        &__sub-head {margin-top: 0;}
        &__box {padding-top: 2px; padding-bottom: 2px;}
        &__image { position: absolute;right: 17px; top: 13px;
            img {
                &:first-child {display: none;}
                &:last-child {display: block;}
            }
        }
        &__info { width: 100%;
            h3 {letter-spacing: 1px; padding-right: 65px;}
        }
        &__progress {height: 20px; background-color: #9f9f9f;}
        &__complete {
            &:after {    border: 10px solid transparent; border-left: 10px solid #1e359c; right: -20px;}
        }
    }
    .preparat { padding-bottom: 24px;
        &__head {margin-top: 15px;}
        &__sub-head { font-size: 18px; }
        &:after { border: 22px solid transparent;  border-top: 22px solid #000000;  bottom: -42px; left: 5px; }
    }
    .more {
        &__head {font-size: 18px; line-height: 22px; letter-spacing: 3px; font-weight: 300;}
        &__image {position: absolute; left: -45px; top: 40px;  height: 346px;}
        &__tabs { padding-top: 450px;}
        &__much {justify-content: flex-start; padding-left: 65px;}
        &__item {  justify-content: flex-start;}
        &__items {padding-left: 35px; padding-right: 0; position: relative; padding-top: 10px;
           &:after {position: absolute; display: block; content: ''; left: auto; z-index:10;  border: 24px solid transparent; border-top: 24px solid #eeeeee;  bottom: -48px; right: 20px; }
        }
        &__block {font-size: 13px; margin-bottom: 50px;}
        &__left {padding-top: 48px;}
        &__words {padding-right: 20px;}
        &__right {padding: 25px 15px 23px 20px;
            h4 {line-height: 35px;}
        }
        &__block {line-height: 15px;}
    }
    .type {padding: 15px;
        &__head {font-size: 20px; text-transform: none; padding-right: 60px;}
        &__text {font-size: 12px; margin-top: 10px; line-height: 16px;
            span br {display: none;}
            &:after {
                border-width:16px; right: -7px;}
        }
        &:hover {
            .open {
                width: calc(100% + 30px);
                left: -15px;
            }
        }
    }
    .types {
        &__item {min-width: unset; margin: 3px 15px;
            &:last-child .open{padding: 20px 40px 20px 20px;}
        }
        h3 {margin-bottom: 0;}
        .test__sub-head {font-size: 12px;}
    }
    .signals { padding-top: 2px;
        &__box { margin-top: 164px;}
        &__man {width: 100%; }

    }
    .happens {min-width: auto; margin: 5px 10px;
        &__box { padding: 10px;}
        &__head {font-size: 20px;}
        &__subhead {font-size: 16px;}
        &__text {display: none;}
        &__content {
            &:after {border: 12px solid transparent;
                border-left: 12px solid #000;}
        }
        &__article {width: calc(100% + 20px); left: -10px;}
    }
    .drive {
        &__wrap {padding-top: 0;}
        &__elements {padding-top: 10px;}
    }
    .map {
        &__wrap {padding-top: 40px;}
        &__head {font-size: 23px; text-transform: uppercase; line-height: 29px;    margin-bottom: 46px;}
        &__subhead {font-size: 12px; line-height: 14px; text-transform: uppercase; }
        .signals__side {top: 0;}
        &__inn {
            img {max-width: none;
                &:nth-child(1) {display: none;}
                &:nth-child(2) {display: block;}
            }

        }
        &__box {height: 253px;}
    }
    .social__item {width: 26px; height: 26px; min-width: auto;}
    .last {
        &__bud {display: block; color: #fff; text-align: center; margin-bottom: 20px; order: 1; opacity: 1;
            p {font-size: 31px; margin: 0; margin-bottom: 7px;}
            span {font-size: 18px;}
        }
        &__subhead {text-align: left; font-size: 10px;}
        &__wrap {padding-bottom: 20px;}
        &__text {order: 2;}
    }

    .open {padding: 20px 20px 40px 20px;
        &__text {font-size: 16px; column-count: 1; line-height: 16px; font-weight: 400;
            &:after {right: 0; bottom: -30px;     border: 15px solid transparent;  border-left: 15px solid #000;}
        }
        &__subhead {font-size: 16px; margin: 15px 0;}
        &__head {font-size: 16px;}
    }
    .components {position: relative;
        h4 {color: #1e359b; margin-bottom: 12px;}
        &__effect {font-size: 13px;
            p {
                line-height: 13px;margin: 0px 0 19px;}
        }
        &__subhead {font-size: 14px; line-height: 14px; margin: 12px 0 16px 0;}
        &__col {padding-right: 0;}
        &__left {  padding: 28px 0 40px; position: relative;
            &:after {position: absolute; display: block; content: ''; left: auto; z-index:10;  border: 24px solid transparent; border-top: 24px solid #9c9c9c;  bottom: -48px; right: 4px; }
        }
        &:after {position: absolute; display: block; content: ''; z-index:10;  border: 24px solid transparent; border-top: 24px solid #1e359b;  top: 0; left: 20px; }
        &__row {
            &:nth-child(2) {    padding-top: 18px; padding-bottom: 3px;}
        }
        &__right {padding: 18px 0px 20px 5px;
            h4 {color: #000;}
        }
        &__image {height: 187px;
            img {height: 100%;}
        }
        &__col--right {
            padding-left: 46px;
        }
    }
    .slider {
        &__inner {align-items: flex-end;}
        &__content {margin: 40px 0 70px;}
        &__sub-head {line-height: 22px; font-size: 18px;}
    }
    .quest {align-items: flex-start; padding-top: 12px;
        &__button {
            .btn {font-size: 18px;  padding: 13px 10px;}
        }
        &__ask {font-size: 14px;}
        &__buttons label {width: 80px; font-size: 18px;}
    }
    .signals {
        &__man {top: -84px;}
    }
    .symptom {padding: 10px 15px;
        &__main {line-height: 19px; align-self: auto;}
        &__text {margin-top: 7px; font-size: 13px; line-height: 15px;}
    }
    .about {
        &__item { height: 94px;
            &:last-child {margin-bottom: 16px;}
            &:hover .more__words {padding-left: 82px; padding-right: 10px;}
        }
    }
    .place { font-size: 13px;
        &:nth-child(2) { top: 187px; left: 20px; }
        &:nth-child(3) { top: 73px; left: 160px; width: 130px;  }
        &:nth-child(4) { top: 113px; left: 297px; width: 154px;}
        &:nth-child(5) { top: 70px; left: 460px; width: 145px;}
        &:nth-child(6) { top: 140px; left: 532px;  width: 247px;}
        &:nth-child(7) { top: 55px; left: 665px;  width: 182px;}
        &:nth-child(8) { top: 174px; left: 794px; width: 285px;}
        &:nth-child(9) { top: 64px; left: 875px; width: 232px;}
        &:nth-child(10) { top: 81px; left: 1131px; width: 235px;
            p {font-size: 11px;}
            span {font-size: 10px; line-height: 11px;}
        }
    }
    .molecula {object-fit: contain;}
    .quest__buttons label {width: 50px; font-size: 14px;
        &:first-child {margin-right: 85px;}
        &:last-child {margin-left: 85px;}
    }
    .article__content {
        font-size: 16px; padding-top: 15px;
    }
    .quest { height: 71%;
        &__rul { width: 270px; height: auto; bottom: 0%;
            img { width: 100%;
                height: 100%;
                object-fit: contain; }
        }
        &__buttons { justify-content: center;
            label { font-size: 14px; padding: 7px 10px;
                &:first-child {margin-right: 70px;}
                &:last-child {margin-left: 70px;}
            }
        }
    }
    .test__right {height: 380px;}

    .advice__btn {
        width: 40px;
        height: 40px;
        right: -5px;
        top: -30px;
        &:after { width: 22px; height: 8px; }
        &:before { width: 22px; height: 8px; }
    }
    .slider__image img:first-child {display: none;}
    .slider__image img:last-child {display: block;}

}

@media screen and (max-width: 420px){

    .header__form {right: -18px;}
    .open__text {font-size: 16px; line-height: 18px;}
}

@media screen and (max-width: 375px){

}


@media screen and (max-width: 350px){
    .more__much {margin-top: 0;}
    .more__image img {width: 100%; object-fit: contain;}
}

.molecula {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 0;
    -webkit-animation-name: afirst;
    -moz-animation-name: afirst;
    -o-animation-name: afirst;
    animation-name: afirst;
    -webkit-animation-duration: 9000ms;
    -moz-animation-duration: 9000ms;
    -o-animation-duration: 9000ms;
    animation-duration: 9000ms;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -moz-animation-direction: normal;
    -o-animation-direction: normal;
    animation-direction: normal;
    animation-timing-function: linear;
    width: 100%;
    height: 100%;
    max-width: 512px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.molecula svg {
    width: 100%;
    height: 100%;

}
@keyframes afirst {
    0% { opacity: 0; }
    3% { opacity: 1; }
    30% { opacity: 1; }
    33% { opacity: 0; }
    70% { opacity: 0; }
    100% { opacity: 0; }
}