<div class="components">
    <div class="mbox">
        <div class="components__wrap">
            <div class="components__left">
                <div class="components__row">
                    <div class="components__col">
                        <h4>ТРИ КОМПОНЕНта <br> <span> ИндигалПлюс</span></h4>
                    </div>
                    <div class="components__col components__col--right">
                        <div class="components__effect">
                            <span>ДЛЯ Эффективного устранения симптомов и причин простатита </span>
                        </div>
                    </div>
                </div>
                <div class="components__row">
                    <div class="components__col">
                        <div class="components__subhead">
                            <span>Индол-3-карбинол</span>
                        </div>
                        <div class="components__subhead">
                            <span>Эпигаллокатехин-3-галлат</span>
                        </div>
                    </div>
                    <div class="components__col components__col--right">
                        <div class="components__effect">
                            <p>Cпособствуют полному подавлению инфекции и повышают чувствительность бактерий к антибиотикам;</p>
                            <p>Снижают риск рецидивов хронического простатита;</p>
                            <p>Снижают риск развития рака предстательной железы</p>
                        </div>
                    </div>
                </div>
                <div class="components__row">
                    <div class="components__col">
                        <div class="components__subhead">
                            <span>Экстракт пальмы вееролистной</span>
                        </div>
                    </div>
                    <div class="components__col components__col--right">
                        <div class="components__effect">
                            <p>Cнимает воспаление предстательной железы;</p>
                            <p>Восстанавливает нарушенное мочеиспускание </p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="components__right">
                <h4>КОМПЛЕКСНОЕ <br>
                    ДЕЙСТВИЕ</h4>
                <div class="components__image">
                    <div class="molecula">
                        <svg x="0px" y="0px" viewBox="0 0 512 295">
                            <style type="text/css">
                                .st0{fill:#5B5B5B;}
                                .st1{fill:#727272;}
                                .st2{fill:#00369C;}
                            </style>
                            <g>
                                <path class="st0" d="M87.5,56.5c0,0-28.2,18.7-10,46.3c-3.3-9-28.4-24.3-39.1-23.9c15.6-1.3,32.3-11.8,31-33.5
								C72.6,49.7,78.7,54.6,87.5,56.5z"/>
                                <ellipse class="st1" cx="47.1" cy="120.9" rx="47.6" ry="47.6"/>
                                <path class="st0" d="M61.6,159.3c0,0,10.5-6,17.9-22.2C94.2,153,114.7,156,114.7,156c-0.5-0.3-20.3,11.8-28.4,35
								C82.5,182.6,73.1,169.1,61.6,159.3z"/>
                                <ellipse class="st1" cx="86.1" cy="32" rx="32" ry="32"/>
                                <ellipse class="st2" cx="134.7" cy="201.6" rx="57.4" ry="57.4"/>
                            </g>
                            <g>
                                <path d="M134.7,10.8h12.4v15.3H144V13.4h-6V26h-3.2V10.8z"/>
                                <path d="M151.3,10.8h6.9c0.8,0,1.5,0.1,2.1,0.3c0.6,0.2,1.1,0.5,1.5,1c0.4,0.4,0.7,0.9,0.9,1.5c0.2,0.6,0.3,1.3,0.3,2.1
								c0,0.7-0.1,1.4-0.3,2c-0.2,0.6-0.6,1.1-1,1.5c-0.4,0.4-1,0.8-1.6,1c-0.6,0.2-1.3,0.4-2.1,0.4h-3.5v5.5h-3.2L151.3,10.8L151.3,10.8z
								 M154.5,17.9h3c0.7,0,1.3-0.2,1.7-0.5c0.4-0.4,0.6-0.9,0.6-1.7c0-0.4-0.1-0.7-0.2-1c-0.1-0.3-0.3-0.5-0.5-0.7
								c-0.2-0.2-0.4-0.3-0.7-0.4c-0.3-0.1-0.6-0.1-1-0.1h-3v4.4H154.5z"/>
                                <path d="M165.5,18.4c0-1.1,0.2-2.2,0.5-3.2c0.3-1,0.8-1.8,1.4-2.5c0.6-0.7,1.4-1.3,2.3-1.7c0.9-0.4,2-0.6,3.2-0.6
								c1.1,0,2.1,0.2,3.1,0.6c0.9,0.4,1.7,1,2.3,1.7c0.6,0.7,1.1,1.6,1.5,2.5c0.3,1,0.5,2,0.5,3.2c0,1.1-0.2,2.2-0.5,3.2
								c-0.3,1-0.8,1.8-1.5,2.5s-1.4,1.3-2.3,1.7c-0.9,0.4-1.9,0.6-3.1,0.6c-1.2,0-2.3-0.2-3.2-0.6s-1.7-1-2.3-1.7
								c-0.6-0.7-1.1-1.6-1.4-2.5C165.7,20.6,165.5,19.6,165.5,18.4z M172.9,23.7c0.7,0,1.2-0.1,1.7-0.4c0.5-0.3,0.9-0.6,1.3-1.1
								c0.4-0.5,0.6-1,0.8-1.7c0.2-0.6,0.3-1.3,0.3-2.1c0-0.8-0.1-1.5-0.3-2.1c-0.2-0.6-0.5-1.2-0.8-1.7c-0.4-0.5-0.8-0.8-1.3-1.1
								c-0.5-0.3-1.1-0.4-1.7-0.4c-0.7,0-1.2,0.1-1.7,0.4c-0.5,0.3-0.9,0.6-1.3,1.1c-0.4,0.5-0.6,1-0.8,1.7c-0.2,0.6-0.3,1.3-0.3,2.1
								s0.1,1.5,0.3,2.1c0.2,0.6,0.5,1.2,0.8,1.7c0.4,0.5,0.8,0.8,1.3,1.1C171.7,23.6,172.3,23.7,172.9,23.7z"/>
                                <path d="M182.3,10.8h12.5v2.6h-4.7V26h-3.2V13.4h-4.7v-2.6H182.3z"/>
                                <path d="M197.4,10.8h3.1v10.4l0,0l6-10.4h3.2v15.3h-3.1V15.7l0,0l-6,10.3h-3.2V10.8z"/>
                                <path d="M214,10.8h7.5c0.6,0,1.2,0.1,1.6,0.2c0.5,0.1,0.9,0.3,1.2,0.5c0.3,0.2,0.6,0.4,0.9,0.7c0.2,0.3,0.4,0.5,0.6,0.8
								c0.1,0.3,0.2,0.6,0.3,0.9c0.1,0.3,0.1,0.6,0.1,0.9c0,0.4,0,0.7-0.1,1c-0.1,0.3-0.2,0.6-0.3,0.8c-0.1,0.3-0.3,0.5-0.6,0.7
								c-0.2,0.2-0.5,0.4-0.9,0.6c0.5,0.2,0.9,0.4,1.2,0.7c0.3,0.3,0.6,0.6,0.7,0.9c0.2,0.3,0.3,0.7,0.3,1c0.1,0.3,0.1,0.7,0.1,1
								c0,0.7-0.1,1.4-0.4,2c-0.3,0.6-0.7,1-1.1,1.4c-0.5,0.4-1.1,0.7-1.8,0.9c-0.7,0.2-1.5,0.3-2.3,0.3h-7V10.8z M217.1,16.8h3.9
								c0.3,0,0.5,0,0.8-0.1c0.3-0.1,0.5-0.2,0.7-0.3c0.2-0.1,0.4-0.3,0.5-0.5c0.1-0.2,0.2-0.5,0.2-0.8c0-0.3-0.1-0.6-0.2-0.8
								s-0.3-0.4-0.4-0.5c-0.1-0.1-0.4-0.2-0.7-0.3c-0.2,0-0.5-0.1-0.8-0.1h-4V16.8z M217.1,23.4h4c0.4,0,0.7,0,1-0.1
								c0.3-0.1,0.6-0.2,0.8-0.4c0.2-0.2,0.4-0.4,0.5-0.6c0.1-0.3,0.2-0.6,0.2-0.9c0-0.4-0.1-0.8-0.2-1.1s-0.3-0.5-0.6-0.6
								c-0.2-0.1-0.5-0.2-0.8-0.3c-0.3,0-0.6-0.1-0.9-0.1h-3.9v4.1H217.1z"/>
                                <path d="M229.4,18.4c0-1.1,0.2-2.2,0.5-3.2c0.3-1,0.8-1.8,1.4-2.5s1.4-1.3,2.3-1.7c0.9-0.4,2-0.6,3.2-0.6c1.1,0,2.1,0.2,3.1,0.6
								c0.9,0.4,1.7,1,2.3,1.7c0.6,0.7,1.1,1.6,1.5,2.5c0.3,1,0.5,2,0.5,3.2c0,1.1-0.2,2.2-0.5,3.2c-0.3,1-0.8,1.8-1.5,2.5
								s-1.4,1.3-2.3,1.7c-0.9,0.4-1.9,0.6-3.1,0.6c-1.2,0-2.3-0.2-3.2-0.6c-0.9-0.4-1.7-1-2.3-1.7c-0.6-0.7-1.1-1.6-1.4-2.5
								C229.6,20.6,229.4,19.6,229.4,18.4z M236.8,23.7c0.7,0,1.2-0.1,1.7-0.4c0.5-0.3,0.9-0.6,1.3-1.1c0.4-0.5,0.6-1,0.8-1.7
								c0.2-0.6,0.3-1.3,0.3-2.1c0-0.8-0.1-1.5-0.3-2.1c-0.2-0.6-0.5-1.2-0.8-1.7c-0.4-0.5-0.8-0.8-1.3-1.1c-0.5-0.3-1.1-0.4-1.7-0.4
								c-0.7,0-1.2,0.1-1.7,0.4c-0.5,0.3-0.9,0.6-1.3,1.1c-0.4,0.5-0.6,1-0.8,1.7c-0.2,0.6-0.3,1.3-0.3,2.1s0.1,1.5,0.3,2.1
								c0.2,0.6,0.5,1.2,0.8,1.7c0.4,0.5,0.8,0.8,1.3,1.1C235.5,23.6,236.1,23.7,236.8,23.7z"/>
                                <path d="M246.9,18.4c0-1.1,0.2-2.2,0.5-3.2c0.3-1,0.8-1.8,1.4-2.5c0.6-0.7,1.4-1.3,2.3-1.7c0.9-0.4,2-0.6,3.2-0.6
								c1.1,0,2.1,0.2,3.1,0.6c0.9,0.4,1.7,1,2.3,1.7c0.6,0.7,1.1,1.6,1.5,2.5c0.3,1,0.5,2,0.5,3.2c0,1.1-0.2,2.2-0.5,3.2
								c-0.3,1-0.8,1.8-1.5,2.5c-0.6,0.7-1.4,1.3-2.3,1.7c-0.9,0.4-1.9,0.6-3.1,0.6s-2.3-0.2-3.2-0.6c-0.9-0.4-1.7-1-2.3-1.7
								c-0.6-0.7-1.1-1.6-1.4-2.5C247.1,20.6,246.9,19.6,246.9,18.4z M254.3,23.7c0.7,0,1.2-0.1,1.7-0.4c0.5-0.3,0.9-0.6,1.3-1.1
								c0.4-0.5,0.6-1,0.8-1.7c0.2-0.6,0.3-1.3,0.3-2.1c0-0.8-0.1-1.5-0.3-2.1c-0.2-0.6-0.5-1.2-0.8-1.7c-0.4-0.5-0.8-0.8-1.3-1.1
								c-0.5-0.3-1.1-0.4-1.7-0.4c-0.7,0-1.2,0.1-1.7,0.4c-0.5,0.3-0.9,0.6-1.3,1.1c-0.4,0.5-0.6,1-0.8,1.7c-0.2,0.6-0.3,1.3-0.3,2.1
								s0.1,1.5,0.3,2.1c0.2,0.6,0.5,1.2,0.8,1.7c0.4,0.5,0.8,0.8,1.3,1.1C253,23.6,253.6,23.7,254.3,23.7z"/>
                                <path d="M263.6,10.8h12.5v2.6h-4.7V26h-3.2V13.4h-4.7v-2.6H263.6z"/>
                                <path d="M279.1,10.8h11.2v2.6h-8.1v3.4h7.5v2.6h-7.5v3.9h8.5v2.8h-11.6V10.8z"/>
                                <path d="M302,20c-0.5,0.1-1,0.2-1.5,0.3s-0.8,0.1-1.2,0.1c-0.3,0-0.6,0.1-0.9,0.1c-0.2,0-0.4,0-0.5,0c-0.8,0-1.4-0.1-1.9-0.2
								c-0.5-0.1-1-0.3-1.3-0.5c-0.3-0.2-0.6-0.5-0.8-0.7c-0.2-0.3-0.3-0.6-0.4-0.9c-0.1-0.3-0.2-0.6-0.2-0.9c0-0.3,0-0.6,0-0.9v-5.6h3.1
								v4.8c0,0.5,0,0.9,0.1,1.2c0.1,0.3,0.3,0.6,0.5,0.7c0.2,0.2,0.5,0.3,0.8,0.4s0.8,0.1,1.3,0.1c0.2,0,0.4,0,0.7,0c0.3,0,0.5,0,0.8-0.1
								c0.3,0,0.5-0.1,0.8-0.1c0.3-0.1,0.5-0.1,0.7-0.2v-6.9h3.2V26h-3.2v-6H302z"/>
                                <path d="M309,10.8h3.2v5.8h6v-5.8h3.2v15.3h-3.2v-6.8h-6v6.8H309V10.8z"/>
                                <path d="M324.7,18.4c0-1.1,0.2-2.2,0.5-3.2c0.3-1,0.8-1.8,1.4-2.5c0.6-0.7,1.4-1.3,2.3-1.7c0.9-0.4,2-0.6,3.2-0.6
								c1.1,0,2.1,0.2,3.1,0.6c0.9,0.4,1.7,1,2.3,1.7c0.6,0.7,1.1,1.6,1.5,2.5c0.4,0.9,0.5,2,0.5,3.2c0,1.1-0.2,2.2-0.5,3.2
								c-0.3,1-0.8,1.8-1.5,2.5c-0.6,0.7-1.4,1.3-2.3,1.7c-0.9,0.4-1.9,0.6-3.1,0.6c-1.2,0-2.3-0.2-3.2-0.6s-1.7-1-2.3-1.7
								s-1.1-1.6-1.4-2.5C324.8,20.6,324.7,19.6,324.7,18.4z M332,23.7c0.7,0,1.2-0.1,1.7-0.4c0.5-0.3,0.9-0.6,1.3-1.1
								c0.4-0.5,0.6-1,0.8-1.7c0.2-0.6,0.3-1.3,0.3-2.1c0-0.8-0.1-1.5-0.3-2.1c-0.2-0.6-0.5-1.2-0.8-1.7c-0.4-0.5-0.8-0.8-1.3-1.1
								c-0.5-0.3-1.1-0.4-1.7-0.4s-1.2,0.1-1.7,0.4c-0.5,0.3-0.9,0.6-1.3,1.1c-0.4,0.5-0.6,1-0.8,1.7c-0.2,0.6-0.3,1.3-0.3,2.1
								s0.1,1.5,0.3,2.1c0.2,0.6,0.5,1.2,0.8,1.7c0.4,0.5,0.8,0.8,1.3,1.1C330.8,23.6,331.4,23.7,332,23.7z"/>
                                <path d="M343,10.8h11.2v2.6h-8.1v3.4h7.5v2.6h-7.5v3.9h8.5v2.8H343V10.8z"/>
                            </g>
                            <g>
                                <path d="M116.9,96.3h4.5l6.6,18.8h-4.2l-1.2-3.9h-7l-1.3,3.9h-4.1L116.9,96.3z M116.7,108h4.8l-2.3-7.4h-0.1L116.7,108z"/>
                                <path d="M130.8,96.3h3.9v7.1h7.3v-7.1h3.9v18.8h-3.9v-8.4h-7.3v8.4h-3.9V96.3z"/>
                                <path d="M148.7,96.3H164v3.2h-5.7v15.5h-3.9V99.6h-5.7V96.3z"/>
                                <path d="M166.7,96.3h3.8v12.7h0.1l7.4-12.7h4v18.8h-3.8v-12.7h-0.1l-7.4,12.7h-4V96.3z"/>
                                <path d="M185.4,105.8c0-1.4,0.2-2.7,0.6-3.9c0.4-1.2,0.9-2.2,1.7-3.1c0.7-0.9,1.7-1.6,2.8-2.1s2.4-0.8,3.9-0.8
								c1.4,0,2.6,0.3,3.7,0.8c1.1,0.5,2.1,1.2,2.8,2.1c0.8,0.9,1.4,1.9,1.8,3.1c0.4,1.2,0.6,2.5,0.6,3.9c0,1.4-0.2,2.7-0.6,3.9
								c-0.4,1.2-1,2.2-1.8,3.1s-1.7,1.6-2.8,2.1c-1.1,0.5-2.4,0.8-3.7,0.8c-1.5,0-2.8-0.2-3.9-0.8c-1.1-0.5-2.1-1.2-2.8-2.1
								s-1.3-1.9-1.7-3.1C185.6,108.5,185.4,107.2,185.4,105.8z M194.4,112.2c0.8,0,1.5-0.2,2.1-0.5c0.6-0.3,1.2-0.8,1.6-1.3
								c0.4-0.6,0.8-1.2,1-2c0.2-0.8,0.3-1.6,0.3-2.6c0-0.9-0.1-1.8-0.3-2.6c-0.2-0.8-0.6-1.5-1-2s-1-1-1.6-1.3c-0.6-0.3-1.3-0.5-2.1-0.5
								s-1.5,0.2-2.1,0.5c-0.6,0.3-1.2,0.8-1.6,1.3c-0.4,0.6-0.8,1.3-1,2c-0.2,0.8-0.4,1.6-0.4,2.6c0,0.9,0.1,1.8,0.4,2.6
								c0.2,0.8,0.6,1.5,1,2c0.4,0.6,1,1,1.6,1.3C192.9,112,193.6,112.2,194.4,112.2z"/>
                                <path d="M207.4,96.3h3.9v7.6l7.1-7.6h5l-7.6,7.7l8.1,11H219l-5.8-8.3l-1.9,1.9v6.3h-3.9L207.4,96.3L207.4,96.3z"/>
                                <path d="M238.5,102.6c-0.1-0.2-0.1-0.4-0.2-0.6s-0.2-0.5-0.3-0.7c-0.1-0.2-0.3-0.5-0.5-0.7c-0.2-0.2-0.4-0.4-0.7-0.6
								c-0.3-0.2-0.7-0.3-1.1-0.4c-0.4-0.1-0.9-0.2-1.5-0.2c-0.2,0-0.5,0-0.8,0.1s-0.7,0.2-1,0.3c-0.3,0.2-0.7,0.4-1,0.7
								c-0.3,0.3-0.6,0.7-0.9,1.2c-0.3,0.5-0.5,1.1-0.6,1.7c-0.1,0.6-0.2,1.5-0.2,2.4c0,1,0.1,1.9,0.3,2.7c0.2,0.8,0.5,1.5,0.9,2
								c0.4,0.5,0.9,1,1.4,1.3c0.6,0.3,1.2,0.4,1.9,0.4c0.8,0,1.5-0.1,2-0.4c0.5-0.3,0.9-0.6,1.2-0.9c0.3-0.4,0.5-0.7,0.7-1.1
								c0.2-0.4,0.3-0.7,0.4-1h3.9c-0.2,1.2-0.6,2.2-1.1,3s-1.1,1.6-1.8,2.1c-0.7,0.5-1.5,1-2.4,1.3c-0.9,0.3-1.8,0.4-2.8,0.4
								c-1.4,0-2.6-0.2-3.7-0.7c-1.1-0.5-2-1.1-2.7-2s-1.3-1.9-1.7-3.1c-0.4-1.2-0.6-2.6-0.6-4c0-1.2,0.1-2.2,0.3-3.1
								c0.2-0.9,0.5-1.8,0.9-2.5s0.9-1.4,1.4-1.9c0.5-0.5,1.1-1,1.7-1.3c0.6-0.3,1.3-0.6,2-0.8c0.7-0.2,1.4-0.2,2.1-0.2
								c1,0,1.9,0.1,2.7,0.3c0.8,0.2,1.5,0.5,2.1,0.9c0.6,0.4,1.1,0.8,1.5,1.2c0.4,0.5,0.8,0.9,1,1.4c0.2,0.5,0.5,1,0.6,1.5
								c0.1,0.5,0.2,0.9,0.2,1.3L238.5,102.6L238.5,102.6z"/>
                                <path d="M245.7,96.3h3.8v12.7h0.1l7.4-12.7h4v18.8h-3.8v-12.7h-0.1l-7.4,12.7h-4L245.7,96.3L245.7,96.3z"/>
                                <path d="M263.6,111.9h1.6c0.2-0.5,0.4-1.1,0.6-1.6c0.2-0.6,0.4-1.1,0.5-1.8c0.1-0.7,0.3-1.4,0.5-2.1c0.1-0.8,0.3-1.6,0.4-2.6
								c0.1-1,0.2-2.1,0.3-3.3c0.1-1.2,0.1-2.6,0.1-4.1h12.7v15.5h1.8v7.2h-3.4v-4H267v4h-3.4V111.9z M276.5,99.6H271c0,0.3,0,0.8,0,1.3
								c0,0.5,0,1.1-0.1,1.8c-0.1,0.7-0.1,1.3-0.2,2.1c-0.1,0.8-0.2,1.5-0.3,2.3c-0.1,0.8-0.3,1.6-0.5,2.4c-0.2,0.8-0.5,1.6-0.8,2.4h7.3
								V99.6z"/>
                                <path d="M290.3,96.3h4.5l6.6,18.8h-4.3l-1.2-3.9H289l-1.3,3.9h-4.1L290.3,96.3z M290,108h4.8l-2.3-7.4h-0.1L290,108z"/>
                                <path d="M304.2,96.3h3.9v7.1h7.3v-7.1h3.9v18.8h-3.9v-8.4h-7.3v8.4h-3.9V96.3z"/>
                                <path d="M322.1,96.3h15.3v3.2h-5.7v15.5h-3.9V99.6h-5.7L322.1,96.3L322.1,96.3z"/>
                                <path d="M340.1,96.3h3.9v7.1h7.3v-7.1h3.9v18.8h-3.9v-8.4h-7.3v8.4h-3.9V96.3z"/>
                                <path d="M358.8,105.8c0-1.4,0.2-2.7,0.6-3.9c0.4-1.2,0.9-2.2,1.7-3.1s1.7-1.6,2.8-2.1c1.1-0.5,2.4-0.8,3.9-0.8
								c1.4,0,2.6,0.3,3.7,0.8s2.1,1.2,2.8,2.1c0.7,0.9,1.4,1.9,1.8,3.1c0.4,1.2,0.6,2.5,0.6,3.9c0,1.4-0.2,2.7-0.6,3.9
								c-0.4,1.2-1,2.2-1.8,3.1s-1.7,1.6-2.8,2.1c-1.1,0.5-2.4,0.8-3.7,0.8c-1.5,0-2.8-0.2-3.9-0.8c-1.1-0.5-2.1-1.2-2.8-2.1
								s-1.3-1.9-1.7-3.1S358.8,107.2,358.8,105.8z M367.8,112.2c0.8,0,1.5-0.2,2.1-0.5c0.6-0.3,1.2-0.8,1.6-1.3c0.4-0.6,0.8-1.2,1-2
								s0.3-1.6,0.3-2.6c0-0.9-0.1-1.8-0.3-2.6c-0.2-0.8-0.6-1.5-1-2c-0.4-0.5-1-1-1.6-1.3c-0.6-0.3-1.3-0.5-2.1-0.5
								c-0.8,0-1.5,0.2-2.1,0.5c-0.6,0.3-1.2,0.8-1.6,1.3c-0.4,0.5-0.8,1.3-1,2c-0.2,0.8-0.3,1.6-0.3,2.6c0,0.9,0.1,1.8,0.3,2.6
								c0.2,0.8,0.6,1.5,1,2c0.4,0.6,1,1,1.6,1.3C366.3,112,367,112.2,367.8,112.2z"/>
                                <path d="M380.7,96.3h13.7v3.2h-10v4.1h9.2v3.2h-9.2v4.7h10.4v3.4h-14.2V96.3H380.7z"/>
                            </g>
                            <g>
                                <path d="M8.5,270.8h19.3v23.7h-4.9v-19.6h-9.3v19.6h-5C8.5,294.4,8.5,270.8,8.5,270.8z"/>
                                <path d="M33.4,270.8h10.7c1.3,0,2.3,0.2,3.3,0.5c0.9,0.3,1.7,0.8,2.3,1.5c0.6,0.7,1.1,1.4,1.4,2.4c0.3,0.9,0.4,2,0.4,3.2
								c0,1.1-0.2,2.1-0.5,3c-0.4,0.9-0.9,1.7-1.5,2.4c-0.6,0.7-1.5,1.2-2.5,1.6S45,286,43.8,286h-5.4v8.5h-4.9V270.8z M38.4,281.9h4.7
								c1.1,0,2-0.3,2.6-0.8s1-1.4,1-2.7c0-0.6-0.1-1.1-0.2-1.6c-0.1-0.5-0.4-0.8-0.7-1.1c-0.3-0.3-0.7-0.5-1.1-0.6
								c-0.4-0.1-0.9-0.2-1.5-0.2h-4.8V281.9z"/>
                                <path d="M54.8,282.6c0-1.8,0.2-3.4,0.7-4.9c0.5-1.5,1.2-2.8,2.1-3.9c0.9-1.1,2.1-2,3.6-2.6s3.1-0.9,5-0.9c1.7,0,3.3,0.3,4.7,0.9
								s2.6,1.5,3.6,2.6c1,1.1,1.7,2.4,2.3,3.9c0.5,1.5,0.8,3.1,0.8,4.9c0,1.8-0.3,3.4-0.8,4.9c-0.5,1.5-1.3,2.8-2.3,3.9
								c-1,1.1-2.2,2-3.6,2.6s-3,0.9-4.7,0.9c-1.9,0-3.6-0.3-5-0.9s-2.6-1.5-3.6-2.6c-0.9-1.1-1.6-2.4-2.1-3.9
								C55.1,286,54.8,284.4,54.8,282.6z M66.2,290.7c1,0,1.9-0.2,2.7-0.6c0.8-0.4,1.5-1,2-1.7c0.6-0.7,1-1.6,1.3-2.6
								c0.3-1,0.4-2.1,0.4-3.2c0-1.2-0.1-2.3-0.4-3.2c-0.3-1-0.7-1.8-1.3-2.6c-0.6-0.7-1.2-1.3-2-1.7c-0.8-0.4-1.7-0.6-2.7-0.6
								c-1,0-1.9,0.2-2.7,0.6c-0.8,0.4-1.5,1-2,1.7c-0.5,0.7-1,1.6-1.3,2.6c-0.3,1-0.4,2.1-0.4,3.2c0,1.2,0.1,2.3,0.4,3.2
								c0.3,1,0.7,1.8,1.3,2.6c0.6,0.8,1.2,1.3,2,1.7C64.3,290.5,65.2,290.7,66.2,290.7z"/>
                                <path d="M80.2,270.8h19.4v4.1h-7.2v19.6h-4.9v-19.6h-7.2C80.2,274.9,80.2,270.8,80.2,270.8z"/>
                                <path d="M103,270.8h4.7v16h0.1l9.4-16h5v23.7h-4.7v-15.9h-0.1l-9.3,15.9h-5v-23.7H103z"/>
                                <path d="M127.8,270.8h11.6c1,0,1.8,0.1,2.5,0.3s1.4,0.4,1.9,0.7c0.5,0.3,1,0.7,1.4,1.1c0.4,0.4,0.7,0.8,0.9,1.3
								c0.2,0.4,0.4,0.9,0.5,1.4s0.1,0.9,0.1,1.3c0,0.6-0.1,1.1-0.2,1.6c-0.1,0.5-0.3,0.9-0.5,1.3c-0.2,0.4-0.5,0.7-0.9,1.1
								c-0.4,0.3-0.8,0.6-1.3,0.9c0.8,0.3,1.4,0.7,1.9,1.1s0.9,0.9,1.1,1.4c0.2,0.5,0.4,1,0.5,1.6s0.1,1.1,0.1,1.6c0,1.1-0.2,2.2-0.6,3
								c-0.4,0.9-1,1.6-1.8,2.2s-1.7,1-2.8,1.4c-1.1,0.3-2.3,0.5-3.6,0.5h-10.8L127.8,270.8L127.8,270.8z M132.5,280.1h6.1
								c0.4,0,0.8,0,1.2-0.1s0.7-0.3,1.1-0.5c0.3-0.2,0.5-0.5,0.7-0.8c0.2-0.3,0.3-0.8,0.3-1.2c0-0.5-0.1-0.9-0.2-1.2
								c-0.2-0.3-0.4-0.6-0.7-0.8c-0.3-0.2-0.6-0.3-1-0.4s-0.8-0.1-1.2-0.1h-6.2v5.1H132.5z M132.5,290.3h6.2c0.5,0,1-0.1,1.5-0.2
								c0.5-0.1,0.9-0.3,1.2-0.6c0.3-0.3,0.6-0.6,0.8-1c0.2-0.4,0.3-0.9,0.3-1.4c0-0.7-0.1-1.2-0.3-1.6c-0.2-0.4-0.5-0.7-0.9-1
								c-0.4-0.2-0.8-0.4-1.3-0.4s-0.9-0.1-1.4-0.1h-6v6.3H132.5z"/>
                                <path d="M151.1,282.6c0-1.8,0.2-3.4,0.7-4.9c0.5-1.5,1.2-2.8,2.1-3.9c0.9-1.1,2.1-2,3.6-2.6s3.1-0.9,5-0.9c1.7,0,3.3,0.3,4.7,0.9
								c1.4,0.6,2.6,1.5,3.6,2.6c1,1.1,1.7,2.4,2.3,3.9c0.5,1.5,0.8,3.1,0.8,4.9c0,1.8-0.3,3.4-0.8,4.9c-0.5,1.5-1.3,2.8-2.3,3.9
								c-1,1.1-2.2,2-3.6,2.6c-1.4,0.6-3,0.9-4.7,0.9c-1.9,0-3.6-0.3-5-0.9c-1.4-0.6-2.6-1.5-3.6-2.6c-0.9-1.1-1.6-2.4-2.1-3.9
								C151.3,286,151.1,284.4,151.1,282.6z M162.4,290.7c1,0,1.9-0.2,2.7-0.6s1.5-1,2-1.7c0.6-0.7,1-1.6,1.3-2.6s0.4-2.1,0.4-3.2
								c0-1.2-0.1-2.3-0.4-3.2c-0.3-1-0.7-1.8-1.3-2.6c-0.6-0.7-1.2-1.3-2-1.7c-0.8-0.4-1.7-0.6-2.7-0.6c-1,0-1.9,0.2-2.7,0.6
								c-0.8,0.4-1.5,1-2,1.7c-0.5,0.7-1,1.6-1.3,2.6c-0.3,1-0.4,2.1-0.4,3.2c0,1.2,0.1,2.3,0.4,3.2c0.3,1,0.7,1.8,1.3,2.6
								c0.6,0.8,1.2,1.3,2,1.7C160.5,290.5,161.4,290.7,162.4,290.7z"/>
                                <path d="M178.7,270.8h11.6c1,0,1.8,0.1,2.5,0.3s1.4,0.4,1.9,0.7c0.5,0.3,1,0.7,1.4,1.1c0.4,0.4,0.7,0.8,0.9,1.3
								c0.2,0.4,0.4,0.9,0.5,1.4c0.1,0.5,0.1,0.9,0.1,1.3c0,0.6-0.1,1.1-0.2,1.6c-0.1,0.5-0.3,0.9-0.5,1.3c-0.2,0.4-0.5,0.7-0.9,1.1
								c-0.4,0.3-0.8,0.6-1.3,0.9c0.8,0.3,1.4,0.7,1.9,1.1s0.9,0.9,1.1,1.4c0.2,0.5,0.4,1,0.5,1.6s0.1,1.1,0.1,1.6c0,1.1-0.2,2.2-0.6,3
								c-0.4,0.9-1,1.6-1.8,2.2s-1.7,1-2.8,1.4c-1.1,0.3-2.3,0.5-3.6,0.5h-10.8L178.7,270.8L178.7,270.8z M183.4,280.1h6.1
								c0.4,0,0.8,0,1.2-0.1s0.7-0.3,1.1-0.5c0.3-0.2,0.5-0.5,0.7-0.8c0.2-0.3,0.3-0.8,0.3-1.2c0-0.5-0.1-0.9-0.2-1.2
								c-0.2-0.3-0.4-0.6-0.7-0.8c-0.3-0.2-0.6-0.3-1-0.4s-0.8-0.1-1.2-0.1h-6.2v5.1H183.4z M183.4,290.3h6.2c0.5,0,1-0.1,1.5-0.2
								s0.9-0.3,1.2-0.6c0.3-0.3,0.6-0.6,0.8-1s0.3-0.9,0.3-1.4c0-0.7-0.1-1.2-0.3-1.6s-0.5-0.7-0.9-1c-0.4-0.2-0.8-0.4-1.3-0.4
								c-0.5,0-0.9-0.1-1.4-0.1h-6v6.3H183.4z"/>
                                <path d="M201.9,282.6c0-1.8,0.2-3.4,0.7-4.9c0.5-1.5,1.2-2.8,2.1-3.9c0.9-1.1,2.1-2,3.6-2.6s3.1-0.9,5-0.9c1.7,0,3.3,0.3,4.7,0.9
								c1.4,0.6,2.6,1.5,3.6,2.6c1,1.1,1.7,2.4,2.3,3.9c0.5,1.5,0.8,3.1,0.8,4.9c0,1.8-0.3,3.4-0.8,4.9c-0.5,1.5-1.3,2.8-2.3,3.9
								c-1,1.1-2.2,2-3.6,2.6c-1.4,0.6-3,0.9-4.7,0.9c-1.9,0-3.6-0.3-5-0.9s-2.6-1.5-3.6-2.6c-0.9-1.1-1.6-2.4-2.1-3.9
								C202.1,286,201.9,284.4,201.9,282.6z M213.3,290.7c1,0,1.9-0.2,2.7-0.6c0.8-0.4,1.5-1,2-1.7c0.6-0.7,1-1.6,1.3-2.6s0.4-2.1,0.4-3.2
								c0-1.2-0.1-2.3-0.4-3.2c-0.3-1-0.7-1.8-1.3-2.6c-0.6-0.7-1.2-1.3-2-1.7c-0.8-0.4-1.7-0.6-2.7-0.6c-1,0-1.9,0.2-2.7,0.6
								s-1.5,1-2,1.7c-0.5,0.7-1,1.6-1.3,2.6c-0.3,1-0.4,2.1-0.4,3.2c0,1.2,0.1,2.3,0.4,3.2c0.3,1,0.7,1.8,1.3,2.6c0.6,0.8,1.2,1.3,2,1.7
								S212.3,290.7,213.3,290.7z"/>
                                <path d="M244.5,278.6c-0.1-0.2-0.1-0.5-0.2-0.8c-0.1-0.3-0.2-0.6-0.4-0.9c-0.2-0.3-0.4-0.6-0.6-0.9c-0.3-0.3-0.6-0.5-0.9-0.8
								c-0.4-0.2-0.8-0.4-1.4-0.5c-0.5-0.1-1.1-0.2-1.8-0.2c-0.3,0-0.7,0-1.1,0.1c-0.4,0.1-0.8,0.2-1.3,0.4c-0.4,0.2-0.9,0.5-1.3,0.9
								s-0.8,0.9-1.1,1.5c-0.3,0.6-0.6,1.3-0.8,2.2c-0.2,0.9-0.3,1.9-0.3,3c0,1.3,0.1,2.4,0.4,3.4s0.7,1.9,1.2,2.5
								c0.5,0.7,1.1,1.2,1.8,1.6c0.7,0.4,1.5,0.6,2.4,0.6c1,0,1.9-0.2,2.5-0.5c0.6-0.3,1.2-0.7,1.6-1.2c0.4-0.5,0.7-0.9,0.9-1.4
								c0.2-0.5,0.3-0.9,0.5-1.3h4.9c-0.3,1.5-0.7,2.8-1.3,3.8c-0.6,1.1-1.4,2-2.3,2.7c-0.9,0.7-1.9,1.2-3,1.6s-2.3,0.5-3.5,0.5
								c-1.8,0-3.3-0.3-4.7-0.9c-1.4-0.6-2.5-1.4-3.4-2.5c-0.9-1.1-1.6-2.4-2.1-3.9c-0.5-1.5-0.7-3.2-0.7-5.1c0-1.5,0.1-2.8,0.4-3.9
								c0.3-1.2,0.7-2.2,1.2-3.1c0.5-0.9,1.1-1.7,1.8-2.4c0.7-0.7,1.4-1.2,2.2-1.6s1.6-0.8,2.5-1s1.8-0.3,2.7-0.3c1.3,0,2.4,0.1,3.4,0.4
								c1,0.3,1.9,0.6,2.6,1.1c0.7,0.5,1.4,1,1.9,1.5c0.5,0.6,1,1.2,1.3,1.8c0.3,0.6,0.6,1.2,0.8,1.8c0.2,0.6,0.3,1.2,0.3,1.7h-5.1V278.6z
								"/>
                                <path d="M253.6,270.8h19.3v23.7h-4.9v-19.6h-9.3v19.6h-5L253.6,270.8L253.6,270.8z"/>
                                <path d="M285,270.8h5.6l8.4,23.6h-5.4l-1.5-4.9h-8.7l-1.6,4.9h-5.2L285,270.8z M284.7,285.5h6l-2.9-9.3h-0.1L284.7,285.5z"/>
                                <path d="M317.2,274.9h-6.9v3.6c0,2.1,0,4-0.1,5.7c-0.1,1.6-0.3,3.1-0.5,4.3c-0.2,1.2-0.5,2.2-0.8,3.1c-0.3,0.8-0.7,1.5-1.2,2
								c-0.5,0.5-1,0.9-1.6,1.1c-0.6,0.2-1.2,0.3-1.9,0.3c-0.6,0-1.1,0-1.5-0.1c-0.4-0.1-0.9-0.2-1.3-0.4V290c0.1,0.1,0.3,0.1,0.5,0.2
								s0.3,0.1,0.5,0.1c0.2,0,0.3,0,0.4,0.1c0.1,0,0.2,0,0.3,0c0.3,0,0.6,0,0.8-0.1c0.3-0.1,0.5-0.3,0.7-0.5c0.2-0.3,0.4-0.7,0.5-1.2
								c0.1-0.5,0.3-1.2,0.4-2c0.1-0.8,0.2-1.9,0.2-3.1c0-1.2,0.1-2.7,0.1-4.4V271h16.4v23.5h-5V274.9z"/>
                                <path d="M327.1,270.8h4.7v16h0.1l9.4-16h5v23.7h-4.7v-15.9h-0.1l-9.3,15.9h-5v-23.7H327.1z"/>
                                <path d="M349.7,270.8h19.5v4.1h-7.2v19.6H357v-19.6h-7.2v-4.1H349.7z"/>
                                <path d="M372.8,270.8h17.4v4.1h-12.6v5.2h11.6v4.1h-11.6v5.9h13.2v4.3h-18V270.8z"/>
                                <path d="M409.8,274.9h-6.9v3.6c0,2.1,0,4-0.1,5.7c-0.1,1.6-0.3,3.1-0.5,4.3c-0.2,1.2-0.5,2.2-0.8,3.1c-0.3,0.8-0.7,1.5-1.2,2
								c-0.5,0.5-1,0.9-1.6,1.1c-0.6,0.2-1.2,0.3-1.9,0.3c-0.6,0-1.1,0-1.5-0.1c-0.4-0.1-0.9-0.2-1.3-0.4V290c0.2,0.1,0.3,0.1,0.5,0.2
								c0.2,0,0.3,0.1,0.5,0.1s0.3,0,0.4,0.1c0.1,0.1,0.2,0,0.3,0c0.3,0,0.6,0,0.8-0.1c0.3-0.1,0.5-0.3,0.7-0.5c0.2-0.3,0.4-0.7,0.5-1.2
								c0.1-0.5,0.3-1.2,0.4-2c0.1-0.8,0.2-1.9,0.2-3.1c0-1.2,0.1-2.7,0.1-4.4V271h16.5v23.5H410v-19.6H409.8z"/>
                                <path d="M420,270.8h4.9v9.3h4.7c0.4,0,0.8,0,1.4,0c0.6,0,1.1,0.1,1.8,0.2c0.6,0.1,1.3,0.3,1.9,0.6c0.6,0.3,1.2,0.7,1.7,1.2
								s0.9,1.2,1.3,2c0.3,0.8,0.5,1.8,0.5,3c0,1.2-0.2,2.2-0.5,3c-0.3,0.8-0.7,1.5-1.2,2s-1,0.9-1.7,1.2c-0.7,0.3-1.2,0.5-1.8,0.6
								c-0.6,0.1-1.1,0.2-1.6,0.2s-0.8,0-1.1,0h-10.4v-23.4H420z M424.9,290.3h4.2c0.4,0,0.9,0,1.4-0.1s0.9-0.2,1.3-0.4
								c0.4-0.2,0.7-0.5,1-1s0.4-1,0.4-1.7c0-0.7-0.1-1.3-0.4-1.7c-0.3-0.4-0.6-0.7-1-1c-0.4-0.2-0.9-0.3-1.4-0.4c-0.5-0.1-1-0.1-1.5-0.1
								h-4V290.3z"/>
                                <path d="M442.2,270.8h5v9h9.3v-9h4.9v23.7h-4.9v-10.5h-9.3v10.5h-5V270.8z"/>
                                <path d="M465.9,282.6c0-1.8,0.2-3.4,0.7-4.9c0.5-1.5,1.2-2.8,2.1-3.9c0.9-1.1,2.1-2,3.6-2.6c1.4-0.6,3.1-0.9,5-0.9
								c1.7,0,3.3,0.3,4.7,0.9c1.4,0.6,2.6,1.5,3.6,2.6c1,1.1,1.7,2.4,2.3,3.9c0.5,1.5,0.8,3.1,0.8,4.9c0,1.8-0.3,3.4-0.8,4.9
								c-0.5,1.5-1.3,2.8-2.3,3.9c-1,1.1-2.2,2-3.6,2.6s-3,0.9-4.7,0.9c-1.9,0-3.6-0.3-5-0.9s-2.6-1.5-3.6-2.6c-0.9-1.1-1.7-2.4-2.1-3.9
								C466.1,286,465.9,284.4,465.9,282.6z M477.2,290.7c1,0,1.9-0.2,2.7-0.6c0.8-0.4,1.5-1,2-1.7c0.6-0.7,1-1.6,1.3-2.6s0.4-2.1,0.4-3.2
								c0-1.2-0.1-2.3-0.4-3.2c-0.3-1-0.7-1.8-1.3-2.6c-0.6-0.7-1.2-1.3-2-1.7c-0.8-0.4-1.7-0.6-2.7-0.6s-1.9,0.2-2.7,0.6
								c-0.8,0.4-1.5,1-2,1.7c-0.5,0.7-1,1.6-1.3,2.6c-0.3,1-0.4,2.1-0.4,3.2c0,1.2,0.1,2.3,0.4,3.2c0.3,1,0.7,1.8,1.3,2.6
								c0.6,0.8,1.2,1.3,2,1.7C475.3,290.5,476.2,290.7,477.2,290.7z"/>
                                <path d="M493.5,270.8h17.4v4.1h-12.6v5.2h11.6v4.1h-11.6v5.9h13.2v4.3h-18V270.8z"/>
                            </g>
                        </svg>
                    </div>
                    <div class="molecula">
                        <svg x="0px" y="0px" viewBox="0 0 512 295">
                            <style type="text/css">
                                .st0{fill:#5B5B5B;}
                                .st1{fill:#00369C;}
                                .st2{fill:#727272;}
                            </style>
                            <g>
                                <path class="st0" d="M93.7,259.6c0,0,3.2-34.2-32.9-45.6c10,4.1,40.6-5.2,48.5-14.2c-7.7,15.8-11.4,37.8,7.4,53.4
								C110.8,252.5,102.1,253.7,93.7,259.6z"/>
                                <ellipse class="st1" cx="72.8" cy="147.3" rx="72.8" ry="72.9"/>
                                <ellipse class="st2" cx="105.7" cy="265.7" rx="29.4" ry="29.5"/>
                                <path class="st0" d="M113.4,118.7c0,0-6-17.7-18.8-25.9c21.6-11.4,32.6-35.8,32.6-35.8s-3.7,30.5,28.7,44.5
								C141.2,100.3,132.1,104.1,113.4,118.7z"/>
                                <ellipse class="st2" cx="171.9" cy="56.7" rx="56.4" ry="56.5"/>
                            </g>
                            <g>
                                <path d="M250.6,32h14v16.7H261V34.9h-6.8v13.8h-3.6L250.6,32L250.6,32z"/>
                                <path d="M269.1,32h7.8c0.9,0,1.7,0.1,2.4,0.4c0.7,0.2,1.2,0.6,1.7,1.1c0.4,0.5,0.8,1,1,1.7s0.3,1.4,0.3,2.3c0,0.8-0.1,1.5-0.4,2.2
								s-0.6,1.2-1.1,1.7s-1.1,0.8-1.8,1.1c-0.7,0.3-1.5,0.4-2.4,0.4h-3.9v6h-3.6V32z M272.7,39.8h3.4c0.8,0,1.5-0.2,1.9-0.6
								c0.5-0.4,0.7-1,0.7-1.9c0-0.4-0.1-0.8-0.2-1.1s-0.3-0.6-0.5-0.8s-0.5-0.3-0.8-0.4c-0.3-0.1-0.7-0.1-1.1-0.1h-3.4V39.8z"/>
                                <path d="M285.2,40.3c0-1.3,0.2-2.4,0.5-3.5c0.3-1.1,0.9-2,1.5-2.8c0.7-0.8,1.5-1.4,2.6-1.8c1-0.4,2.2-0.7,3.6-0.7
								c1.3,0,2.4,0.2,3.4,0.7c1,0.4,1.9,1.1,2.6,1.8c0.7,0.8,1.3,1.7,1.6,2.8c0.4,1.1,0.6,2.2,0.6,3.5c0,1.2-0.2,2.4-0.6,3.5
								c-0.4,1.1-0.9,2-1.6,2.8c-0.7,0.8-1.6,1.4-2.6,1.8c-1,0.4-2.2,0.7-3.4,0.7c-1.4,0-2.6-0.2-3.6-0.7c-1-0.4-1.9-1.1-2.6-1.8
								c-0.7-0.8-1.2-1.7-1.5-2.8C285.4,42.7,285.2,41.6,285.2,40.3z M293.5,46.1c0.7,0,1.4-0.1,2-0.4s1.1-0.7,1.5-1.2
								c0.4-0.5,0.7-1.1,0.9-1.8c0.2-0.7,0.3-1.5,0.3-2.3s-0.1-1.6-0.3-2.3c-0.2-0.7-0.5-1.3-0.9-1.8c-0.4-0.5-0.9-0.9-1.5-1.2
								c-0.6-0.3-1.2-0.4-2-0.4c-0.7,0-1.4,0.1-2,0.4s-1.1,0.7-1.5,1.2c-0.4,0.5-0.7,1.1-0.9,1.8c-0.2,0.7-0.3,1.5-0.3,2.3
								s0.1,1.6,0.3,2.3c0.2,0.7,0.5,1.3,0.9,1.8c0.4,0.5,0.9,0.9,1.5,1.2S292.7,46.1,293.5,46.1z"/>
                                <path d="M304,32h14.1v2.9h-5.3v13.8h-3.6V34.9H304V32z"/>
                                <path d="M321.1,32h3.5v11.4l0,0l6.8-11.4h3.6v16.7h-3.5V37.4l0,0l-6.8,11.3H321V32H321.1z"/>
                                <path d="M339.6,32h8.4c0.7,0,1.3,0.1,1.9,0.2c0.5,0.1,1,0.3,1.4,0.5s0.7,0.5,1,0.8c0.3,0.3,0.5,0.6,0.6,0.9c0.2,0.3,0.3,0.6,0.3,1
								c0.1,0.3,0.1,0.6,0.1,0.9c0,0.4,0,0.8-0.1,1.1c-0.1,0.3-0.2,0.6-0.4,0.9c-0.2,0.3-0.4,0.5-0.7,0.8c-0.3,0.2-0.6,0.4-1,0.6
								c0.6,0.2,1,0.5,1.4,0.8c0.4,0.3,0.6,0.6,0.8,1c0.2,0.4,0.3,0.7,0.4,1.1c0.1,0.4,0.1,0.8,0.1,1.1c0,0.8-0.2,1.5-0.5,2.2
								c-0.3,0.6-0.7,1.1-1.3,1.6c-0.6,0.4-1.2,0.7-2,1c-0.8,0.2-1.7,0.3-2.6,0.3h-7.9V32H339.6z M343.1,38.6h4.4c0.3,0,0.6,0,0.9-0.1
								s0.5-0.2,0.8-0.3c0.2-0.2,0.4-0.4,0.5-0.6c0.1-0.2,0.2-0.5,0.2-0.9c0-0.4-0.1-0.7-0.2-0.9c-0.1-0.2-0.3-0.4-0.5-0.6
								c-0.2-0.1-0.5-0.2-0.7-0.3c-0.3-0.1-0.6-0.1-0.9-0.1h-4.5L343.1,38.6L343.1,38.6z M343.1,45.8h4.5c0.4,0,0.8,0,1.1-0.1
								c0.3-0.1,0.6-0.2,0.9-0.4c0.2-0.2,0.4-0.4,0.6-0.7c0.1-0.3,0.2-0.6,0.2-1c0-0.5-0.1-0.9-0.2-1.2c-0.2-0.3-0.4-0.5-0.7-0.7
								c-0.3-0.2-0.6-0.3-0.9-0.3s-0.7-0.1-1-0.1h-4.4v4.5H343.1z"/>
                                <path d="M357,40.3c0-1.3,0.2-2.4,0.5-3.5c0.3-1.1,0.9-2,1.5-2.8c0.7-0.8,1.5-1.4,2.6-1.8c1-0.4,2.2-0.7,3.6-0.7
								c1.3,0,2.4,0.2,3.4,0.7c1,0.4,1.9,1.1,2.6,1.8c0.7,0.8,1.3,1.7,1.6,2.8c0.4,1.1,0.6,2.2,0.6,3.5c0,1.2-0.2,2.4-0.6,3.5
								c-0.4,1.1-0.9,2-1.6,2.8c-0.7,0.8-1.6,1.4-2.6,1.8c-1,0.4-2.2,0.7-3.4,0.7c-1.4,0-2.6-0.2-3.6-0.7c-1-0.4-1.9-1.1-2.6-1.8
								c-0.7-0.8-1.2-1.7-1.5-2.8C357.2,42.7,357,41.6,357,40.3z M365.3,46.1c0.7,0,1.4-0.1,2-0.4s1.1-0.7,1.5-1.2
								c0.4-0.5,0.7-1.1,0.9-1.8c0.2-0.7,0.3-1.5,0.3-2.3s-0.1-1.6-0.3-2.3c-0.2-0.7-0.5-1.3-0.9-1.8c-0.4-0.5-0.9-0.9-1.5-1.2
								c-0.6-0.3-1.2-0.4-2-0.4c-0.7,0-1.4,0.1-2,0.4s-1.1,0.7-1.5,1.2c-0.4,0.5-0.7,1.1-0.9,1.8c-0.2,0.7-0.3,1.5-0.3,2.3
								s0.1,1.6,0.3,2.3c0.2,0.7,0.5,1.3,0.9,1.8c0.4,0.5,0.9,0.9,1.5,1.2S364.5,46.1,365.3,46.1z"/>
                                <path d="M376.6,40.3c0-1.3,0.2-2.4,0.5-3.5c0.3-1.1,0.9-2,1.5-2.8c0.7-0.8,1.5-1.4,2.6-1.8c1-0.4,2.2-0.7,3.6-0.7
								c1.3,0,2.4,0.2,3.4,0.7c1,0.4,1.9,1.1,2.6,1.8c0.7,0.8,1.3,1.7,1.6,2.8c0.4,1.1,0.6,2.2,0.6,3.5c0,1.2-0.2,2.4-0.6,3.5
								c-0.4,1.1-0.9,2-1.6,2.8c-0.7,0.8-1.6,1.4-2.6,1.8c-1,0.4-2.2,0.7-3.4,0.7c-1.4,0-2.6-0.2-3.6-0.7c-1-0.4-1.9-1.1-2.6-1.8
								c-0.7-0.8-1.2-1.7-1.5-2.8C376.8,42.7,376.6,41.6,376.6,40.3z M384.9,46.1c0.7,0,1.4-0.1,2-0.4s1.1-0.7,1.5-1.2
								c0.4-0.5,0.7-1.1,0.9-1.8c0.2-0.7,0.3-1.5,0.3-2.3s-0.1-1.6-0.3-2.3c-0.2-0.7-0.5-1.3-0.9-1.8c-0.4-0.5-0.9-0.9-1.5-1.2
								c-0.6-0.3-1.2-0.4-2-0.4c-0.7,0-1.4,0.1-2,0.4s-1.1,0.7-1.5,1.2c-0.4,0.5-0.7,1.1-0.9,1.8c-0.2,0.7-0.3,1.5-0.3,2.3
								s0.1,1.6,0.3,2.3c0.2,0.7,0.5,1.3,0.9,1.8c0.4,0.5,0.9,0.9,1.5,1.2S384.2,46.1,384.9,46.1z"/>
                                <path d="M395.5,32h14.1v2.9h-5.3v13.8h-3.6V34.9h-5.2V32z"/>
                                <path d="M412.8,32h12.6v2.9h-9.2v3.7h8.4v2.9h-8.4v4.2h9.6v3h-13V32z"/>
                                <path d="M438.6,42c-0.6,0.1-1.2,0.2-1.7,0.3c-0.5,0.1-1,0.1-1.3,0.2c-0.4,0-0.7,0.1-1,0.1s-0.4,0-0.6,0c-0.9,0-1.6-0.1-2.2-0.2
								s-1.1-0.3-1.5-0.5c-0.4-0.2-0.7-0.5-0.9-0.8c-0.2-0.3-0.4-0.6-0.5-0.9c-0.1-0.3-0.2-0.7-0.2-1s0-0.6,0-0.9v-6.1h3.5v5.3
								c0,0.5,0.1,1,0.2,1.3c0.1,0.3,0.3,0.6,0.5,0.8s0.6,0.3,0.9,0.4c0.4,0.1,0.9,0.1,1.4,0.1c0.2,0,0.5,0,0.8,0s0.6,0,0.9-0.1
								c0.3,0,0.6-0.1,0.9-0.1c0.3-0.1,0.5-0.1,0.8-0.2v-7.5h3.6v16.7h-3.6L438.6,42L438.6,42z"/>
                                <path d="M446.4,32h3.6v6.4h6.8V32h3.6v16.7h-3.6v-7.5H450v7.5h-3.6V32z"/>
                                <path d="M464.1,40.3c0-1.3,0.2-2.4,0.5-3.5c0.3-1.1,0.9-2,1.5-2.8c0.7-0.8,1.6-1.4,2.6-1.8c1-0.4,2.2-0.7,3.6-0.7
								c1.3,0,2.4,0.2,3.4,0.7c1,0.4,1.9,1.1,2.6,1.8c0.7,0.8,1.3,1.7,1.6,2.8c0.3,1.1,0.6,2.2,0.6,3.5c0,1.2-0.2,2.4-0.6,3.5
								c-0.4,1.1-0.9,2-1.6,2.8c-0.7,0.8-1.6,1.4-2.6,1.8c-1,0.4-2.2,0.7-3.4,0.7c-1.4,0-2.6-0.2-3.6-0.7c-1-0.4-1.9-1.1-2.6-1.8
								c-0.7-0.8-1.2-1.7-1.5-2.8C464.2,42.7,464.1,41.6,464.1,40.3z M472.4,46.1c0.7,0,1.4-0.1,2-0.4s1.1-0.7,1.5-1.2
								c0.4-0.5,0.7-1.1,0.9-1.8c0.2-0.7,0.3-1.5,0.3-2.3s-0.1-1.6-0.3-2.3c-0.2-0.7-0.5-1.3-0.9-1.8c-0.4-0.5-0.9-0.9-1.5-1.2
								c-0.6-0.3-1.2-0.4-2-0.4c-0.7,0-1.4,0.1-2,0.4s-1.1,0.7-1.5,1.2c-0.4,0.5-0.7,1.1-0.9,1.8c-0.2,0.7-0.3,1.5-0.3,2.3
								s0.1,1.6,0.3,2.3c0.2,0.7,0.5,1.3,0.9,1.8c0.4,0.5,0.9,0.9,1.5,1.2S471.6,46.1,472.4,46.1z"/>
                                <path d="M484.6,32h12.6v2.9H488v3.7h8.4v2.9H488v4.2h9.6v3h-13V32z"/>
                            </g>
                            <g>
                                <path d="M167.5,155.2h5.5l8.2,23.2H176l-1.5-4.8h-8.6l-1.6,4.8h-5.1L167.5,155.2z M167.2,169.6h5.9l-2.9-9.2h-0.1L167.2,169.6z"/>
                                <path d="M184.8,155.2h4.9v8.8h9.1v-8.8h4.9v23.2h-4.9V168h-9.1v10.4h-4.9V155.2z"/>
                                <path d="M207,155.2h19v4h-7.1v19.2H214v-19.2h-7V155.2z"/>
                                <path d="M229.3,155.2h4.7V171h0.1l9.2-15.8h4.9v23.2h-4.7v-15.7h-0.1l-9.2,15.7h-4.9V155.2z"/>
                                <path d="M252.5,166.8c0-1.7,0.2-3.3,0.7-4.8s1.2-2.8,2.1-3.9c0.9-1.1,2.1-1.9,3.5-2.6c1.4-0.6,3-0.9,4.9-0.9c1.7,0,3.3,0.3,4.6,0.9
								c1.4,0.6,2.6,1.5,3.5,2.6c1,1.1,1.7,2.4,2.2,3.9s0.8,3.1,0.8,4.8s-0.3,3.3-0.8,4.8c-0.5,1.5-1.3,2.8-2.2,3.9
								c-1,1.1-2.1,1.9-3.5,2.6c-1.4,0.6-2.9,0.9-4.6,0.9c-1.9,0-3.5-0.3-4.9-0.9s-2.6-1.5-3.5-2.6s-1.6-2.4-2.1-3.9
								C252.7,170.1,252.5,168.5,252.5,166.8z M263.7,174.9c1,0,1.9-0.2,2.7-0.6c0.8-0.4,1.4-1,2-1.7c0.5-0.7,1-1.6,1.2-2.5
								c0.3-1,0.4-2,0.4-3.2s-0.1-2.2-0.4-3.2c-0.3-1-0.7-1.8-1.2-2.5c-0.5-0.7-1.2-1.3-2-1.7c-0.8-0.4-1.7-0.6-2.7-0.6s-1.9,0.2-2.7,0.6
								c-0.8,0.4-1.4,1-2,1.7c-0.5,0.7-1,1.6-1.2,2.5c-0.3,1-0.4,2-0.4,3.2s0.1,2.2,0.4,3.2c0.3,1,0.7,1.8,1.2,2.5c0.5,0.7,1.2,1.3,2,1.7
								S262.7,174.9,263.7,174.9z"/>
                                <path d="M279.7,155.2h4.9v9.4l8.9-9.4h6.3l-9.5,9.5l10,13.7h-6.1l-7.2-10.3l-2.4,2.4v7.9h-4.9L279.7,155.2L279.7,155.2z"/>
                                <path d="M318.2,162.8c-0.1-0.2-0.1-0.5-0.2-0.8s-0.2-0.6-0.4-0.9c-0.2-0.3-0.4-0.6-0.6-0.9c-0.2-0.3-0.6-0.5-0.9-0.8
								c-0.4-0.2-0.8-0.4-1.3-0.5s-1.1-0.2-1.8-0.2c-0.3,0-0.6,0-1,0.1c-0.4,0.1-0.8,0.2-1.2,0.4c-0.4,0.2-0.8,0.5-1.2,0.9
								c-0.4,0.4-0.8,0.9-1.1,1.4c-0.3,0.6-0.6,1.3-0.8,2.2c-0.2,0.8-0.3,1.8-0.3,3c0,1.3,0.1,2.4,0.4,3.4c0.3,1,0.6,1.8,1.1,2.5
								c0.5,0.7,1.1,1.2,1.8,1.6c0.7,0.4,1.5,0.5,2.4,0.5c1,0,1.9-0.2,2.5-0.5c0.6-0.3,1.2-0.7,1.5-1.2c0.4-0.5,0.7-0.9,0.9-1.4
								c0.2-0.5,0.3-0.9,0.4-1.3h4.8c-0.3,1.5-0.7,2.7-1.3,3.8c-0.6,1.1-1.4,2-2.2,2.7c-0.9,0.7-1.9,1.2-2.9,1.6c-1.1,0.3-2.3,0.5-3.5,0.5
								c-1.7,0-3.3-0.3-4.6-0.9c-1.3-0.6-2.5-1.4-3.4-2.5s-1.6-2.3-2.1-3.8c-0.5-1.5-0.7-3.2-0.7-5c0-1.4,0.1-2.7,0.4-3.9s0.7-2.2,1.1-3.1
								c0.5-0.9,1.1-1.7,1.7-2.3c0.7-0.7,1.4-1.2,2.2-1.6c0.8-0.4,1.6-0.7,2.5-0.9c0.9-0.2,1.7-0.3,2.6-0.3c1.3,0,2.4,0.1,3.4,0.4
								c1,0.3,1.8,0.6,2.6,1.1c0.7,0.4,1.4,0.9,1.9,1.5s0.9,1.2,1.3,1.8c0.3,0.6,0.6,1.2,0.7,1.8c0.2,0.6,0.3,1.2,0.3,1.7h-5V162.8z"/>
                                <path d="M327.2,155.2h4.7V171h0.1l9.2-15.8h4.9v23.2h-4.7v-15.7h-0.1l-9.2,15.7h-4.9V155.2z"/>
                                <path d="M349.3,174.5h2c0.2-0.7,0.5-1.3,0.7-2c0.2-0.7,0.5-1.4,0.7-2.2s0.4-1.7,0.6-2.6c0.2-1,0.3-2,0.5-3.2c0.1-1.2,0.2-2.6,0.3-4
								c0.1-1.5,0.1-3.2,0.2-5h15.8v19.2h2.3v9h-4.2v-5h-14.6v5h-4.2L349.3,174.5L349.3,174.5z M365.3,159.2h-6.7c0,0.4,0,1,0,1.6
								c0,0.7-0.1,1.4-0.1,2.2c0,0.8-0.1,1.7-0.2,2.6c-0.1,0.9-0.2,1.9-0.4,2.9c-0.2,1-0.4,2-0.6,3c-0.3,1-0.6,2-0.9,2.9h9.1v-15.2H365.3z
								"/>
                                <path d="M382.4,155.2h5.5l8.2,23.2h-5.3l-1.5-4.8h-8.6l-1.6,4.8H374L382.4,155.2z M382.1,169.6h5.9l-2.9-9.2H385L382.1,169.6z"/>
                                <path d="M399.7,155.2h4.9v8.8h9.1v-8.8h4.9v23.2h-4.9V168h-9.1v10.4h-4.9V155.2z"/>
                                <path d="M421.9,155.2h19v4h-7.1v19.2h-4.9v-19.2h-7.1v-4H421.9z"/>
                                <path d="M444.2,155.2h4.9v8.8h9.1v-8.8h4.9v23.2h-4.9V168H449v10.4h-4.9v-23.2H444.2z"/>
                                <path d="M467.3,166.8c0-1.7,0.2-3.3,0.7-4.8s1.2-2.8,2.1-3.9c0.9-1.1,2.1-1.9,3.5-2.6c1.4-0.6,3-0.9,4.9-0.9c1.7,0,3.3,0.3,4.6,0.9
								s2.6,1.5,3.5,2.6c1,1.1,1.7,2.4,2.2,3.9s0.8,3.1,0.8,4.8s-0.3,3.3-0.8,4.8c-0.5,1.5-1.3,2.8-2.2,3.9c-1,1.1-2.1,1.9-3.5,2.6
								c-1.4,0.6-2.9,0.9-4.6,0.9c-1.9,0-3.5-0.3-4.9-0.9s-2.6-1.5-3.5-2.6s-1.6-2.4-2.1-3.9C467.6,170.1,467.3,168.5,467.3,166.8z
								 M478.5,174.9c1,0,1.9-0.2,2.7-0.6c0.8-0.4,1.4-1,2-1.7c0.5-0.7,1-1.6,1.2-2.5c0.3-1,0.4-2,0.4-3.2s-0.1-2.2-0.4-3.2
								c-0.3-1-0.7-1.8-1.2-2.5c-0.5-0.7-1.2-1.3-2-1.7c-0.8-0.4-1.7-0.6-2.7-0.6s-1.9,0.2-2.7,0.6c-0.8,0.4-1.4,1-2,1.7
								c-0.5,0.7-1,1.6-1.2,2.5c-0.3,1-0.4,2-0.4,3.2s0.1,2.2,0.4,3.2c0.3,1,0.7,1.8,1.2,2.5c0.5,0.7,1.2,1.3,2,1.7
								C476.6,174.7,477.5,174.9,478.5,174.9z"/>
                                <path d="M494.4,155.2h17.1v4h-12.4v5.2h11.4v4h-11.4v5.9H512v4.2h-17.6V155.2z"/>
                            </g>
                            <g>
                                <path d="M142.5,281.7h9.6v11.8h-2.5v-9.8H145v9.8h-2.5V281.7z"/>
                                <path d="M155,281.7h5.4c0.6,0,1.2,0.1,1.6,0.3c0.5,0.2,0.9,0.4,1.2,0.7c0.3,0.3,0.5,0.7,0.7,1.2c0.2,0.5,0.2,1,0.2,1.6
								s-0.1,1.1-0.3,1.5c-0.2,0.5-0.4,0.9-0.8,1.2s-0.7,0.6-1.2,0.8c-0.5,0.2-1,0.3-1.6,0.3h-2.7v4.2H155V281.7z M157.4,287.2h2.4
								c0.6,0,1-0.1,1.3-0.4c0.3-0.3,0.5-0.7,0.5-1.3c0-0.3,0-0.6-0.1-0.8s-0.2-0.4-0.4-0.5s-0.3-0.2-0.6-0.3c-0.2-0.1-0.5-0.1-0.8-0.1
								h-2.4v3.4H157.4z"/>
                                <path d="M165.7,287.6c0-0.9,0.1-1.7,0.4-2.5c0.2-0.8,0.6-1.4,1.1-2s1.1-1,1.8-1.3s1.6-0.5,2.5-0.5s1.7,0.2,2.4,0.5s1.3,0.8,1.8,1.3
								c0.5,0.6,0.9,1.2,1.1,2c0.3,0.8,0.4,1.6,0.4,2.5s-0.1,1.7-0.4,2.5c-0.3,0.8-0.6,1.4-1.1,2c-0.5,0.6-1.1,1-1.8,1.3s-1.5,0.5-2.4,0.5
								c-1,0-1.8-0.2-2.5-0.5s-1.3-0.8-1.8-1.3c-0.5-0.6-0.8-1.2-1.1-2C165.8,289.3,165.7,288.5,165.7,287.6z M171.4,291.7
								c0.5,0,1-0.1,1.4-0.3c0.4-0.2,0.7-0.5,1-0.8c0.3-0.4,0.5-0.8,0.6-1.3c0.1-0.5,0.2-1,0.2-1.6s-0.1-1.1-0.2-1.6
								c-0.1-0.5-0.4-0.9-0.6-1.3c-0.3-0.4-0.6-0.6-1-0.8c-0.4-0.2-0.9-0.3-1.4-0.3s-1,0.1-1.4,0.3s-0.7,0.5-1,0.8
								c-0.3,0.4-0.5,0.8-0.6,1.3c-0.1,0.5-0.2,1-0.2,1.6s0.1,1.1,0.2,1.6c0.1,0.5,0.4,0.9,0.6,1.3c0.3,0.4,0.6,0.6,1,0.8
								C170.5,291.6,170.9,291.7,171.4,291.7z"/>
                                <path d="M178.4,281.7h9.7v2h-3.6v9.8H182v-9.8h-3.6V281.7z"/>
                                <path d="M189.8,281.7h2.4v8.1l0,0l4.7-8.1h2.5v11.8H197v-8l0,0l-4.7,8h-2.5V281.7z"/>
                                <path d="M202.3,281.7h5.8c0.5,0,0.9,0,1.3,0.1c0.4,0.1,0.7,0.2,1,0.4c0.3,0.2,0.5,0.3,0.7,0.5c0.2,0.2,0.3,0.4,0.4,0.6
								c0.1,0.2,0.2,0.4,0.2,0.7c0,0.2,0.1,0.5,0.1,0.7c0,0.3,0,0.6-0.1,0.8s-0.1,0.5-0.3,0.7c-0.2,0.2-0.3,0.4-0.5,0.5
								c-0.2,0.2-0.4,0.3-0.7,0.4c0.4,0.2,0.7,0.3,1,0.6c0.2,0.2,0.4,0.5,0.6,0.7c0.1,0.3,0.2,0.5,0.3,0.8c0,0.3,0.1,0.5,0.1,0.8
								c0,0.6-0.1,1.1-0.3,1.5c-0.2,0.4-0.5,0.8-0.9,1.1c-0.4,0.3-0.8,0.5-1.4,0.7c-0.5,0.2-1.2,0.2-1.8,0.2h-5.4v-11.8H202.3z
								 M204.6,286.3h3.1c0.2,0,0.4,0,0.6-0.1c0.2,0,0.4-0.1,0.5-0.2c0.2-0.1,0.3-0.3,0.4-0.4c0.1-0.2,0.1-0.4,0.1-0.6
								c0-0.3,0-0.5-0.1-0.6c-0.1-0.2-0.2-0.3-0.3-0.4c-0.1-0.1-0.3-0.2-0.5-0.2s-0.4-0.1-0.6-0.1h-3.1L204.6,286.3L204.6,286.3z
								 M204.6,291.5h3.1c0.3,0,0.5,0,0.8-0.1c0.2-0.1,0.4-0.2,0.6-0.3c0.2-0.1,0.3-0.3,0.4-0.5c0.1-0.2,0.1-0.4,0.1-0.7
								c0-0.3-0.1-0.6-0.2-0.8c-0.1-0.2-0.3-0.4-0.4-0.5c-0.2-0.1-0.4-0.2-0.6-0.2c-0.2,0-0.5-0.1-0.7-0.1h-3v3.2H204.6z"/>
                                <path d="M213.9,287.6c0-0.9,0.1-1.7,0.4-2.5c0.2-0.8,0.6-1.4,1.1-2s1.1-1,1.8-1.3s1.6-0.5,2.5-0.5s1.7,0.2,2.4,0.5s1.3,0.8,1.8,1.3
								c0.5,0.6,0.9,1.2,1.1,2c0.3,0.8,0.4,1.6,0.4,2.5s-0.1,1.7-0.4,2.5c-0.3,0.8-0.6,1.4-1.1,2c-0.5,0.6-1.1,1-1.8,1.3s-1.5,0.5-2.4,0.5
								c-1,0-1.8-0.2-2.5-0.5s-1.3-0.8-1.8-1.3c-0.5-0.6-0.8-1.2-1.1-2C214,289.3,213.9,288.5,213.9,287.6z M219.6,291.7
								c0.5,0,1-0.1,1.4-0.3c0.4-0.2,0.7-0.5,1-0.8c0.3-0.4,0.5-0.8,0.6-1.3c0.1-0.5,0.2-1,0.2-1.6s-0.1-1.1-0.2-1.6
								c-0.1-0.5-0.4-0.9-0.6-1.3c-0.3-0.4-0.6-0.6-1-0.8c-0.4-0.2-0.9-0.3-1.4-0.3s-1,0.1-1.4,0.3s-0.7,0.5-1,0.8
								c-0.3,0.4-0.5,0.8-0.6,1.3c-0.1,0.5-0.2,1-0.2,1.6s0.1,1.1,0.2,1.6c0.1,0.5,0.4,0.9,0.6,1.3c0.3,0.4,0.6,0.6,1,0.8
								C218.7,291.6,219.1,291.7,219.6,291.7z"/>
                                <path d="M227.7,281.7h5.8c0.5,0,0.9,0,1.3,0.1c0.4,0.1,0.7,0.2,1,0.4c0.3,0.2,0.5,0.3,0.7,0.5c0.2,0.2,0.3,0.4,0.4,0.6
								c0.1,0.2,0.2,0.4,0.2,0.7c0,0.2,0.1,0.5,0.1,0.7c0,0.3,0,0.6-0.1,0.8s-0.1,0.5-0.3,0.7c-0.2,0.2-0.3,0.4-0.5,0.5
								c-0.2,0.2-0.4,0.3-0.7,0.4c0.4,0.2,0.7,0.3,1,0.6c0.2,0.2,0.4,0.5,0.6,0.7c0.1,0.3,0.2,0.5,0.3,0.8c0,0.3,0.1,0.5,0.1,0.8
								c0,0.6-0.1,1.1-0.3,1.5c-0.2,0.4-0.5,0.8-0.9,1.1c-0.4,0.3-0.8,0.5-1.4,0.7c-0.5,0.2-1.2,0.2-1.8,0.2h-5.4v-11.8H227.7z
								 M230.1,286.3h3.1c0.2,0,0.4,0,0.6-0.1c0.2,0,0.4-0.1,0.5-0.2c0.2-0.1,0.3-0.3,0.4-0.4c0.1-0.2,0.1-0.4,0.1-0.6
								c0-0.3,0-0.5-0.1-0.6c-0.1-0.2-0.2-0.3-0.3-0.4c-0.1-0.1-0.3-0.2-0.5-0.2s-0.4-0.1-0.6-0.1h-3.1L230.1,286.3L230.1,286.3z
								 M230.1,291.5h3.1c0.3,0,0.5,0,0.8-0.1c0.2-0.1,0.4-0.2,0.6-0.3c0.2-0.1,0.3-0.3,0.4-0.5c0.1-0.2,0.1-0.4,0.1-0.7
								c0-0.3-0.1-0.6-0.2-0.8c-0.1-0.2-0.3-0.4-0.4-0.5c-0.2-0.1-0.4-0.2-0.6-0.2c-0.2,0-0.5-0.1-0.7-0.1h-3v3.2H230.1z"/>
                                <path d="M239.4,287.6c0-0.9,0.1-1.7,0.4-2.5c0.2-0.8,0.6-1.4,1.1-2s1.1-1,1.8-1.3s1.6-0.5,2.5-0.5s1.7,0.2,2.4,0.5s1.3,0.8,1.8,1.3
								c0.5,0.5,0.9,1.2,1.1,2c0.3,0.8,0.4,1.6,0.4,2.5s-0.1,1.7-0.4,2.5c-0.3,0.8-0.6,1.4-1.1,2c-0.5,0.6-1.1,1-1.8,1.3s-1.5,0.5-2.4,0.5
								c-1,0-1.8-0.2-2.5-0.5s-1.3-0.8-1.8-1.3c-0.5-0.6-0.8-1.2-1.1-2C239.5,289.3,239.4,288.5,239.4,287.6z M245.1,291.7
								c0.5,0,1-0.1,1.4-0.3c0.4-0.2,0.7-0.5,1-0.8c0.3-0.4,0.5-0.8,0.6-1.3c0.1-0.5,0.2-1,0.2-1.6s-0.1-1.1-0.2-1.6
								c-0.1-0.5-0.4-0.9-0.6-1.3c-0.3-0.4-0.6-0.6-1-0.8c-0.4-0.2-0.9-0.3-1.4-0.3s-1,0.1-1.4,0.3s-0.7,0.5-1,0.8
								c-0.3,0.4-0.5,0.8-0.6,1.3c-0.1,0.5-0.2,1-0.2,1.6s0.1,1.1,0.2,1.6c0.1,0.5,0.4,0.9,0.6,1.3c0.3,0.4,0.6,0.6,1,0.8
								C244.1,291.6,244.6,291.7,245.1,291.7z"/>
                                <path d="M260.7,285.6c0-0.1-0.1-0.2-0.1-0.4c0-0.1-0.1-0.3-0.2-0.4s-0.2-0.3-0.3-0.4c-0.1-0.1-0.3-0.3-0.5-0.4
								c-0.2-0.1-0.4-0.2-0.7-0.3c-0.3-0.1-0.6-0.1-0.9-0.1c-0.2,0-0.3,0-0.5,0.1c-0.2,0-0.4,0.1-0.6,0.2s-0.4,0.3-0.6,0.4
								c-0.2,0.2-0.4,0.4-0.6,0.7c-0.2,0.3-0.3,0.7-0.4,1.1c-0.1,0.4-0.2,0.9-0.2,1.5s0.1,1.2,0.2,1.7c0.1,0.5,0.3,0.9,0.6,1.3
								c0.3,0.3,0.6,0.6,0.9,0.8c0.4,0.2,0.8,0.3,1.2,0.3c0.5,0,0.9-0.1,1.3-0.2c0.3-0.2,0.6-0.4,0.8-0.6c0.2-0.2,0.3-0.5,0.4-0.7
								c0.1-0.3,0.2-0.5,0.2-0.7h2.5c-0.1,0.7-0.4,1.4-0.7,1.9c-0.3,0.5-0.7,1-1.1,1.4c-0.4,0.4-0.9,0.6-1.5,0.8s-1.2,0.3-1.8,0.3
								c-0.9,0-1.7-0.1-2.3-0.4c-0.7-0.3-1.3-0.7-1.7-1.3c-0.5-0.5-0.8-1.2-1.1-2c-0.2-0.8-0.4-1.6-0.4-2.6c0-0.7,0.1-1.4,0.2-2
								c0.1-0.6,0.3-1.1,0.6-1.6c0.3-0.5,0.5-0.9,0.9-1.2c0.3-0.3,0.7-0.6,1.1-0.8s0.8-0.4,1.3-0.5c0.4-0.1,0.9-0.2,1.3-0.2
								c0.6,0,1.2,0.1,1.7,0.2c0.5,0.1,0.9,0.3,1.3,0.5s0.7,0.5,1,0.8s0.5,0.6,0.7,0.9c0.2,0.3,0.3,0.6,0.4,0.9s0.1,0.6,0.2,0.8h-2.6
								V285.6z"/>
                                <path d="M265.3,281.7h9.6v11.8h-2.5v-9.8h-4.7v9.8h-2.5v-11.8H265.3z"/>
                                <path d="M281,281.7h2.8l4.2,11.8h-2.7l-0.8-2.4h-4.4l-0.8,2.4h-2.6L281,281.7z M280.8,289h3l-1.5-4.7l0,0L280.8,289z"/>
                                <path d="M297.2,283.7h-3.5v1.8c0,1.1,0,2-0.1,2.9c-0.1,0.8-0.1,1.5-0.2,2.1s-0.3,1.1-0.4,1.5c-0.2,0.4-0.4,0.7-0.6,1
								c-0.2,0.2-0.5,0.4-0.8,0.5s-0.6,0.2-1,0.2c-0.3,0-0.5,0-0.8-0.1c-0.2,0-0.4-0.1-0.7-0.2v-2.3c0.1,0,0.2,0.1,0.2,0.1
								c0.1,0,0.2,0,0.2,0.1c0.1,0,0.2,0,0.2,0c0.1,0,0.1,0,0.2,0s0.3,0,0.4-0.1c0.1,0,0.2-0.1,0.3-0.3c0.1-0.1,0.2-0.3,0.3-0.6
								s0.1-0.6,0.2-1c0.1-0.4,0.1-0.9,0.1-1.6c0-0.6,0-1.4,0-2.2v-4.1h8.3v11.8H297v-9.5H297.2z"/>
                                <path d="M302.1,281.7h2.4v8.1l0,0l4.7-8.1h2.5v11.8h-2.4v-8l0,0l-4.7,8h-2.5V281.7z"/>
                                <path d="M313.4,281.7h9.7v2h-3.6v9.8H317v-9.8h-3.6V281.7z"/>
                                <path d="M325,281.7h8.7v2h-6.3v2.6h5.8v2h-5.8v3h6.6v2.1h-9L325,281.7L325,281.7z"/>
                                <path d="M343.5,283.7H340v1.8c0,1.1,0,2-0.1,2.9c-0.1,0.8-0.1,1.5-0.2,2.1s-0.3,1.1-0.4,1.5c-0.2,0.4-0.4,0.7-0.6,1
								c-0.2,0.2-0.5,0.4-0.8,0.5s-0.6,0.2-1,0.2c-0.3,0-0.5,0-0.8-0.1c-0.2,0-0.4-0.1-0.7-0.2v-2.3c0.1,0,0.2,0.1,0.2,0.1
								c0.1,0,0.2,0,0.2,0.1c0.1,0,0.2,0,0.2,0s0.1,0,0.2,0s0.3,0,0.4-0.1c0.1,0,0.2-0.1,0.3-0.3c0.1-0.1,0.2-0.3,0.3-0.6
								c0.1-0.3,0.1-0.6,0.2-1c0.1-0.4,0.1-0.9,0.1-1.6c0-0.6,0-1.4,0-2.2v-4.1h8.3v11.8h-2.5v-9.5H343.5z"/>
                                <path d="M348.6,281.7h2.5v4.7h2.4c0.2,0,0.4,0,0.7,0c0.3,0,0.6,0,0.9,0.1c0.3,0.1,0.6,0.2,1,0.3c0.3,0.1,0.6,0.4,0.9,0.6
								c0.3,0.3,0.5,0.6,0.6,1c0.2,0.4,0.2,0.9,0.2,1.5c0,0.6-0.1,1.1-0.2,1.5c-0.2,0.4-0.4,0.7-0.6,1c-0.3,0.3-0.5,0.5-0.8,0.6
								c-0.3,0.1-0.6,0.2-0.9,0.3s-0.6,0.1-0.8,0.1c-0.2,0-0.4,0-0.5,0h-5.2v-11.7H348.6z M351.1,291.5h2.1c0.2,0,0.5,0,0.7,0
								s0.5-0.1,0.7-0.2s0.4-0.3,0.5-0.5c0.1-0.2,0.2-0.5,0.2-0.8c0-0.4-0.1-0.7-0.2-0.9c-0.1-0.2-0.3-0.4-0.5-0.5
								c-0.2-0.1-0.4-0.2-0.7-0.2c-0.3,0-0.5,0-0.8,0h-2L351.1,291.5L351.1,291.5z"/>
                                <path d="M359.8,281.7h2.5v4.5h4.7v-4.5h2.5v11.8H367v-5.3h-4.7v5.3h-2.5V281.7z"/>
                                <path d="M371.6,287.6c0-0.9,0.1-1.7,0.4-2.5c0.2-0.8,0.6-1.4,1.1-2s1.1-1,1.8-1.3c0.7-0.3,1.6-0.5,2.5-0.5s1.7,0.2,2.4,0.5
								c0.7,0.3,1.3,0.8,1.8,1.3c0.5,0.5,0.9,1.2,1.1,2c0.3,0.8,0.4,1.6,0.4,2.5s-0.1,1.7-0.4,2.5c-0.3,0.8-0.6,1.4-1.1,2
								c-0.5,0.6-1.1,1-1.8,1.3c-0.7,0.3-1.5,0.5-2.4,0.5c-1,0-1.8-0.2-2.5-0.5s-1.3-0.8-1.8-1.3c-0.5-0.6-0.8-1.2-1.1-2
								C371.8,289.3,371.6,288.5,371.6,287.6z M377.4,291.7c0.5,0,1-0.1,1.4-0.3c0.4-0.2,0.7-0.5,1-0.8c0.3-0.4,0.5-0.8,0.6-1.3
								c0.1-0.5,0.2-1,0.2-1.6s-0.1-1.1-0.2-1.6c-0.1-0.5-0.4-0.9-0.6-1.3c-0.3-0.4-0.6-0.6-1-0.8c-0.4-0.2-0.9-0.3-1.4-0.3
								s-1,0.1-1.4,0.3s-0.7,0.5-1,0.8c-0.3,0.4-0.5,0.8-0.6,1.3c-0.1,0.5-0.2,1-0.2,1.6s0.1,1.1,0.2,1.6c0.1,0.5,0.4,0.9,0.6,1.3
								c0.3,0.4,0.6,0.6,1,0.8C376.4,291.6,376.9,291.7,377.4,291.7z"/>
                                <path d="M385.5,281.7h8.7v2h-6.3v2.6h5.8v2h-5.8v3h6.6v2.1h-9L385.5,281.7L385.5,281.7z"/>
                            </g>
                        </svg>
                    </div>
                    <div class="molecula">
                        <svg x="0px" y="0px" viewBox="0 0 512 295">
                            <style type="text/css">
                                .st0{fill:#5B5B5B;}
                                .st1{fill:#727272;}
                                .st2{fill:#00369C;}
                            </style>
                            <path class="st0" d="M35.1,247.1c0,0,35.8-6.8,34-44.3c-0.4,10.7,14.7,38.2,25.9,42.5c-16.6-5.4-38.1-1.8-46.1,21.1
							C47.5,260.5,43.4,252.8,35.1,247.1z"/>
                            <ellipse class="st1" cx="113.8" cy="199.6" rx="49.9" ry="50.2"/>
                            <ellipse class="st1" cx="29.3" cy="266.1" rx="29" ry="29.2"/>
                            <path class="st0" d="M125.7,161.1c0,0-17.9-1.7-30,1.5c4.9-23.7-19.8-37.8-19.8-37.8s30.7,1.8,64.2-6.5
							C129,127.4,121.3,151.3,125.7,161.1z"/>
                            <ellipse class="st2" cx="105.2" cy="71.2" rx="70.5" ry="71"/>
                            <g>
                                <path d="M187.7,41.7H206v22.1h-4.7V45.5h-8.9v18.3h-4.7V41.7z"/>
                                <path d="M212.1,41.7h10.3c1.2,0,2.2,0.2,3.1,0.5c0.9,0.3,1.6,0.8,2.2,1.4c0.6,0.6,1,1.4,1.3,2.2c0.3,0.9,0.4,1.9,0.4,3
								c0,1-0.2,2-0.5,2.8c-0.3,0.9-0.8,1.6-1.5,2.2c-0.6,0.6-1.4,1.1-2.3,1.5c-0.9,0.4-2,0.5-3.1,0.5h-5.2v7.9h-4.7V41.7z M216.8,52.1
								h4.5c1.1,0,1.9-0.3,2.5-0.8c0.6-0.5,0.9-1.3,0.9-2.5c0-0.6-0.1-1.1-0.2-1.5c-0.2-0.4-0.4-0.7-0.7-1c-0.3-0.3-0.7-0.5-1.1-0.6
								c-0.4-0.1-0.9-0.2-1.4-0.2h-4.5V52.1z"/>
                                <path d="M233.2,52.8c0-1.7,0.2-3.2,0.7-4.6c0.5-1.4,1.1-2.6,2-3.7c0.9-1,2-1.9,3.4-2.4c1.4-0.6,3-0.9,4.8-0.9
								c1.7,0,3.2,0.3,4.5,0.9c1.3,0.6,2.5,1.4,3.4,2.4c0.9,1,1.7,2.3,2.2,3.7c0.5,1.4,0.8,2.9,0.8,4.6c0,1.6-0.3,3.2-0.8,4.6
								c-0.5,1.4-1.2,2.6-2.2,3.7c-0.9,1-2.1,1.9-3.4,2.4c-1.3,0.6-2.9,0.9-4.5,0.9c-1.8,0-3.4-0.3-4.8-0.9c-1.4-0.6-2.5-1.4-3.4-2.4
								c-0.9-1-1.6-2.3-2-3.7C233.4,55.9,233.2,54.4,233.2,52.8z M244.1,60.4c1,0,1.8-0.2,2.6-0.6c0.8-0.4,1.4-0.9,1.9-1.6
								c0.5-0.7,0.9-1.5,1.2-2.4c0.3-0.9,0.4-1.9,0.4-3c0-1.1-0.1-2.1-0.4-3c-0.3-0.9-0.7-1.7-1.2-2.4c-0.5-0.7-1.2-1.2-1.9-1.6
								c-0.8-0.4-1.6-0.6-2.6-0.6c-1,0-1.8,0.2-2.6,0.6c-0.8,0.4-1.4,0.9-1.9,1.6c-0.5,0.7-0.9,1.5-1.2,2.4c-0.3,0.9-0.4,1.9-0.4,3
								c0,1.1,0.1,2.1,0.4,3c0.3,0.9,0.7,1.7,1.2,2.4c0.5,0.7,1.2,1.2,1.9,1.6C242.2,60.2,243.1,60.4,244.1,60.4z"/>
                                <path d="M257.9,41.7h18.5v3.8h-6.9v18.3h-4.7V45.5h-6.9V41.7z"/>
                                <path d="M280.3,41.7h4.5v15h0.1l9-15h4.8v22.1h-4.5v-15H294l-8.9,15h-4.8V41.7z"/>
                                <path d="M304.7,41.7h11.1c0.9,0,1.7,0.1,2.4,0.3c0.7,0.2,1.3,0.4,1.8,0.7c0.5,0.3,0.9,0.6,1.3,1c0.3,0.4,0.6,0.8,0.8,1.2
								c0.2,0.4,0.4,0.8,0.4,1.3c0.1,0.4,0.1,0.8,0.1,1.2c0,0.6-0.1,1.1-0.2,1.5c-0.1,0.4-0.3,0.9-0.5,1.2c-0.2,0.4-0.5,0.7-0.9,1
								c-0.4,0.3-0.8,0.6-1.3,0.8c0.8,0.3,1.4,0.6,1.8,1c0.5,0.4,0.8,0.9,1.1,1.3c0.2,0.5,0.4,1,0.5,1.5c0.1,0.5,0.1,1,0.1,1.5
								c0,1.1-0.2,2-0.6,2.8c-0.4,0.8-1,1.5-1.7,2.1c-0.7,0.6-1.6,1-2.7,1.3c-1,0.3-2.2,0.4-3.5,0.4h-10.4V41.7z M309.2,50.4h5.8
								c0.4,0,0.8,0,1.2-0.1c0.4-0.1,0.7-0.2,1-0.4c0.3-0.2,0.5-0.5,0.7-0.8c0.2-0.3,0.3-0.7,0.3-1.2c0-0.5-0.1-0.9-0.2-1.2
								c-0.2-0.3-0.4-0.5-0.7-0.7c-0.3-0.2-0.6-0.3-1-0.4c-0.4-0.1-0.8-0.1-1.2-0.1h-6V50.4z M309.2,60h5.9c0.5,0,1-0.1,1.4-0.2
								c0.4-0.1,0.8-0.3,1.1-0.5c0.3-0.2,0.6-0.6,0.8-0.9c0.2-0.4,0.3-0.8,0.3-1.3c0-0.6-0.1-1.2-0.3-1.5c-0.2-0.4-0.5-0.7-0.9-0.9
								c-0.4-0.2-0.8-0.3-1.2-0.4c-0.4-0.1-0.9-0.1-1.4-0.1h-5.8V60z"/>
                                <path d="M327.5,52.8c0-1.7,0.2-3.2,0.7-4.6c0.5-1.4,1.1-2.6,2-3.7c0.9-1,2-1.9,3.4-2.4c1.4-0.6,3-0.9,4.8-0.9
								c1.7,0,3.2,0.3,4.5,0.9c1.3,0.6,2.5,1.4,3.4,2.4c0.9,1,1.7,2.3,2.2,3.7c0.5,1.4,0.8,2.9,0.8,4.6c0,1.6-0.3,3.2-0.8,4.6
								c-0.5,1.4-1.2,2.6-2.2,3.7c-0.9,1-2.1,1.9-3.4,2.4c-1.3,0.6-2.9,0.9-4.5,0.9c-1.8,0-3.4-0.3-4.8-0.9c-1.4-0.6-2.5-1.4-3.4-2.4
								c-0.9-1-1.6-2.3-2-3.7C327.7,55.9,327.5,54.4,327.5,52.8z M338.4,60.4c1,0,1.8-0.2,2.6-0.6c0.8-0.4,1.4-0.9,1.9-1.6
								c0.5-0.7,0.9-1.5,1.2-2.4c0.3-0.9,0.4-1.9,0.4-3c0-1.1-0.1-2.1-0.4-3c-0.3-0.9-0.7-1.7-1.2-2.4c-0.5-0.7-1.2-1.2-1.9-1.6
								c-0.8-0.4-1.6-0.6-2.6-0.6c-1,0-1.8,0.2-2.6,0.6c-0.8,0.4-1.4,0.9-1.9,1.6c-0.5,0.7-0.9,1.5-1.2,2.4c-0.3,0.9-0.4,1.9-0.4,3
								c0,1.1,0.1,2.1,0.4,3c0.3,0.9,0.7,1.7,1.2,2.4c0.5,0.7,1.2,1.2,1.9,1.6C336.6,60.2,337.4,60.4,338.4,60.4z"/>
                                <path d="M353.3,52.8c0-1.7,0.2-3.2,0.7-4.6c0.5-1.4,1.1-2.6,2-3.7c0.9-1,2-1.9,3.4-2.4c1.4-0.6,3-0.9,4.8-0.9
								c1.7,0,3.2,0.3,4.5,0.9c1.3,0.6,2.5,1.4,3.4,2.4c0.9,1,1.7,2.3,2.2,3.7c0.5,1.4,0.8,2.9,0.8,4.6c0,1.6-0.3,3.2-0.8,4.6
								c-0.5,1.4-1.2,2.6-2.2,3.7c-0.9,1-2.1,1.9-3.4,2.4c-1.3,0.6-2.9,0.9-4.5,0.9c-1.8,0-3.4-0.3-4.8-0.9c-1.4-0.6-2.5-1.4-3.4-2.4
								c-0.9-1-1.6-2.3-2-3.7C353.5,55.9,353.3,54.4,353.3,52.8z M364.2,60.4c1,0,1.8-0.2,2.6-0.6c0.8-0.4,1.4-0.9,1.9-1.6
								c0.5-0.7,0.9-1.5,1.2-2.4c0.3-0.9,0.4-1.9,0.4-3c0-1.1-0.1-2.1-0.4-3c-0.3-0.9-0.7-1.7-1.2-2.4c-0.5-0.7-1.2-1.2-1.9-1.6
								c-0.8-0.4-1.6-0.6-2.6-0.6c-1,0-1.8,0.2-2.6,0.6c-0.8,0.4-1.4,0.9-1.9,1.6c-0.5,0.7-0.9,1.5-1.2,2.4c-0.3,0.9-0.4,1.9-0.4,3
								c0,1.1,0.1,2.1,0.4,3c0.3,0.9,0.7,1.7,1.2,2.4c0.5,0.7,1.2,1.2,1.9,1.6C362.3,60.2,363.2,60.4,364.2,60.4z"/>
                                <path d="M378.1,41.7h18.5v3.8h-6.9v18.3H385V45.5h-6.9V41.7z"/>
                                <path d="M400.8,41.7h16.6v3.8h-12.1v4.9h11.1v3.8h-11.1v5.6h12.6v4h-17.1V41.7z"/>
                                <path d="M434.8,55c-0.8,0.2-1.5,0.3-2.2,0.4c-0.7,0.1-1.3,0.2-1.8,0.2c-0.5,0-0.9,0.1-1.3,0.1c-0.3,0-0.6,0-0.7,0
								c-1.1,0-2.1-0.1-2.8-0.3s-1.4-0.4-1.9-0.7c-0.5-0.3-0.9-0.7-1.2-1.1c-0.3-0.4-0.5-0.8-0.6-1.2c-0.1-0.4-0.2-0.9-0.3-1.3
								c0-0.4,0-0.9,0-1.2v-8.1h4.5v7c0,0.7,0.1,1.3,0.2,1.8c0.1,0.5,0.4,0.8,0.7,1.1c0.3,0.3,0.7,0.4,1.2,0.5c0.5,0.1,1.1,0.1,1.9,0.1
								c0.3,0,0.6,0,1,0c0.4,0,0.8-0.1,1.2-0.1c0.4,0,0.8-0.1,1.2-0.2c0.4-0.1,0.7-0.2,1-0.2v-9.9h4.7v22.1h-4.7V55z"/>
                                <path d="M445,41.7h4.7v8.4h8.9v-8.4h4.7v22.1h-4.7v-9.9h-8.9v9.9H445V41.7z"/>
                                <path d="M468.2,52.8c0-1.7,0.2-3.2,0.7-4.6c0.5-1.4,1.1-2.6,2-3.7c0.9-1,2-1.9,3.4-2.4c1.4-0.6,3-0.9,4.8-0.9
								c1.7,0,3.2,0.3,4.5,0.9c1.3,0.6,2.5,1.4,3.4,2.4c0.9,1,1.7,2.3,2.2,3.7c0.5,1.4,0.8,2.9,0.8,4.6c0,1.6-0.3,3.2-0.8,4.6
								c-0.5,1.4-1.2,2.6-2.2,3.7c-0.9,1-2.1,1.9-3.4,2.4s-2.9,0.9-4.5,0.9c-1.8,0-3.4-0.3-4.8-0.9c-1.4-0.6-2.5-1.4-3.4-2.4
								c-0.9-1-1.6-2.3-2-3.7C468.4,55.9,468.2,54.4,468.2,52.8z M479.1,60.4c1,0,1.8-0.2,2.6-0.6c0.8-0.4,1.4-0.9,1.9-1.6
								c0.5-0.7,0.9-1.5,1.2-2.4c0.3-0.9,0.4-1.9,0.4-3c0-1.1-0.1-2.1-0.4-3c-0.3-0.9-0.7-1.7-1.2-2.4c-0.5-0.7-1.2-1.2-1.9-1.6
								c-0.8-0.4-1.6-0.6-2.6-0.6s-1.8,0.2-2.6,0.6c-0.8,0.4-1.4,0.9-1.9,1.6c-0.5,0.7-0.9,1.5-1.2,2.4c-0.3,0.9-0.4,1.9-0.4,3
								c0,1.1,0.1,2.1,0.4,3c0.3,0.9,0.7,1.7,1.2,2.4c0.5,0.7,1.2,1.2,1.9,1.6C477.2,60.2,478.1,60.4,479.1,60.4z"/>
                                <path d="M495.2,41.7h16.6v3.8h-12.1v4.9h11.1v3.8h-11.1v5.6h12.6v4h-17.1V41.7z"/>
                            </g>
                            <g>
                                <path d="M77.7,269.6h10.7v13.2h-2.7v-10.9h-5.2v10.9h-2.8V269.6z"/>
                                <path d="M91.5,269.6h6c0.7,0,1.3,0.1,1.8,0.3c0.5,0.2,0.9,0.5,1.3,0.8c0.3,0.4,0.6,0.8,0.8,1.3c0.2,0.5,0.3,1.1,0.3,1.8
								c0,0.6-0.1,1.2-0.3,1.7c-0.2,0.5-0.5,1-0.9,1.3c-0.4,0.4-0.8,0.7-1.4,0.9c-0.5,0.2-1.1,0.3-1.8,0.3h-3v4.7h-2.7V269.6z M94.3,275.8
								h2.6c0.6,0,1.1-0.2,1.5-0.5c0.4-0.3,0.5-0.8,0.5-1.5c0-0.3,0-0.6-0.1-0.9c-0.1-0.2-0.2-0.4-0.4-0.6c-0.2-0.2-0.4-0.3-0.6-0.3
								c-0.2-0.1-0.5-0.1-0.8-0.1h-2.6V275.8z"/>
                                <path d="M103.4,276.2c0-1,0.1-1.9,0.4-2.7c0.3-0.8,0.7-1.6,1.2-2.2c0.5-0.6,1.2-1.1,2-1.5c0.8-0.4,1.7-0.5,2.8-0.5
								c1,0,1.8,0.2,2.6,0.5c0.8,0.4,1.4,0.8,2,1.5c0.5,0.6,1,1.3,1.3,2.2c0.3,0.8,0.4,1.8,0.4,2.7c0,1-0.1,1.9-0.4,2.7
								c-0.3,0.8-0.7,1.6-1.3,2.2c-0.5,0.6-1.2,1.1-2,1.5c-0.8,0.4-1.7,0.5-2.6,0.5c-1.1,0-2-0.2-2.8-0.5c-0.8-0.4-1.5-0.8-2-1.5
								c-0.5-0.6-0.9-1.3-1.2-2.2C103.5,278.1,103.4,277.2,103.4,276.2z M109.7,280.8c0.6,0,1.1-0.1,1.5-0.3c0.4-0.2,0.8-0.5,1.1-0.9
								c0.3-0.4,0.5-0.9,0.7-1.4c0.2-0.6,0.2-1.2,0.2-1.8c0-0.7-0.1-1.3-0.2-1.8c-0.2-0.6-0.4-1-0.7-1.4c-0.3-0.4-0.7-0.7-1.1-0.9
								c-0.4-0.2-0.9-0.3-1.5-0.3c-0.6,0-1.1,0.1-1.5,0.3c-0.4,0.2-0.8,0.5-1.1,0.9c-0.3,0.4-0.5,0.9-0.7,1.4c-0.2,0.6-0.2,1.2-0.2,1.8
								c0,0.7,0.1,1.3,0.2,1.8c0.2,0.6,0.4,1,0.7,1.4s0.7,0.7,1.1,0.9C108.6,280.6,109.1,280.8,109.7,280.8z"/>
                                <path d="M117.4,269.6h10.8v2.3h-4v10.9h-2.7v-10.9h-4V269.6z"/>
                                <path d="M130,269.6h2.6v9h0l5.2-9h2.8v13.2H138v-8.9h0l-5.2,8.9H130V269.6z"/>
                                <path d="M143.8,269.6h6.4c0.5,0,1,0.1,1.4,0.2s0.8,0.2,1.1,0.4c0.3,0.2,0.5,0.4,0.8,0.6c0.2,0.2,0.4,0.5,0.5,0.7
								c0.1,0.2,0.2,0.5,0.3,0.8c0.1,0.3,0.1,0.5,0.1,0.7c0,0.3,0,0.6-0.1,0.9c-0.1,0.3-0.2,0.5-0.3,0.7s-0.3,0.4-0.5,0.6
								c-0.2,0.2-0.5,0.3-0.7,0.5c0.4,0.2,0.8,0.4,1.1,0.6c0.3,0.2,0.5,0.5,0.6,0.8c0.1,0.3,0.2,0.6,0.3,0.9c0,0.3,0.1,0.6,0.1,0.9
								c0,0.6-0.1,1.2-0.3,1.7c-0.2,0.5-0.6,0.9-1,1.2c-0.4,0.3-0.9,0.6-1.5,0.8c-0.6,0.2-1.3,0.3-2,0.3h-6V269.6z M146.5,274.8h3.4
								c0.2,0,0.5,0,0.7-0.1c0.2-0.1,0.4-0.1,0.6-0.3c0.2-0.1,0.3-0.3,0.4-0.5c0.1-0.2,0.2-0.4,0.2-0.7c0-0.3,0-0.5-0.1-0.7
								c-0.1-0.2-0.2-0.3-0.4-0.4c-0.2-0.1-0.3-0.2-0.6-0.2c-0.2,0-0.4-0.1-0.7-0.1h-3.5V274.8z M146.5,280.5h3.4c0.3,0,0.6,0,0.8-0.1
								c0.3-0.1,0.5-0.2,0.7-0.3c0.2-0.1,0.3-0.3,0.4-0.6c0.1-0.2,0.2-0.5,0.2-0.8c0-0.4-0.1-0.7-0.2-0.9c-0.1-0.2-0.3-0.4-0.5-0.5
								c-0.2-0.1-0.4-0.2-0.7-0.2c-0.3,0-0.5-0.1-0.8-0.1h-3.4V280.5z"/>
                                <path d="M156.7,276.2c0-1,0.1-1.9,0.4-2.7c0.3-0.8,0.7-1.6,1.2-2.2c0.5-0.6,1.2-1.1,2-1.5c0.8-0.4,1.7-0.5,2.8-0.5
								c1,0,1.8,0.2,2.6,0.5c0.8,0.4,1.4,0.8,2,1.5c0.5,0.6,1,1.3,1.3,2.2c0.3,0.8,0.4,1.8,0.4,2.7c0,1-0.1,1.9-0.4,2.7
								c-0.3,0.8-0.7,1.6-1.3,2.2c-0.5,0.6-1.2,1.1-2,1.5c-0.8,0.4-1.7,0.5-2.6,0.5c-1.1,0-2-0.2-2.8-0.5c-0.8-0.4-1.5-0.8-2-1.5
								c-0.5-0.6-0.9-1.3-1.2-2.2C156.9,278.1,156.7,277.2,156.7,276.2z M163,280.8c0.6,0,1.1-0.1,1.5-0.3c0.4-0.2,0.8-0.5,1.1-0.9
								c0.3-0.4,0.5-0.9,0.7-1.4c0.2-0.6,0.2-1.2,0.2-1.8c0-0.7-0.1-1.3-0.2-1.8c-0.2-0.6-0.4-1-0.7-1.4c-0.3-0.4-0.7-0.7-1.1-0.9
								c-0.4-0.2-0.9-0.3-1.5-0.3c-0.6,0-1.1,0.1-1.5,0.3c-0.4,0.2-0.8,0.5-1.1,0.9c-0.3,0.4-0.5,0.9-0.7,1.4c-0.2,0.6-0.2,1.2-0.2,1.8
								c0,0.7,0.1,1.3,0.2,1.8c0.2,0.6,0.4,1,0.7,1.4s0.7,0.7,1.1,0.9C162,280.6,162.5,280.8,163,280.8z"/>
                                <path d="M172,269.6h6.4c0.5,0,1,0.1,1.4,0.2c0.4,0.1,0.8,0.2,1.1,0.4c0.3,0.2,0.5,0.4,0.8,0.6c0.2,0.2,0.4,0.5,0.5,0.7
								c0.1,0.2,0.2,0.5,0.3,0.8c0.1,0.3,0.1,0.5,0.1,0.7c0,0.3,0,0.6-0.1,0.9c-0.1,0.3-0.2,0.5-0.3,0.7s-0.3,0.4-0.5,0.6
								c-0.2,0.2-0.5,0.3-0.7,0.5c0.4,0.2,0.8,0.4,1.1,0.6c0.3,0.2,0.5,0.5,0.6,0.8c0.1,0.3,0.2,0.6,0.3,0.9s0.1,0.6,0.1,0.9
								c0,0.6-0.1,1.2-0.3,1.7c-0.2,0.5-0.6,0.9-1,1.2c-0.4,0.3-0.9,0.6-1.5,0.8c-0.6,0.2-1.3,0.3-2,0.3h-6V269.6z M174.7,274.8h3.4
								c0.2,0,0.5,0,0.7-0.1c0.2-0.1,0.4-0.1,0.6-0.3c0.2-0.1,0.3-0.3,0.4-0.5c0.1-0.2,0.2-0.4,0.2-0.7c0-0.3,0-0.5-0.1-0.7
								c-0.1-0.2-0.2-0.3-0.4-0.4c-0.2-0.1-0.3-0.2-0.6-0.2c-0.2,0-0.4-0.1-0.7-0.1h-3.5V274.8z M174.7,280.5h3.4c0.3,0,0.6,0,0.8-0.1
								c0.3-0.1,0.5-0.2,0.7-0.3c0.2-0.1,0.3-0.3,0.4-0.6c0.1-0.2,0.2-0.5,0.2-0.8c0-0.4-0.1-0.7-0.2-0.9c-0.1-0.2-0.3-0.4-0.5-0.5
								c-0.2-0.1-0.4-0.2-0.7-0.2c-0.3,0-0.5-0.1-0.8-0.1h-3.4V280.5z"/>
                                <path d="M184.9,276.2c0-1,0.1-1.9,0.4-2.7c0.3-0.8,0.7-1.6,1.2-2.2c0.5-0.6,1.2-1.1,2-1.5c0.8-0.4,1.7-0.5,2.8-0.5
								c1,0,1.8,0.2,2.6,0.5c0.8,0.4,1.4,0.8,2,1.5c0.5,0.6,1,1.3,1.3,2.2c0.3,0.8,0.4,1.8,0.4,2.7c0,1-0.1,1.9-0.4,2.7
								c-0.3,0.8-0.7,1.6-1.3,2.2c-0.5,0.6-1.2,1.1-2,1.5c-0.8,0.4-1.7,0.5-2.6,0.5c-1.1,0-2-0.2-2.8-0.5c-0.8-0.4-1.5-0.8-2-1.5
								c-0.5-0.6-0.9-1.3-1.2-2.2C185,278.1,184.9,277.2,184.9,276.2z M191.2,280.8c0.6,0,1.1-0.1,1.5-0.3c0.4-0.2,0.8-0.5,1.1-0.9
								c0.3-0.4,0.5-0.9,0.7-1.4c0.2-0.6,0.2-1.2,0.2-1.8c0-0.7-0.1-1.3-0.2-1.8c-0.2-0.6-0.4-1-0.7-1.4c-0.3-0.4-0.7-0.7-1.1-0.9
								c-0.4-0.2-0.9-0.3-1.5-0.3c-0.6,0-1.1,0.1-1.5,0.3c-0.4,0.2-0.8,0.5-1.1,0.9c-0.3,0.4-0.5,0.9-0.7,1.4c-0.2,0.6-0.2,1.2-0.2,1.8
								c0,0.7,0.1,1.3,0.2,1.8c0.2,0.6,0.4,1,0.7,1.4c0.3,0.4,0.7,0.7,1.1,0.9C190.2,280.6,190.7,280.8,191.2,280.8z"/>
                                <path d="M208.5,274c0-0.1-0.1-0.3-0.1-0.4c-0.1-0.2-0.1-0.3-0.2-0.5c-0.1-0.2-0.2-0.3-0.3-0.5c-0.1-0.2-0.3-0.3-0.5-0.4
								c-0.2-0.1-0.5-0.2-0.8-0.3c-0.3-0.1-0.6-0.1-1-0.1c-0.2,0-0.4,0-0.6,0.1c-0.2,0-0.5,0.1-0.7,0.2c-0.2,0.1-0.5,0.3-0.7,0.5
								c-0.2,0.2-0.4,0.5-0.6,0.8c-0.2,0.3-0.3,0.7-0.4,1.2c-0.1,0.5-0.2,1-0.2,1.7c0,0.7,0.1,1.3,0.2,1.9c0.1,0.6,0.4,1,0.6,1.4
								c0.3,0.4,0.6,0.7,1,0.9c0.4,0.2,0.8,0.3,1.3,0.3c0.6,0,1-0.1,1.4-0.3c0.4-0.2,0.7-0.4,0.9-0.7c0.2-0.3,0.4-0.5,0.5-0.8
								c0.1-0.3,0.2-0.5,0.3-0.7h2.7c-0.1,0.8-0.4,1.5-0.7,2.1c-0.3,0.6-0.8,1.1-1.3,1.5c-0.5,0.4-1.1,0.7-1.7,0.9c-0.6,0.2-1.3,0.3-2,0.3
								c-1,0-1.8-0.2-2.6-0.5c-0.8-0.3-1.4-0.8-1.9-1.4c-0.5-0.6-0.9-1.3-1.2-2.2c-0.3-0.9-0.4-1.8-0.4-2.9c0-0.8,0.1-1.5,0.2-2.2
								c0.2-0.7,0.4-1.2,0.6-1.8c0.3-0.5,0.6-1,1-1.3c0.4-0.4,0.8-0.7,1.2-0.9s0.9-0.4,1.4-0.5c0.5-0.1,1-0.2,1.5-0.2
								c0.7,0,1.3,0.1,1.9,0.2c0.6,0.1,1,0.3,1.5,0.6s0.8,0.5,1.1,0.9c0.3,0.3,0.5,0.7,0.7,1c0.2,0.3,0.3,0.7,0.4,1
								c0.1,0.3,0.2,0.7,0.2,0.9H208.5z"/>
                                <path d="M213.6,269.6h10.7v13.2h-2.7v-10.9h-5.2v10.9h-2.8V269.6z"/>
                                <path d="M230.9,269.6h3.1l4.6,13.2h-3l-0.8-2.7H230l-0.9,2.7h-2.9L230.9,269.6z M230.8,277.8h3.4l-1.6-5.2h0L230.8,277.8z"/>
                                <path d="M248.8,271.9H245l0,2c0,1.2,0,2.3-0.1,3.2c-0.1,0.9-0.1,1.7-0.3,2.4c-0.1,0.7-0.3,1.2-0.5,1.7c-0.2,0.5-0.4,0.8-0.7,1.1
								c-0.3,0.3-0.5,0.5-0.9,0.6c-0.3,0.1-0.7,0.2-1.1,0.2c-0.3,0-0.6,0-0.9-0.1c-0.2,0-0.5-0.1-0.7-0.2l0-2.5c0.1,0,0.2,0.1,0.3,0.1
								c0.1,0,0.2,0,0.3,0.1c0.1,0,0.2,0,0.2,0c0.1,0,0.1,0,0.2,0c0.2,0,0.3,0,0.5-0.1c0.1,0,0.3-0.1,0.4-0.3c0.1-0.1,0.2-0.4,0.3-0.6
								s0.2-0.7,0.2-1.1c0.1-0.5,0.1-1,0.1-1.7c0-0.7,0-1.5,0-2.5v-4.5h9.2v13.2h-2.7V271.9z"/>
                                <path d="M254.3,269.6h2.6v9h0l5.2-9h2.8v13.2h-2.6v-8.9h0l-5.2,8.9h-2.8V269.6z"/>
                                <path d="M266.8,269.6h10.8v2.3h-4v10.9h-2.7v-10.9h-4V269.6z"/>
                                <path d="M279.7,269.6h9.6v2.3h-7v2.9h6.4v2.3h-6.4v3.3h7.3v2.4h-10V269.6z"/>
                                <path d="M300.1,271.9h-3.9l0,2c0,1.2,0,2.3-0.1,3.2c-0.1,0.9-0.1,1.7-0.3,2.4s-0.3,1.2-0.5,1.7c-0.2,0.5-0.4,0.8-0.7,1.1
								c-0.3,0.3-0.5,0.5-0.9,0.6c-0.3,0.1-0.7,0.2-1.1,0.2c-0.3,0-0.6,0-0.9-0.1c-0.2,0-0.5-0.1-0.7-0.2l0-2.5c0.1,0,0.2,0.1,0.3,0.1
								c0.1,0,0.2,0,0.3,0.1c0.1,0,0.2,0,0.2,0c0.1,0,0.1,0,0.2,0c0.2,0,0.3,0,0.5-0.1c0.1,0,0.3-0.1,0.4-0.3c0.1-0.1,0.2-0.4,0.3-0.6
								c0.1-0.3,0.2-0.7,0.2-1.1c0.1-0.5,0.1-1,0.1-1.7c0-0.7,0-1.5,0-2.5v-4.5h9.2v13.2h-2.7V271.9z"/>
                                <path d="M305.8,269.6h2.7v5.2h2.6c0.2,0,0.4,0,0.8,0c0.3,0,0.6,0.1,1,0.1c0.4,0.1,0.7,0.2,1.1,0.4c0.4,0.2,0.7,0.4,1,0.7
								c0.3,0.3,0.5,0.7,0.7,1.1c0.2,0.5,0.3,1,0.3,1.7c0,0.7-0.1,1.2-0.3,1.7c-0.2,0.5-0.4,0.8-0.7,1.1c-0.3,0.3-0.6,0.5-0.9,0.7
								c-0.3,0.2-0.7,0.3-1,0.3c-0.3,0.1-0.6,0.1-0.9,0.1c-0.3,0-0.5,0-0.6,0h-5.8V269.6z M308.5,280.5h2.3c0.2,0,0.5,0,0.8-0.1
								c0.3,0,0.5-0.1,0.7-0.2c0.2-0.1,0.4-0.3,0.5-0.5c0.1-0.2,0.2-0.6,0.2-0.9c0-0.4-0.1-0.7-0.2-1c-0.1-0.2-0.3-0.4-0.5-0.5
								c-0.2-0.1-0.5-0.2-0.8-0.2c-0.3,0-0.6,0-0.9,0h-2.2V280.5z"/>
                                <path d="M318.1,269.6h2.8v5h5.2v-5h2.7v13.2h-2.7v-5.9h-5.2v5.9h-2.8V269.6z"/>
                                <path d="M331.3,276.2c0-1,0.1-1.9,0.4-2.7c0.3-0.8,0.7-1.6,1.2-2.2c0.5-0.6,1.2-1.1,2-1.5c0.8-0.4,1.7-0.5,2.8-0.5
								c1,0,1.8,0.2,2.6,0.5c0.8,0.4,1.4,0.8,2,1.5c0.5,0.6,1,1.3,1.3,2.2c0.3,0.8,0.4,1.8,0.4,2.7c0,1-0.1,1.9-0.4,2.7
								c-0.3,0.8-0.7,1.6-1.3,2.2c-0.5,0.6-1.2,1.1-2,1.5c-0.8,0.4-1.7,0.5-2.6,0.5c-1.1,0-2-0.2-2.8-0.5c-0.8-0.4-1.5-0.8-2-1.5
								c-0.5-0.6-0.9-1.3-1.2-2.2C331.4,278.1,331.3,277.2,331.3,276.2z M337.6,280.8c0.6,0,1.1-0.1,1.5-0.3c0.4-0.2,0.8-0.5,1.1-0.9
								c0.3-0.4,0.5-0.9,0.7-1.4c0.2-0.6,0.2-1.2,0.2-1.8c0-0.7-0.1-1.3-0.2-1.8c-0.2-0.6-0.4-1-0.7-1.4c-0.3-0.4-0.7-0.7-1.1-0.9
								c-0.4-0.2-0.9-0.3-1.5-0.3c-0.6,0-1.1,0.1-1.5,0.3c-0.4,0.2-0.8,0.5-1.1,0.9c-0.3,0.4-0.5,0.9-0.7,1.4c-0.2,0.6-0.2,1.2-0.2,1.8
								c0,0.7,0.1,1.3,0.2,1.8c0.2,0.6,0.4,1,0.7,1.4c0.3,0.4,0.7,0.7,1.1,0.9C336.5,280.6,337,280.8,337.6,280.8z"/>
                                <path d="M346.6,269.6h9.6v2.3h-7v2.9h6.4v2.3h-6.4v3.3h7.3v2.4h-10V269.6z"/>
                            </g>
                            <g>
                                <path d="M187.3,177.7h4.6l6.8,19.3h-4.4l-1.2-4H186l-1.3,4h-4.2L187.3,177.7z M187.1,189.7h4.9l-2.4-7.6h-0.1L187.1,189.7z"/>
                                <path d="M201.6,177.7h4v7.3h7.5v-7.3h4V197h-4v-8.6h-7.5v8.6h-4V177.7z"/>
                                <path d="M219.9,177.7h15.7v3.3h-5.9v16h-4v-16h-5.8V177.7z"/>
                                <path d="M238.4,177.7h3.8v13.1h0.1l7.6-13.1h4.1V197h-3.8v-13.1H250l-7.6,13.1h-4.1V177.7z"/>
                                <path d="M257.5,187.3c0-1.4,0.2-2.8,0.6-4c0.4-1.2,1-2.3,1.7-3.2c0.8-0.9,1.7-1.6,2.9-2.1c1.2-0.5,2.5-0.8,4-0.8
								c1.4,0,2.7,0.3,3.8,0.8c1.1,0.5,2.1,1.2,2.9,2.1c0.8,0.9,1.4,2,1.8,3.2c0.4,1.2,0.6,2.6,0.6,4c0,1.4-0.2,2.8-0.6,4
								c-0.4,1.2-1,2.3-1.8,3.2c-0.8,0.9-1.8,1.6-2.9,2.1c-1.1,0.5-2.4,0.8-3.8,0.8c-1.5,0-2.9-0.3-4-0.8c-1.2-0.5-2.1-1.2-2.9-2.1
								c-0.8-0.9-1.3-2-1.7-3.2C257.7,190.1,257.5,188.8,257.5,187.3z M266.7,194c0.8,0,1.5-0.2,2.2-0.5c0.6-0.3,1.2-0.8,1.6-1.4
								c0.4-0.6,0.8-1.3,1-2.1c0.2-0.8,0.4-1.7,0.4-2.7c0-1-0.1-1.8-0.4-2.7c-0.2-0.8-0.6-1.5-1-2.1s-1-1.1-1.6-1.4
								c-0.6-0.3-1.4-0.5-2.2-0.5s-1.5,0.2-2.2,0.5c-0.6,0.3-1.2,0.8-1.6,1.4c-0.4,0.6-0.8,1.3-1,2.1c-0.2,0.8-0.4,1.7-0.4,2.7
								c0,1,0.1,1.8,0.4,2.7c0.2,0.8,0.6,1.5,1,2.1c0.4,0.6,1,1.1,1.6,1.4C265.2,193.8,265.9,194,266.7,194z"/>
                                <path d="M280,177.7h4v7.8l7.3-7.8h5.2l-7.8,7.9l8.3,11.4h-5.1l-5.9-8.5l-2,2v6.5h-4V177.7z"/>
                                <path d="M311.8,184c-0.1-0.2-0.1-0.4-0.2-0.6c-0.1-0.2-0.2-0.5-0.3-0.7c-0.1-0.2-0.3-0.5-0.5-0.7c-0.2-0.2-0.5-0.4-0.8-0.6
								c-0.3-0.2-0.7-0.3-1.1-0.4c-0.4-0.1-0.9-0.2-1.5-0.2c-0.2,0-0.5,0-0.9,0.1c-0.3,0.1-0.7,0.2-1,0.3c-0.3,0.2-0.7,0.4-1,0.7
								c-0.3,0.3-0.6,0.7-0.9,1.2c-0.3,0.5-0.5,1.1-0.6,1.8s-0.2,1.5-0.2,2.5c0,1,0.1,2,0.3,2.8c0.2,0.8,0.5,1.5,0.9,2.1
								c0.4,0.6,0.9,1,1.5,1.3c0.6,0.3,1.2,0.5,2,0.5c0.8,0,1.5-0.1,2.1-0.4c0.5-0.3,1-0.6,1.3-1c0.3-0.4,0.6-0.8,0.7-1.2
								c0.2-0.4,0.3-0.8,0.4-1.1h4c-0.2,1.2-0.6,2.3-1.1,3.1s-1.1,1.6-1.8,2.2c-0.7,0.6-1.5,1-2.4,1.3c-0.9,0.3-1.9,0.4-2.9,0.4
								c-1.4,0-2.7-0.2-3.8-0.7c-1.1-0.5-2-1.2-2.8-2c-0.8-0.9-1.3-1.9-1.7-3.2c-0.4-1.2-0.6-2.6-0.6-4.2c0-1.2,0.1-2.3,0.3-3.2
								c0.2-1,0.5-1.8,0.9-2.6c0.4-0.7,0.9-1.4,1.4-1.9c0.5-0.5,1.1-1,1.8-1.4c0.6-0.4,1.3-0.6,2-0.8c0.7-0.2,1.4-0.3,2.2-0.3
								c1,0,2,0.1,2.8,0.3c0.8,0.2,1.5,0.5,2.1,0.9c0.6,0.4,1.1,0.8,1.6,1.3c0.4,0.5,0.8,1,1.1,1.5s0.5,1,0.6,1.5c0.1,0.5,0.2,1,0.3,1.4
								H311.8z"/>
                                <path d="M319.2,177.7h3.8v13.1h0.1l7.6-13.1h4.1V197h-3.8v-13.1h-0.1l-7.6,13.1h-4.1V177.7z"/>
                                <path d="M337.5,193.6h1.7c0.2-0.5,0.4-1.1,0.6-1.7c0.2-0.6,0.4-1.2,0.6-1.9c0.2-0.7,0.3-1.4,0.5-2.2c0.1-0.8,0.3-1.7,0.4-2.7
								c0.1-1,0.2-2.1,0.3-3.4c0.1-1.2,0.1-2.6,0.1-4.2h13.1v16h1.9v7.5H353V197h-12.1v4.1h-3.5V193.6z M350.6,181h-5.5c0,0.3,0,0.8,0,1.3
								c0,0.5,0,1.1-0.1,1.8s-0.1,1.4-0.2,2.2c-0.1,0.8-0.2,1.6-0.3,2.4c-0.1,0.8-0.3,1.6-0.5,2.5c-0.2,0.8-0.5,1.7-0.8,2.4h7.5V181z"/>
                                <path d="M364.8,177.7h4.6l6.8,19.3h-4.4l-1.2-4h-7.1l-1.3,4h-4.2L364.8,177.7z M364.5,189.7h4.9L367,182H367L364.5,189.7z"/>
                                <path d="M379.1,177.7h4v7.3h7.5v-7.3h4V197h-4v-8.6h-7.5v8.6h-4V177.7z"/>
                                <path d="M397.4,177.7h15.7v3.3h-5.9v16h-4v-16h-5.8V177.7z"/>
                                <path d="M415.8,177.7h4v7.3h7.5v-7.3h4V197h-4v-8.6h-7.5v8.6h-4V177.7z"/>
                                <path d="M434.9,187.3c0-1.4,0.2-2.8,0.6-4c0.4-1.2,1-2.3,1.7-3.2c0.8-0.9,1.7-1.6,2.9-2.1c1.2-0.5,2.5-0.8,4-0.8
								c1.4,0,2.7,0.3,3.8,0.8s2.1,1.2,2.9,2.1c0.8,0.9,1.4,2,1.8,3.2c0.4,1.2,0.6,2.6,0.6,4c0,1.4-0.2,2.8-0.6,4c-0.4,1.2-1,2.3-1.8,3.2
								c-0.8,0.9-1.8,1.6-2.9,2.1s-2.4,0.8-3.8,0.8c-1.5,0-2.9-0.3-4-0.8c-1.2-0.5-2.1-1.2-2.9-2.1c-0.8-0.9-1.3-2-1.7-3.2
								C435.1,190.1,434.9,188.8,434.9,187.3z M444.2,194c0.8,0,1.5-0.2,2.2-0.5c0.6-0.3,1.2-0.8,1.6-1.4c0.4-0.6,0.8-1.3,1-2.1
								c0.2-0.8,0.4-1.7,0.4-2.7c0-1-0.1-1.8-0.4-2.7c-0.2-0.8-0.6-1.5-1-2.1s-1-1.1-1.6-1.4c-0.6-0.3-1.4-0.5-2.2-0.5
								c-0.8,0-1.5,0.2-2.2,0.5c-0.6,0.3-1.2,0.8-1.6,1.4c-0.4,0.6-0.8,1.3-1,2.1c-0.2,0.8-0.4,1.7-0.4,2.7c0,1,0.1,1.8,0.4,2.7
								c0.2,0.8,0.6,1.5,1,2.1c0.4,0.6,1,1.1,1.6,1.4C442.6,193.8,443.3,194,444.2,194z"/>
                                <path d="M457.3,177.7h14.1v3.3h-10.2v4.3h9.4v3.3h-9.4v4.9h10.7v3.5h-14.5V177.7z"/>
                            </g>
                        </svg>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>