<div class="drive" id="drive">
    <div class="mbox">
        <div class="drive__wrap">
            <h2>Мужской драйв</h2>
            <div class="drive__elements">
                <div class="drive__row">
                    <div class="happens">
                        <div class="happens__box">
                            <div class="happens__content">
                                <div class="happens__head">Не ПРОСТой <br> возраст.</div>
                                <div class="happens__subhead">Сохраняем мужское здоровье после 40 </div>
                                <div class="happens__text">Мужчины редко уделяют достаточно внимания своему здоровью... </div>
                            </div>
                        </div>
                        <div class="happens__article">
                            <div class="article">
                                <div class="article__top">
                                    <div class="article__head">
                                        <div class="happens__head">Автошкола.</div>
                                        <div class="happens__subhead">Как ездить на АВТО, и не заболеть простатитом.</div>
                                    </div>
                                    <div class="article__img">
                                        <img src="images/tah.png" alt="">
                                    </div>
                                </div>
                                <div class="article__subhead">
                                    <span>Мужчины, проводящие много времени за рулем входят в группу рисска</span>
                                </div>
                                <div class="article__content">
                                        <p>В автошколе этому не учат</p>
                                        <span>Автошколы очень важны в процессе освоения всех тонкостей вождения автомобиля, и, конечно же, всё, что там рассказывают, очень необходимо. Но есть вещи, которых тебе не объяснят в автошколе, а их знание может спасти мужское здоровье. </span>
                                        <p>Почему простатит появляется</p>
                                        <span>Из-за того что ты проводишь много времени за рулем, в положении сидя, совершая минимум движений, в малом тазу застаивается кровь. Это ведет к нарушению кровообращения, снижению поступления кислорода к органам малого таза и, как следствие, развитию воспалительного процесса (простатита). Со временем проблема может усугубиться и перейти в более тяжелые формы. Поэтому, чтобы не доводить свой организм до таких крайностей, лучше всего позаботиться о мужском здоровье как можно раньше.</span>
                                        <p>Позаботься о водительском сиденье </p>
                                        <span>Можно воспользоваться ортопедическим матрасом для автомобильного сиденья или использовать массажные чехлы для сидений с жесткой поверхностью. Во время нахождения в автомобиле двигайся в разные стороны, выполняя массажные движения.</span>
                                        <p>Теплое кресло </p>
                                        <span>Заведя автомобиль, включи обогрев сидений на максимальную мощность. Подожди, пока поверхность сиденья нагреется, только после этого можешь садиться. Практически сразу после того, как почувствуешь тепло сиденья, нужно уменьшить интенсивность обогрева до минимума или вообще его выключить. </span>
                                        <p>Пока стоишь в пробке</p>
                                        <span>Делай упражнения по напряжению мышц промежности и втягиванию заднего прохода, которые можно выполнять сидя:</span>
                                        <ul>
                                            <li>Сидя втянуть низ живота и продержать его в таком положении сколько возможно. Расслабиться на 10 секунд. Повторить 30 раз.</li>
                                            <li>Сидя с силой сдвинуть колени, прижать их друг к другу как можно более плотно. Поза симметричная, перекосов быть не должно, колени на одном уровне и по высоте, и по расстоянию от тела. Продержаться в таком положении одну минуту, не ослабляя нажим. Ноги могут дрожать от напряжения, это нормально. Отдых 10 минут.</li>
                                            <li>Сидя втянуть анус и напрячь мышцы малого таза внизу живота, как бы пережимая уретру. Удерживать такое положение как можно дольше. Отдых 3 минуты, и повторный подход. Сделать 10 раз.</li>
                                        </ul>
                                        <i>Не следует повторять комплекс подряд несколько раз. Лучше сделай его 3–5 раз в течение дня. В дальнейшем можно увеличивать нагрузку.</i>
                                        <p>В дороге дальней</p>
                                        <span>Не ленись каждые 2 часа выходить из машины и делать приседания. Если стесняешься приседать на улице, делай вид, что проверяешь колеса или дно машины.</span>
                                        <p>При первых сигналах простатита</p>
                                        <span>Многие мужчины откладывают лечение. Они пытаются помочь себе самостоятельно, ищут в интернете народные средства. Однако заболевание развивается, а упущенное время оборачивается усугублением процесса.
Если появились сигналы простатита, (ссылка на раздел сайта) лучше всего обратиться к врачу-урологу и для лечения использовать специальные лекарственные препараты, такие как ИндигалПлюс. (ссылка на страницу о препарате)
                                            <br>
                                            Если ты был прилежным учеником и хорошо усвоил материал, то в награду сможешь получить право надолго оставаться здоровым мужчиной.
</span>
                                </div>
                                <button class="article__button js-art-btn"></button>
                            </div>
                        </div>
                    </div>
                    <div class="happens">
                        <div class="happens__box">
                            <div class="happens__content">
                                <div class="happens__head">Автошкола.</div>
                                <div class="happens__subhead">Как ездить на АВТО и не заболеть простатитом  </div>
                                <div class="happens__text">Мужчины, проводящие много времени за рулем входят в группу риска… </div>
                            </div>
                        </div>
                    </div>
                    <div class="happens">
                        <div class="happens__box">
                            <div class="happens__content">
                                <div class="happens__head">Соблюдаем ПДД при простатите.</div>
                                <div class="happens__subhead">Правила. Диета. Движения </div>
                                <div class="happens__text">Современные методы лечения простатита у мужчин очень разнообразны...</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="drive__row">
                    <div class="happens happens--double">
                        <div class="happens__box">
                            <div class="happens__content">
                                <div class="happens__head">7 простых правил гардероба здорового мужчины </div>
                                <div class="happens__subhead"></div>
                                <div class="happens__text">Одежда не только подчеркивает стиль мужчины, но и  сохраняет его здоровье...</div>
                            </div>
                            <div class="happens__image">
                                <img src="images/sit.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="happens">
                        <div class="happens__box">
                            <div class="happens__content">
                                <div class="happens__head">Авария в постели. </div>
                                <div class="happens__subhead">Когда мужчина боится «не завестись» </div>
                                <div class="happens__text">Когда не смог в первый раз, подумал, что просто устал, но это повторилось...</div>
                            </div>
                            <div class="happens__image">
                                <img src="images/sofa.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="last__wrap">
            <div class="last__text">
                <div class="last__head">
                    <h3>ИндигалПлюс</h3>
                </div>
                <div class="last__subhead">
                    <p> 2018 ИЛЬМИКСГРУПП/ЛИЦЕНЗИЯ НА ОСУЩЕСТВЛЕНИЕ ФАРМАЦЕВТИЧЕСКОЙ ДЕЯТЕЛЬНОСТИ № ФС-99-02-006285, ВЫДАНА БЕССРОЧНО </p>
                    <p>ФЕДЕРАЛЬНОЙ СЛУЖБОЙ ПО НАДЗОРУ В СФЕРЕ ЗДРАВООХРАНЕНИЯ 11.12.2017 ГОДА.</p>
                </div>

            </div>
            <div class="last__bud">
                <p>БАД. НЕ ЯВЛЯЕТСЯ <span>ЛЕКАРСТВЕННЫМ СРЕДСТВОМ.</span></p>

            </div>
        </div>
    </div>

    <div class="drive__back">
        <img src="images/bot_fon.jpg" alt="">
    </div>
</div>