<!-- HEADER -->
<header>
    <div class="header">
        <div class="mbox">
            <div class="header__main">
                <a href="#" class="header__button js-buy-btn">
                    <div class="header__triangle active">
                        <img src="images/by_btn.png" alt="">
                        <span>купить</span>
                    </div>
                    <div class="header__cross">
                        <span></span>
                        <span></span>
                    </div>
                </a>
                <div class="header__mid">
                    <div class="header__name">
                        <span>ИНДИГАЛПЛЮС</span>
                    </div>
                    <div class="header__menu">
                        <button class="header__buter js-menu">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>
                        <ul class="header__list">
                            <li><a href="#test" class="js-scroll">Проверь себя</a></li>
                            <li><a href="#types" class="js-scroll">О проблеме</a></li>
                            <li><a href="#more" class="js-scroll">Реши проблему</a></li>
                            <li><a href="#drive" class="js-scroll">Мужской драйв</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <div class="header__call">
            <a href="javascript:void(0);">задать вопрос врачу</a>
            <div class="header__form">
                <div class="write">
                    <div class="write__head">
                        <span>напиши <br> специалисту</span>
                    </div>
                    <div class="write__under">
                        <div class="write__sub-head">
                            <span>Оставь свое сообщение специалисту по мужскому здоровью</span>
                        </div>
                        <form action="" class="write__form">
                            <textarea name="" id="" placeholder="Сообщение"></textarea>
                            <input type="text" placeholder="Имя">
                            <input type="text" placeholder="E-mail" required>
                            <label>
                                <input type="checkbox" onclick="checkChange(this);">
                                <i></i>
                                <p>Даю согласие на обработку своих пурсональных данных и принимаю условия<a href="#">Пользовательского соглашения</a></p>
                            </label>
                            <button type="submit" class="btn js-send-mess dsb"><span>Отправить</span></button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
        <div class="buy">
            <div class="mbox">
                <div class="buy__head">
                    <h4>ГДЕ КУПИТЬ</h4>
                </div>
                <div class="buy__wrap">
                    <div class="buy__left">
                        <img src="images/tabs.png" alt="">
                    </div>
                    <div class="buy__right">
                        <div class="apteka">
                            <div class="apteka__about">
                                <div class="apteka__logo">
                                    <img src="images/logo_1.png" alt="">
                                </div>
                                <div class="apteka__text">
                                    <p><b>Москва, Санкт-Петербург и еще 76 регионов.</b></p>
                                </div>
                            </div>
                            <div class="apteka__link">
                                <a href="#" class="btn">в аптеку</a>
                            </div>
                        </div>
                        <div class="apteka">
                            <div class="apteka__about">
                                <div class="apteka__logo">
                                    <img src="images/logo_2.png" alt="">
                                </div>
                                <div class="apteka__text">
                                    <p> <b>Москва, Санкт-Петербург, Тверь.</b></p>
                                </div>
                            </div>
                            <div class="apteka__link">
                                <a href="#" class="btn">в аптеку</a>
                            </div>
                        </div>
                        <div class="apteka">
                            <div class="apteka__about">
                                <div class="apteka__logo">
                                    <img src="images/logo_2.png" alt="">
                                </div>
                                <div class="apteka__text">
                                    <p> <b>Москва, Санкт-Петербург, Тверь.</b></p>
                                </div>
                            </div>
                            <div class="apteka__link">
                                <a href="#" class="btn">в аптеку</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</header>
<!-- /HEADER -->

