<div class="map">
    <div class="mbox">
        <div class="map__wrap">
            <div class="map__text">
                <div class="map__head">Следуй  по маршруту к мужскому  здоровью</div>
                <div class="map__subhead">Простые рекомендации, чтобы не столкнуться с простатитом.</div>
            </div>
            <div class="map__box" id="picture">
                <div class="map__inn">
                    <img src="images/map.jpg" alt="">
                    <img src="images/map_2.jpg" alt="">
                </div>
                <div class="place">
                    <span>избегай переохлаждений</span>
                </div>
                <div class="place">
                    <span>регулярно заруливай к УрологУ</span>
                </div>
                <div class="place">
                    <span>не тормози с лечением любых хронических заболеваний</span>
                </div>
                <div class="place">
                    <span>Не заводись  по пустякам! </span>
                </div>
                <div class="place">
                    <span>Перестройся на правильное питание. Больше здоровой пищи, меньше алкоголя</span>
                </div>
                <div class="place">
                    <span>Веди половю жизнь регулярно</span>
                </div>
                <div class="place">
                    <span>Регулярно сдавай анализы  на инфекции, передающиеся половым путем</span>
                </div>
                <div class="place">
                    <span>Припаркуй машину и чаще прогуливайся пешком</span>
                </div>
                <div class="place">
                    <p>вы приехали</p>
                    <span>Добраться до выздоровления при хроническом простатите вполне возможно. <br> Следуй рекомендациям и не откладывай обращение к врачу.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="signals__side">
        <img src="images/side_pic.jpg" alt="">
    </div>
</div>