<div class="more" id="more">
    <div class="mbox">
        <div class="more__wrap">
            <div class="more__left">
                <div class="more__head">
                    <span><b>более 90%</b> мужчин положительно оценили действие </span>
                </div>
                <div class="more__cols">
                    <div class="more__tabs">
                        <div class="more__image">
                            <img src="images/tabs.png" alt="">
                        </div>
                        <div class="more__much">
                            <div class="more__two-img">
                                <img src="images/2x2.png" alt="">
                                <img src="images/2x2_grey.png" alt="">
                            </div>
                            <div class="more__two-text">
                                <p>По 2 капсулы 2 <br> раза в день</p>
                                <span>3 месяца***</span>
                            </div>
                        </div>
                    </div>
                    <div class="more__items">
                        <div class="about">
                            <div class="about__item">
                                <div class="about__img">
                                    <img src="images/it_1.png" alt="">
                                </div>
                                <div class="more__words">
                                    <p>Снижает БОЛЬ</p>
                                    <span>в <b>2 раза</b>*</span>
                                </div>
                            </div>
                            <div class="about__item">
                                <div class="about__img">
                                    <img src="images/it_2.png" alt="">
                                </div>
                                <div class="more__words">
                                    <p>Улучшает</p>
                                    <span>сексуально-эякуляторную функцию за <b>30 дней</b> приема *</span>
                                </div>
                            </div>
                            <div class="about__item">
                                <div class="about__img">
                                    <img src="images/it_3.png" alt="">
                                </div>
                                <div class="more__words">
                                    <p>Повышает</p>
                                    <span>эффективность  антибактериальной терапии, способствуя снижению риска рецидива**</span>
                                </div>
                            </div>
                            <div class="about__item">
                                <div class="about__img">
                                    <img src="images/it_4.png" alt="">
                                </div>
                                <div class="more__words">
                                    <p>Снижает РИСК</p>
                                    <span>развития рака предстательной железы**</span>
                                </div>
                            </div>
                            <div class="about__item">
                                <div class="about__img">
                                    <img src="images/it_5.png" alt="">
                                </div>
                                <div class="more__words">
                                    <p>Устраняет</p>
                                    <span>нарушения мочеиспускания**</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="more__right">
                <h4>Препарат испытан клинически</h4>
                <div class="more__block">
                    <span>*Неймарк А.И., Неймарк Б.А., Ноздрачев Н.А. // «Эффективность препарата ИндигалПлюс у пациентов с хроническим простатитом»// Экспериментальная и клиническая урология. — 2015. — №4 — с. 72-74.</span>
                    <div class="more__file">
                        <a href="#" target="_blank">.PDF</a>
                        <span>345 КБ</span>
                    </div>
                </div>
                <div class="more__block">
                    <span>** Каприн А.Д., Киселев В.И., Коган М.И. По результатам открытого многоцентрового исследования эффективности и безопасности терапии у мужчин с хроническим простатитом категории I и IIIА // Эффективная фармакотерапия в урологии, июнь 2011 г.</span>
                    <div class="more__file">
                        <a href="#" target="_blank">.PDF</a>
                        <span>345 КБ</span>
                    </div>
                </div>
                <div class="more__block">
                    <span>***терапевтический курс приёма <br> ИНДИГАЛПЛЮС</span>
                </div>
            </div>
        </div>

    </div>
</div>