<div class="signals">
    <div class="mbox">
        <div class="signals__blocks">
            <div class="signals__man">
                <div class="signals__telo">
                    <img src="images/new_man.png" alt="">
                </div>
                <div class="signals__znaki">
                    <img src="images/znaki_1.png" alt="">
                    <img src="images/znaki_2.png" alt="">
                    <img src="images/znaki_3.png" alt="">
                    <img src="images/znaki_4.png" alt="">
                </div>


            </div>
            <div class="signals__how">
                <h3>СИГНАЛЫ <br> простатита</h3>
                <div class="test__sub-head">
                    <p>Как распознать простатит</p>
                </div>
                <div class="signals__box">
                    <div class="signals__left">
                        <div class="symptom">
                            <div class="symptom__head">
                                <div class="symptom__main">
                                    <span>Затрудненное мочеиспускание, частые позывы</span>
                                </div>
                                <div class="symptom__img">
                                    <img src="images/maslo.png" alt="">
                                </div>
                            </div>
                            <div class="symptom__text">
                                <span>Несмотря на частые позывы в туалет, после каждого мочеиспускания остается ощущение, что мочевой пузырь полон. А сам процесс вызывает проблемы: слабая струя, мочеиспускание каплями и даже боль.</span>
                            </div>
                        </div>
                        <div class="symptom">
                            <div class="symptom__head">
                                <div class="symptom__main">
                                    <span>Снижение <br> потенции</span>
                                </div>
                                <div class="symptom__img">
                                    <img src="images/tah.png" alt="">
                                </div>
                            </div>
                            <div class="symptom__text"><span>  Ускорение семяизвержения, нарушение эрекции поначалу все эти явления незначительны и на первых порах мужчина не придает им значения, однако со временем они начинают усиливаться. </span></div>
                        </div>
                    </div>
                    <div class="signals__right">
                        <div class="symptom">
                            <div class="symptom__head">
                                <div class="symptom__main">
                                    <span>Боль и дискомфорт </span>
                                </div>
                                <div class="symptom__img">
                                    <img src="images/light.png" alt="">
                                </div>
                            </div>
                            <div class="symptom__text"><span>Появление боли связано с отеком предстательной железы, которая,
увеличиваясь в размере, раздражает нервные рецепторы тканей, расположенных рядом. От того, какие из них сдавливает простата, зависит локализация дискомфорта. Проще говоря, у одних болит в спине, у других — в паху.</span></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="signals__side">
        <img src="images/side_pic.jpg" alt="">
    </div>
</div>