<div class="main__slider">
    <div class="slider js-main-slider">
        <div class="slider__part">
            <div class="slider__inner">
                <div class="slider__image">
                    <img src="images/slide1.jpg" alt="" data-object-fit="cover">
                </div>
                <div class="mbox">
                    <div class="slider__content">
                        <h1>Срочный ремонт <br> мужского здоровья </h1>
                        <div class="slider__sub-head">
                            <span>Исправь ситуацию с простатитом <br> и двигайся с драйвом по жизни</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider__part">
            <div class="slider__inner">
                <div class="slider__image">
                    <img src="images/runner.jpg" alt="" data-object-fit="cover">
                </div>
                <div class="mbox">
                    <div class="slider__content">
                        <h1>Срочный ремонт <br> мужского здоровья </h1>
                        <div class="slider__sub-head">
                            <span>Исправь ситуацию с простатитом <br> и двигайся с драйвом по жизни</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider__part">
            <div class="slider__inner">
                <div class="slider__image">
                    <img src="images/slide1.jpg" alt="" data-object-fit="cover">
                </div>
                <div class="mbox">
                    <div class="slider__content">
                        <h1>Срочный ремонт <br> мужского здоровья </h1>
                        <div class="slider__sub-head">
                            <span>Исправь ситуацию с простатитом <br> и двигайся с драйвом по жизни</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>