<div class="test" id="test">
    <div class="test__wrapper">
        <div class="test__left">
            <div class="test__box">
                <div class="test__info">
                    <h3>Пройди <br>
                        диагностику <br>
                        своей системы</h3>
                    <div class="test__sub-head">
                        <p>Онлайн-тест на простатит </p>
                        <span>Ответь на 15 простых вопросов и узнай о состоянии мужского здоровья</span>
                    </div>
                </div>
                <div class="test__image">
                    <img src="images/man_pic.png" alt="">
                    <img src="images/tri_2.png" alt="">
                </div>
                <div class="test__line">
                    <p>пройдено вопросов <span class="js-test-count">0</span></p>
                </div>
            </div>

        </div>
        <div class="test__right">
            <div class="test__road">
                <img src="images/rul.jpg" alt="" data-object-fit="cover">
            </div>
            <div class="test__questions">
                <div class="quest">
                    <div class="quest__rul">
                        <img src="images/rul_new.png" alt="">
                    </div>
                    <div class="quest__button">
                        <button class="btn btn--big js-start-test"><span>пройти тест</span></button>
                    </div>
                    <form action="" class="quest__form" method="">
                        <div class="quest__question">
                            <div class="quest__ask">Твой пробег (возраст) больше 35 лет?</div>
                            <div class="quest__buttons">
                                <label class="js-answer">
                                    <span>Да</span>
                                    <input type="radio" name="one" value="1">
                                    <i></i>
                                </label>
                                <label class="js-answer">
                                    <input type="radio" name="one" value="0">
                                    <i></i>
                                    <span>Нет</span>
                                </label>
                            </div>
                        </div>
                        <div class="quest__question">
                            <div class="quest__ask">Большую часть дня сидишь то в офисном кресле, то за рулем? </div>
                            <div class="quest__buttons">
                                <label class="js-answer">
                                    <span>Да</span>
                                    <input type="radio" name="two" value="1">
                                    <i></i>
                                </label>
                                <label class="js-answer">
                                    <input type="radio" name="two" value="0">
                                    <i></i>
                                    <span>Нет</span>
                                </label>
                            </div>
                        </div>
                        <div class="quest__question">
                            <div class="quest__ask">Регулярно заруливаешь на спорт? </div>
                            <div class="quest__buttons">
                                <label class="js-answer">
                                    <span>Да</span>
                                    <input type="radio" name="three" value="1">
                                    <i></i>
                                </label>
                                <label class="js-answer">
                                    <input type="radio" name="three" value="0">
                                    <i></i>
                                    <span>Нет</span>
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="test__progress">
        <div class="test__complete"></div>
    </div>
</div>