<div class="types" id="types">
    <div class="mbox">
        <h3>Виды простатита</h3>
        <div class="test__sub-head">
            <p>Не все так просто</p>
        </div>
        <div class="types__items">
            <div class="types__item">
                <a href="#" class="type">
                    <div class="type__head"><span>Чем острее, тем быстрее</span></div>
                    <div class="type__text"><span>Бактериальный простатит</span></div>
                    <div class="open">
                        <div class="open__head">
                            <span>Аденома простаты <b>Первый текст</b> </span>
                        </div>
                        <div class="open__subhead">
                            <span>Простатит кому за 45+</span>
                        </div>
                        <div class="open__text">



                            Каждый второй мужчина старше 50 лет страдает от симптомов аденомы простаты. Считается, что это заболевание со временем развивается у 85 % мужчин.
                            Доброкачественная гиперплазия предстательной железы, или аденома простаты — это доброкачественная опухоль предстательной железы, приводящая к нарушениям мочеиспускания.
                            <br>
                            Основная причина возникновения аденомы— возрастные гормональные изменения.
                            При аденоме увеличенная предстательная железа сдавливает проходящий через нее мочеиспускательный канал. Это вызывает невыносимые симптомы аденомы — различные нарушения мочеиспускания (учащенное, прерывистое, затрудненное мочеиспускание, вплоть до задержки мочи, ослабление струи мочи, невозможность удержать мочу при возникновении позыва).
                        </div>
                        <button class="article__button js-open-btn"></button>
                    </div>
                </a>

            </div>
            <div class="types__item">
                <a href="#" class="type">
                    <div class="type__head"><span>Сидишь? <br> А простатит идет!</span></div>
                    <div class="type__text"><span>Бактериальный простатит</span></div>
                    <div class="open">
                        <div class="open__head">
                            <span>Аденома простаты <b> Средний текст</b></span>
                        </div>
                        <div class="open__subhead">
                            <span>Простатит кому за 45+</span>
                        </div>
                        <div class="open__text">



                            Каждый второй мужчина старше 50 лет страдает от симптомов аденомы простаты. Считается, что это заболевание со временем развивается у 85 % мужчин.
                            Доброкачественная гиперплазия предстательной железы, или аденома простаты — это доброкачественная опухоль предстательной железы, приводящая к нарушениям мочеиспускания.
                            <br>
                            Основная причина возникновения аденомы— возрастные гормональные изменения.
                            При аденоме увеличенная предстательная железа сдавливает проходящий через нее мочеиспускательный канал. Это вызывает невыносимые симптомы аденомы — различные нарушения мочеиспускания (учащенное, прерывистое, затрудненное мочеиспускание, вплоть до задержки мочи, ослабление струи мочи, невозможность удержать мочу при возникновении позыва).
                        </div>
                        <button class="article__button js-open-btn"></button>
                    </div>
                </a>
            </div>
            <div class="types__item">
                <a href="#" class="type">
                    <div class="type__head"><span>Непростой возраст</span></div>
                    <div class="type__text"><span>Простатит <br>кому за 45+</span></div>
                    <div class="open">
                        <div class="open__head">
                            <span>Аденома простаты <b> Последний текст</b></span>
                        </div>
                        <div class="open__subhead">
                            <span>Простатит кому за 45+</span>
                        </div>
                        <div class="open__text">



                            Каждый второй мужчина старше 50 лет страдает от симптомов аденомы простаты. Считается, что это заболевание со временем развивается у 85 % мужчин.
                            Доброкачественная гиперплазия предстательной железы, или аденома простаты — это доброкачественная опухоль предстательной железы, приводящая к нарушениям мочеиспускания.
                            <br>
                            Основная причина возникновения аденомы— возрастные гормональные изменения.
                            При аденоме увеличенная предстательная железа сдавливает проходящий через нее мочеиспускательный канал. Это вызывает невыносимые симптомы аденомы — различные нарушения мочеиспускания (учащенное, прерывистое, затрудненное мочеиспускание, вплоть до задержки мочи, ослабление струи мочи, невозможность удержать мочу при возникновении позыва).
                        </div>
                        <button class="article__button js-open-btn"></button>
                    </div>
                </a>
            </div>

        </div>
        <div class="preparat">
            <div class="preparat__head">
                <h2>ИндигалПлюс</h2>
            </div>
            <div class="preparat__sub-head">Поможет разрулить ситуацию с простатитом</div>
        </div>
    </div>



    <div class="types__image">
        <img src="images/tip_car.jpg" alt="">
    </div>
    <div class="signals__side">
        <img src="images/side_pic.jpg" alt="">
    </div>
</div>