//= partials/head.html

<div class="global-wrapper">
    //= partials/header.html
    <div class="main">
        //= partials/slider.html
        //= partials/test.html
        //= partials/signals.html
        //= partials/types.html
        //= partials/more.html
        //= partials/components.html
        //= partials/map.html
        //= partials/drive.html
    </div>
    //= partials/hidden-block.html
    //= partials/footer.html

</div>
</body>
</html>